/*--------------------------------------------------
Ember 0.6.2
University of Alabama at Birmingham
Department of Information Technology
2019 Mozilla Public License 2.0
https://github.com/UAB-IT/Ember
--------------------------------------------------*/
/*--------------------------------------------------
START CORE
Required css for Ember to function. Includes SCSS variables and CSS Resets.
Helpers are in the Core category, but are included at the end of the Ember code block.
--------------------------------------------------*/
/*------------------------
START RESET
------------------------*/
/* Reset most properties from most elements */
/* Reset font size, family, and color on inline tags */
body.linear.hd h1 a,
body.linear.hd h1 strong,
body.linear.hd h1 b,
body.linear.hd h1 span,
body.linear.hd h2 a,
body.linear.hd h2 strong,
body.linear.hd h2 b,
body.linear.hd h2 span,
body.linear.hd h3 a,
body.linear.hd h3 strong,
body.linear.hd h3 b,
body.linear.hd h3 span,
body.linear.hd h4 a,
body.linear.hd h4 strong,
body.linear.hd h4 b,
body.linear.hd h4 span,
body.linear.hd #footer a,
body.linear.hd #footer span,
body.linear.hd b,
body.linear.hd span,
body.linear.hd strong,
body.linear.hd em {
  color: inherit;
  font-size: inherit;
  font-family: inherit !important;
}

body.linear.hd .categories-list h3 a,
body.linear.hd span,
body.linear.hd #rightsidebar h4 .mod-articles-category-title {
  font-weight: inherit !important;
}

body.linear.hd h5 {
  font-family: "kulturista-web", serif !important;
}

/* Reset font size, family, and color on inline tags in headers */
/* I'm not sure if any of these are used, so I'm commenting them out for now */
body.linear.hd a {
  color: inherit;
  font-weight: normal;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  text-decoration: none;
}

.page-header {
  margin: 0;
  padding: 0;
  border: 0;
}

body.hd .latestnews li,
body.hd .relateditems li,
body.hd .mostread li,
body.hd .newsfeed li,
body.hd .sections li,
body.hd .weblinks li,
body.hd .k2ItemsBlock li,
body.hd .category-module,
body.hd .moduleCustomLink,
body.hd .rightsidebar .nav.menu li {
  float: none;
  width: 100%;
}

/* Allow content to expand to full viewport width */
body.ribbonFullwidth #whitebox {
  overflow: visible;
}

/* Clearfix for main area.
This fixes layout problems from changing overflow property */
#whitebox::after {
  content: '';
  visibility: hidden;
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

body.ribbonFullwidth #wrapper {
  overflow-x: hidden;
}

/*------------------------
END RESET
------------------------*/
/*--------------------------------------------------
END CORE - START BASICS
Basic styling for html elements with a focus on typography.
--------------------------------------------------*/
/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
SPACING
------------------------ */
body.linear.hd h1,
body.linear.hd h2,
body.linear.hd h3,
body.linear.hd h4,
body.linear.hd h5,
body.linear.hd h6 {
  font-weight: normal;
  font-family: "kulturista-web", serif;
  margin: 0;
  color: inherit;
  text-align: inherit;
}

body.linear.hd [role='main'] h1,
body.linear.hd [role='main'] h2,
body.linear.hd [role='main'] h3,
body.linear.hd [role='main'] h4,
body.linear.hd [role='main'] h5,
body.linear.hd [role='main'] h6 {
  margin-bottom: 1.6rem;
}

body.linear.hd [role='main'] :not(div) + h1,
body.linear.hd [role='main'] :not(div) + h2,
body.linear.hd [role='main'] :not(div) + h3,
body.linear.hd [role='main'] :not(div) + h4,
body.linear.hd [role='main'] :not(div) + h5,
body.linear.hd [role='main'] :not(div) + h6 {
  margin-top: 3.2rem;
}

body.linear.hd [role='main'] h1 + h2,
body.linear.hd [role='main'] h2 + h3,
body.linear.hd [role='main'] h3 + h4,
body.linear.hd [role='main'] h4 + h5,
body.linear.hd [role='main'] h5 + h6 {
  margin-top: 0;
}

p,
body.linear.hd hr,
pre,
blockquote {
  margin-bottom: 1.6rem;
  margin-top: 0;
}

/* ------------------------
TYPESETTING
------------------------ */
/* ID is used here to overwrite equally high specificity from style.css */
body.linear.hd h1,
body.linear.hd .uk-h1 {
  font-size: 3.05176rem;
  line-height: 3.2rem;
}

body.linear.hd h2,
body.linear.hd .uk-h2 {
  font-size: 1.95312rem;
  line-height: 2.4rem;
}

body.linear.hd h3,
#leftcolumn h3,
body.linear.hd .uk-h3 {
  font-size: 1.5625rem;
  line-height: 1.6rem;
}

body.linear.hd h4,
body.linear.hd .uk-h4 {
  font-size: 1.25rem;
  line-height: 1.6rem;
}

body.linear.hd h5,
body.linear.hd .uk-h5 {
  font-size: 1rem;
  line-height: 1.6rem;
}

body.linear.hd h6,
body.linear.hd .uk-h6 {
  font-size: 1rem;
  line-height: 1.6rem;
}

body,
body.linear.hd p {
  font-size: 1rem;
  line-height: 1.6rem;
}

body.linear.hd small {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/*------------------------
RULE LINES
------------------------*/
body.linear.hd hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: black;
}

body.linear.hd h1 + hr,
body.linear.hd h2 + hr,
body.linear.hd h3 + hr,
body.linear.hd h4 + hr,
body.linear.hd h5 + hr,
body.linear.hd h6 + hr {
  margin-top: -1.6rem;
  /* Allows headers to sit on horizontal rules */
}

/*------------------------
LINKS
------------------------*/
/* Applies link styles to content areas only. Less specific than an id.
Div is used here because .ribbonFullwidth is also on the body element. */
p a[href]:not(.unstyled),
li a[href]:not(.unstyled),
h1 a[href]:not(.unstyled),
h2 a[href]:not(.unstyled),
h3 a[href]:not(.unstyled),
h4 a[href]:not(.unstyled),
h5 a[href]:not(.unstyled),
h6 a[href]:not(.unstyled),
table a[href]:not(.unstyled),
dl a[href]:not(.unstyled),
pre a[href]:not(.unstyled) {
  border-bottom: 2px solid #78a697;
}

p a[href]:not(.unstyled):hover,
li a[href]:not(.unstyled):hover,
h1 a[href]:not(.unstyled):hover,
h2 a[href]:not(.unstyled):hover,
h3 a[href]:not(.unstyled):hover,
h4 a[href]:not(.unstyled):hover,
h5 a[href]:not(.unstyled):hover,
h6 a[href]:not(.unstyled):hover,
table a[href]:not(.unstyled):hover,
dl a[href]:not(.unstyled):hover,
pre a[href]:not(.unstyled):hover {
  background-color: #d2e1dc;
  border-color: #1E6B52;
}

/* ------------------------
INLINE
------------------------ */
mark,
code,
kbd {
  padding: 0 0.2em 0.1em;
}

mark,
::selection {
  background-color: #d2e1dc;
}

/*
strong,
b {
  font-weight: bolder;
}

em,
i,
dfn,
cite {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
*/
/*------------------------
PREFORMATTED
------------------------*/
code {
  background-color: #e6e6e7;
  color: #4d4e50;
  border-radius: 4px;
  white-space: pre;
}

pre {
  white-space: pre-wrap;
}

pre > code {
  display: block;
  padding: 1.6rem;
  white-space: inherit;
}

kbd {
  background-color: #333435;
  color: #f2f3f3;
  border-radius: 4px;
  white-space: pre;
}

/*------------------------
END TYPOGRAPHY
------------------------*/
/*------------------------
START LISTS
------------------------*/
body.linear.hd ul,
body.linear.hd ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

body.linear.hd li {
  list-style-position: inherit;
}

body.linear.hd .item-page ul:not(.unstyled),
body.linear.hd .item-page ol:not(.unstyled) {
  margin-left: 1.2em;
}

body.linear.hd .item-page ul.outside,
body.linear.hd .item-page ol.outside {
  margin-left: 0;
}

body.linear.hd .item-page ul,
body.linear.hd .item-page ol,
body.linear.hd .item-page dl {
  margin-bottom: 0.8rem;
}

body.linear.hd ul:not(.unstyled) ul,
body.linear.hd ul:not(.unstyled) ol,
body.linear.hd ol:not(.unstyled) ol,
body.linear.hd ol:not(.unstyled) ul {
  margin-bottom: 0;
  margin-left: 1em;
}

body.linear.hd .item-page ul:not(.unstyled) {
  list-style-type: disc;
}

body.linear.hd .item-page ul:not(.unstyled) ul {
  list-style-type: circle;
}

body.linear.hd .item-page ul:not(.unstyled) ul ul {
  list-style-type: square;
}

body.linear.hd .item-page ol:not(.unstyled) {
  list-style-type: decimal;
}

body.linear.hd .item-page ol:not(.unstyled) ol {
  list-style-type: upper-latin;
}

body.linear.hd .item-page ol:not(.unstyled) ol ol {
  list-style-type: lower-latin;
}

body.linear.hd dt {
  font-weight: bolder;
}

dd {
  margin-bottom: 0.8rem;
  margin-left: 1em;
}

/* Gets rid of bootstrap style */
#content li {
  margin: 0;
}

#content ul:not(.unstyled) li,
#content ol:not(.unstyled) li {
  margin: 0.8rem 0 0;
}

/*------------------------
END LISTS
------------------------*/
/*------------------------
START TABLES
------------------------*/
body.linear.hd table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  margin-bottom: 1.6rem;
}

body.linear.hd table tr td,
body.linear.hd table tr th {
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.8rem;
  text-align: inherit;
}

body.linear.hd table thead th {
  font-weight: normal;
  font-family: "kulturista-web", serif;
  font-size: 1.25rem;
  line-height: 1.6rem;
}

body.linear.hd table pre,
body.linear.hd table p {
  margin: 0;
}

/* START OVERRIDES */
.table-bordered {
  border: 0;
  border-collapse: collapse;
  border-radius: 0;
}

.table-bordered th,
.table-bordered td {
  border: 0;
}

table.category td {
  border: 0;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background: none;
  background-color: transparent;
  background-image: none;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background: none;
  background-color: transparent;
  background-image: none;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}

/* END OVERRIDES */
body.linear.hd table.table-striped tr td,
body.linear.hd table.table-striped tr th {
  border: 0;
}

body.linear.hd .table-striped tbody > tr:nth-child(odd) {
  background: #f2f3f3;
}

body.linear.hd .category.table tbody a {
  border: 0;
  text-decoration: underline;
}

/*------------------------
END TABLES
------------------------*/
/*------------------------
START MEDIA
------------------------*/
img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 1.6rem;
}

figure img {
  margin: 0;
}

figure {
  margin-bottom: 1.6rem;
}

iframe {
  margin-bottom: 1.6rem;
}

figure figcaption {
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: center;
  margin: 1.6rem 0;
}

@media all and (max-width: 1800px) {
  body.linear.hd .off-canvas-img {
    position: relative;
    align-self: flex-start;
  }
  body.linear.hd .off-canvas-img > img {
    max-width: 100vw;
    width: auto;
    height: 70vh;
    position: absolute;
    left: 0;
  }
}

/*------------------------
END MEDIA
------------------------*/
/*------------------------
START BUTTONS
------------------------*/
body.linear.hd button,
body.linear.hd .button,
body.linear.hd .btn-primary,
body.linear.hd .btn--full,
body.linear.hd .btn,
body.linear.hd input[type='submit'],
body.linear.hd input[type='reset'],
body.linear.hd input[type='button'] {
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #333435;
  color: #333435;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.3em 1em;
  text-align: center;
  margin-bottom: 1.6rem;
  white-space: nowrap;
  box-sizing: border-box;
}

body.linear.hd button:focus, body.linear.hd button:hover,
body.linear.hd .button:focus,
body.linear.hd .button:hover,
body.linear.hd .btn-primary:focus,
body.linear.hd .btn-primary:hover,
body.linear.hd .btn--full:focus,
body.linear.hd .btn--full:hover,
body.linear.hd .btn:focus,
body.linear.hd .btn:hover,
body.linear.hd input[type='submit']:focus,
body.linear.hd input[type='submit']:hover,
body.linear.hd input[type='reset']:focus,
body.linear.hd input[type='reset']:hover,
body.linear.hd input[type='button']:focus,
body.linear.hd input[type='button']:hover {
  outline: 0;
  text-decoration: none;
  border-color: #1E6B52;
  box-shadow: 0 0 0 1px #1E6B52;
  background: #d2e1dc;
  color: black;
}

body.linear.hd a.btn-primary,
body.linear.hd button.btn-primary {
  color: white;
  background: #1E6B52;
  border-radius: 4px;
  border: 1px solid #1E6B52;
}

body.linear.hd p button,
body.linear.hd p .button,
body.linear.hd p .btn-primary,
body.linear.hd p .btn--full,
body.linear.hd p .btn,
body.linear.hd p input[type='submit'],
body.linear.hd p input[type='reset'],
body.linear.hd p input[type='button'] {
  margin: 0;
}

/*------------------------
END BUTTONS
------------------------*/
/*------------------------
START FORMS
------------------------*/
/*------------------------
START BTN TOOLBAR
------------------------*/
.btn-toolbar {
  margin: 0 0 1.6rem;
}

#undefined {
  margin: 0;
}

.input-group {
  display: flex;
  margin-bottom: 1.6rem;
}

body.linear.hd .input-group button,
body.linear.hd .input-group input {
  margin: 0;
}

body.linear.hd .input-group input {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body.linear.hd .input-group button {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*------------------------
END BTN TOOLBAR
------------------------*/
/*------------------------
Standard Inputs
------------------------*/
legend {
  font-weight: normal;
  font-family: "kulturista-web", serif;
  color: inherit;
  font-size: 1.25rem;
  line-height: 1.6rem;
}

body.linear.hd .uneditable-input,
body.linear.hd textarea,
body.linear.hd progress,
body.linear.hd fieldset,
body.linear.hd input {
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-sizing: border-box;
  height: auto;
}

body.linear.hd .uneditable-input,
body.linear.hd textarea,
body.linear.hd progress,
body.linear.hd fieldset,
body.linear.hd input {
  color: black;
  padding: 0.3em 1em;
  border-radius: 0;
  border: 1px solid black;
}

body.linear.hd input,
body.linear.hd textarea {
  display: block;
  width: 100%;
  background-color: white;
}

body.linear.hd textarea {
  height: 6.4rem;
  resize: vertical;
  overflow-y: scroll;
}

body.linear.hd textarea:focus,
body.linear.hd input:focus,
body.linear.hd select:focus {
  border-color: #80BC00 !important;
  box-shadow: 0 0 0 1px #80BC00;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 2px auto #1E6B52;
}

/*--------------------------------------------------
END BASICS - START COMPONENTS
Self contained chunks of content with their visual styling.
--------------------------------------------------*/
/*------------------------
START PANELS
------------------------*/
body .panels > a,
.cards > div {
  border-radius: 4px;
  border: 1px solid black;
  padding: 1.6rem;
  background: white;
}

body .panels > a:hover {
  outline: 0;
  text-decoration: none;
  border-color: #1E6B52;
  box-shadow: 0 0 0 1px #1E6B52;
  background: #d2e1dc;
  color: black;
}

.panels > a h4 {
  display: inline-block;
  margin-top: 0;
  border-bottom: 2px solid #78a697;
}

.panels > a:hover h4 {
  background-color: #d2e1dc;
  border-color: #1E6B52;
}

.panels > a p:last-child {
  margin-bottom: 0;
}

.uk-panel-box {
  padding: 1.6rem;
}

.uk-panel-title,
.uk-panel-box-primary,
.uk-panel-box,
.uk-panel-box .uk-panel-title,
.uk-panel-box-hover:hover,
.uk-panel-box-primary .uk-panel-title,
.uk-panel-box-primary-hover:hover {
  color: black;
}

body.linear.hd .wk-panels .uk-panel-title {
  margin-top: 0;
}

body.linear.hd .wk-panels .uk-panel {
  background: white;
  border-radius: 4px;
  border: 1px solid black;
  padding: 1.6rem;
}

body.linear.hd a.uk-position-cover {
  opacity: 0 !important;
}

body.linear.hd .wk-panels .uk-panel p:last-child {
  margin: 0;
}

body.linear.hd .wk-panels .uk-panel:hover {
  outline: 0;
  text-decoration: none;
  border-color: #1E6B52;
  box-shadow: 0 0 0 1px #1E6B52;
  background: #d2e1dc;
  color: black;
}

body.linear.hd .wk-panels .uk-panel:hover h3 a {
  border-color: #1E6B52;
}

/*------------------------
END PANELS
------------------------*/
/*------------------------
START FEATURES

This uses widgetkit for layout
------------------------*/
body.linear.hd .wk-features .uk-panel p {
  margin: 0;
}

body.linear.hd .wk-features .uk-panel img {
  height: 7rem;
  width: auto;
  display: block;
  margin: auto;
}

body.linear.hd .wk-features .uk-panel-title {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}

/*------------------------
END FEATURES
------------------------*/
/*------------------------
START GALLERY

This uses widgetkit for layout
------------------------*/
body.linear.hd .wk-gallery p {
  margin: 0;
  text-align: center;
}

/*------------------------
END GALLERY
------------------------*/
/*------------------------
START ANCHORS
------------------------*/
h2[id] {
  position: relative;
}

h2[id] a.anchor {
  border: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  left: -1em;
  width: 1.5em;
  height: 1em;
}

h2[id]:hover a.anchor {
  opacity: 1;
}

h2[id] a.anchor:hover {
  background: none;
  background-color: transparent;
  background-image: none;
  margin: 0;
}

h2[id] a.anchor::before {
  content: '\e252';
  /*72*/
  font-size: 70%;
  color: #80BC00;
  font-family: 'IcoMoon';
  speak: none;
}

/*------------------------
END ANCHORS
------------------------*/
/*------------------------
START CHIPS
------------------------*/
/* Joomla generated chips */
.label-info,
.badge-info,
.badge,
.label,
.label-info[href],
.badge-info[href] {
  border: 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
  color: inherit;
  font-size: 0.8rem;
  line-height: 1.6rem;
  background-color: #e6e6e7;
  padding: 0.1em 0.7em;
}

/*------------------------
END CHIPS
------------------------*/
/*------------------------
START OVERLAY
------------------------*/
.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  background-color: #295135;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
}

.overlay:hover::before {
  content: '';
  opacity: 0;
}

/*------------------------
END OVERLAY
------------------------*/
/*------------------------
START ALERT
------------------------*/
/* remove default alert styling */
.alert {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.alert,
.alert h4 {
  color: inherit;
}

/* Apply the alert style to the alert container */
.moduletable.alert {
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fbe1dc;
  border-radius: 4px;
  border: 2px solid #EA6852;
  padding: 0.3em 1em;
  margin-bottom: 1.6rem;
}

/* Adjust link styles for links that appear inside an alert */
div.ribbonFullwidth .alert a {
  border-color: #EA6852;
}

div.ribbonFullwidth .alert a:hover {
  border-color: #EA6852;
  background-color: #f7c3ba;
}

/* Remove bottom margin from paragraphs in an alert */
.alert p {
  margin: 0;
}

/* Add styling to hide IE alert on non-IE browsers */
.ie-alert {
  display: none;
}

/* Add margin between alerts and content. Should equal the margin between
the banner and content */
body.linear.hd #breadcrumbs > :last-child {
  margin-bottom: 4.8rem;
}

/*------------------------
END ALERT
------------------------*/
/*------------------------
START PAGINATION
------------------------*/
.pagination {
  margin: 0;
  margin-bottom: 1.6rem;
}

.pagination ul {
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.pagination ul > li > a,
.pagination ul > li > span {
  display: inline-block;
  border: 0 solid transparent;
  border-radius: 4px;
  border: none solid black;
  padding: 0.3em 1em;
  margin: 0 0.8rem;
}

.pagination ul > li > span {
  border-bottom: 2px solid #80BC00;
}

.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-next > a {
  margin: 0;
  border: 1px solid #1E6B52;
  color: #1E6B52;
}

.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-prev > span,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-next > span {
  margin: 0;
  border-radius: 4px;
  border: 1px solid #b3b4b6;
  color: #b3b4b6;
  background: #f2f3f3;
}

.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span {
  margin-right: 0.8rem;
}

.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  margin-left: 0.8rem;
}

/*------------------------
END PAGINATION
------------------------*/
/*------------------------
START SLIDESHOW
------------------------*/
/* NOTE: The slideshow component is built in widgetkit - not html */
/* Remove margins from slider elements. This will make sure the
background image doesn't get cropped since widgetkit doesn't
account for the margins in the sizing of the slideshow. */
body.linear.hd #content .item-page ul.uk-slideshow,
body.linear.hd #content .item-page ul.uk-slideshow li,
body.linear.hd #content .item-page ul.uk-slideshow img {
  margin: 0;
}

/*------------------------
END SLIDESHOW
------------------------*/
/*------------------------
START PULLQUOTE
------------------------*/
body.linear.hd .pullquote {
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  background-color: #f2f3f3;
  border-left: 5px solid #80BC00;
}

body.linear.hd .background .pullquote {
  background-color: #e6e6e7;
}

body.linear.hd .pullquote p,
body.linear.hd .pullquote q {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6rem;
  display: block;
}

body.linear.hd .pullquote footer {
  text-align: right;
  margin-top: 0.8rem;
}

/*------------------------
END PULLQUOTE
------------------------*/
/*------------------------
START DETAILS
------------------------*/
body.linear.hd .wk-details .uk-panel p {
  margin: 0;
}

body.linear.hd .wk-details .uk-panel img {
  height: 5rem;
  width: auto;
  display: block;
  margin: auto;
}

body.linear.hd .wk-details.uk-text-left .uk-panel img {
  margin: 0;
}

body.linear.hd .wk-details .uk-panel-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin-bottom: -0.8rem;
}

/*------------------------
END DETAILS
------------------------*/
/*--------------------------------------------------
END COMPONENTS - START LAYOUT
CSS that helps with page layout, from site wide edits to page specific layout.
--------------------------------------------------*/
/*--------------------------------------------------
START GRID
--------------------------------------------------*/
/*------------------------
START IE FALLBACK
------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [class*='grid-2'],
  [class*='grid-3'],
  [class*='grid-4'],
  [class*='grid-6'] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }
  [class*='grid-2'] > *,
  [class*='grid-3'] > *,
  [class*='grid-4'] > *,
  [class*='grid-6'] > * {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem;
  }
  .span-1 {
    flex-grow: 1;
  }
  .span-2 {
    flex-grow: 2;
  }
  .span-3 {
    flex-grow: 3;
  }
  .span-4 {
    flex-grow: 4;
  }
  .span-5 {
    flex-grow: 5;
  }
  .grid--no-gap,
  .grid--no-gap > * {
    margin: 0;
  }
  .grid-6 > *,
  .grid-6 > .span-1,
  .grid-6-md > *,
  .grid-6-md > .span-1-md,
  .grid-6-lg > *,
  .grid-6-lg > .span-1 {
    width: 14.4%;
  }
  .grid-4 > *,
  .grid-4 .span-1,
  .grid-4-md > *,
  .grid-4-md .span-1-md,
  .grid-4-lg > *,
  .grid-4-lg .span-1-lg {
    width: 21.6%;
  }
  .grid-3 > *,
  .grid-3 > .span-1,
  .grid-6 > .span-2,
  .grid-3-md > *,
  .grid-3-md > .span-1-md,
  .grid-6-md > .span-2-md,
  .grid-3-lg > *,
  .grid-3-lg > .span-1-lg,
  .grid-6-lg > .span-2-lg {
    width: 28.8%;
  }
  .grid-2 > *,
  .grid-2 > .span-1,
  .grid-4 > .span-2,
  .grid-6 > .span-3,
  .grid-2-md > *,
  .grid-2-md > .span-1-md,
  .grid-4-md > .span-2-md,
  .grid-6-md > .span-3-md,
  .grid-2-lg > *,
  .grid-2-lg > .span-1-lg,
  .grid-4-lg > .span-2-lg,
  .grid-6-lg > .span-3-lg {
    width: 43.2%;
  }
  .grid-3 > .span-2,
  .grid-6 > .span-4,
  .grid-3-md > .span-2-md,
  .grid-6-md > .span-4-md,
  .grid-3-lg > .span-2-lg,
  .grid-6-lg > .span-4-lg {
    width: 57.6%;
  }
  .grid-4 > .span-3,
  .grid-4-md > .span-3-md,
  .grid-4-lg > .span-3-lg {
    width: 64.8%;
  }
  .grid-6 > .span-5,
  .grid-6-md > .span-5-md,
  .grid-6-lg > .span-5-lg {
    width: 72%;
  }
  .grid-2 > .span-2,
  .grid-3 > .span-3,
  .grid-4 > .span-4,
  .grid-6 > .span-6,
  .grid-2-md > .span-2-md,
  .grid-3-md > .span-3-md,
  .grid-4-md > .span-4-md,
  .grid-6-md > .span-6-md,
  .grid-2-lg > .span-2-lg,
  .grid-3-lg > .span-3-lg,
  .grid-4-lg > .span-4-lg,
  .grid-6-lg > .span-6-lg {
    width: 86.4%;
  }
}

/*------------------------
END IE FALLBACK
------------------------*/
@supports (display: grid) {
  [class*='grid-2'] > [class*='span-'],
  [class*='grid-3'] > [class*='span-'],
  [class*='grid-4'] > [class*='span-'],
  [class*='grid-6'] > [class*='span-'],
  [class*='grid-2'] > *,
  [class*='grid-3'] > *,
  [class*='grid-4'] > *,
  [class*='grid-6'] > *,
  [class*='grid-2'],
  [class*='grid-3'],
  [class*='grid-4'],
  [class*='grid-6'] {
    width: 100%;
    margin: 0;
  }
  [class*='grid-1'],
  [class*='grid-2'],
  [class*='grid-3'],
  [class*='grid-4'],
  [class*='grid-6'] {
    margin-bottom: 1.6rem;
    display: grid;
    grid-gap: 3.2rem;
    grid-auto-flow: row;
  }
  .grid--no-gap {
    grid-gap: 0;
  }
  .grid--gap-sm {
    grid-gap: 1.6rem;
  }
  .grid--gap-md {
    grid-gap: 3.2rem;
  }
  .grid--gap-lg {
    grid-gap: 6.4rem;
  }
}

.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-1 > .span-1,
.grid-2 > .span-1,
.grid-3 > .span-1,
.grid-4 > .span-1,
.grid-6 > .span-1 {
  grid-column: span 1;
}

.grid-2 > .span-2,
.grid-3 > .span-2,
.grid-4 > .span-2,
.grid-6 > .span-2 {
  grid-column: span 2;
}

.grid-3 > .span-3,
.grid-4 > .span-3,
.grid-6 > .span-3 {
  grid-column: span 3;
}

.grid-4 > .span-4,
.grid-6 > .span-6 {
  grid-column: span 4;
}

.grid-6 > .span-5 {
  grid-column: span 5;
}

.grid-6 > .span-6 {
  grid-column: span 6;
}

@media all and (min-width: 760px) {
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-1-sm > .span-1-sm,
  .grid-2-sm > .span-1-sm,
  .grid-3-sm > .span-1-sm,
  .grid-4-sm > .span-1-sm,
  .grid-6-sm > .span-1-sm {
    grid-column: span 1;
  }
  .grid-2-sm > .span-2-sm,
  .grid-3-sm > .span-2-sm,
  .grid-4-sm > .span-2-sm,
  .grid-6-sm > .span-2-sm {
    grid-column: span 2;
  }
  .grid-3-sm > .span-3-sm,
  .grid-4-sm > .span-3-sm,
  .grid-6-sm > .span-3-sm {
    grid-column: span 3;
  }
  .grid-4-sm > .span-4-sm,
  .grid-6-sm > .span-6-sm {
    grid-column: span 4;
  }
  .grid-6-sm > .span-5-sm {
    grid-column: span 5;
  }
  .grid-6-sm > .span-6-sm {
    grid-column: span 6;
  }
}

@media all and (min-width: 761px) {
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-1-md > .span-1-md,
  .grid-2-md > .span-1-md,
  .grid-3-md > .span-1-md,
  .grid-4-md > .span-1-md,
  .grid-6-md > .span-1-md {
    grid-column: span 1;
  }
  .grid-2-md > .span-2-md,
  .grid-3-md > .span-2-md,
  .grid-4-md > .span-2-md,
  .grid-6-md > .span-2-md {
    grid-column: span 2;
  }
  .grid-3-md > .span-3-md,
  .grid-4-md > .span-3-md,
  .grid-6-md > .span-3-md {
    grid-column: span 3;
  }
  .grid-4-md > .span-4-md,
  .grid-6-md > .span-6-md {
    grid-column: span 4;
  }
  .grid-6-md > .span-5-md {
    grid-column: span 5;
  }
  .grid-6-md > .span-6-md {
    grid-column: span 6;
  }
}

@media all and (min-width: 1024px) {
  .grid-1-lg {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-1-lg > .span-1-lg,
  .grid-2-lg > .span-1-lg,
  .grid-3-lg > .span-1-lg,
  .grid-4-lg > .span-1-lg,
  .grid-6-lg > .span-1-lg {
    grid-column: span 1;
  }
  .grid-2-lg > .span-2-lg,
  .grid-3-lg > .span-2-lg,
  .grid-4-lg > .span-2-lg,
  .grid-6-lg > .span-2-lg {
    grid-column: span 2;
  }
  .grid-3-lg > .span-3-lg,
  .grid-4-lg > .span-3-lg,
  .grid-6-lg > .span-3-lg {
    grid-column: span 3;
  }
  .grid-4-lg > .span-4-lg,
  .grid-6-lg > .span-6-lg {
    grid-column: span 4;
  }
  .grid-6-lg > .span-5-lg {
    grid-column: span 5;
  }
  .grid-6-lg > .span-6-lg {
    grid-column: span 6;
  }
}

/*--------------------------------------------------
END GRID
--------------------------------------------------*/
body.ribbonFullwidth #whitebox {
  margin: 6.4rem auto;
}

/* Remove odd margins from main column since that spacing is handled
through the whitebox now */
body.hd.inside #maincolumn-l,
body.hd.inside #maincolumn-r,
body.hd.inside #maincolumn-l-r,
body.hd.inside #maincolumn-wide {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Make sure left sidebar is sized consistantly
remove padding since there is no background - see _sidebar.scss */
body.hd.sidebars #leftcolumn {
  width: 100%;
}

/* correct max width on pages without sidebar */
body.hd.inside #whitebox {
  max-width: 1280px;
}

/* Section spacing */
.section {
  margin: 6.4rem 0;
}

.section.background {
  margin: 6.4rem 0;
  padding: 3.2rem;
}

.background {
  background-color: #f2f3f3;
}

.section.background-full {
  margin: 6.4rem 0;
  padding: 6.4rem 0;
  position: relative;
}

.section.background-full::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150vw;
  margin-left: -50vw;
  background-color: #f2f3f3;
  z-index: -1;
}

.hero-sect {
  /*height: 70vh;*/
  margin-top: -3.2rem;
  align-items: center;
}

body.linear.hd .section > :last-child {
  margin-bottom: 0;
}

body.linear.hd .section > [id]:last-of-type {
  margin-bottom: 0;
}

body.linear.hd [itemprop='articleBody'] > :first-child {
  margin-top: 0;
}

body.linear.hd [itemprop='articleBody'] > :last-child {
  margin-bottom: 0;
}

body.linear.hd [class*='grid-1'] > * :last-child,
body.linear.hd [class*='grid-2'] > * :last-child,
body.linear.hd [class*='grid-3'] > * :last-child,
body.linear.hd [class*='grid-4'] > * :last-child,
body.linear.hd [class*='grid-6'] > * :last-child {
  margin-bottom: 0;
}

/* Add space after the banner and before the footer
Add minimal side margins through padding. Prevents content
from hitting edge of screen on mobile */
body.ribbonFullwidth #whitebox {
  padding: 0 1.6rem;
}

/* Decrease the width by the amount of padding on it's parent
This makes sure it aligns properly at max width */
body.linear.hd div.topLinearLogo {
  max-width: calc( 1280px - 3.2rem);
}

body.hd #content {
  margin: 0;
  width: 100%;
}

/* Add space to both sides of all 100% width containers */
body.hd #whitebar,
body.linear.hd .topLinearContainer,
body.hd #ribbon,
#banner .moduletable {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

/* Remove arbitrary margins , since the padding on the whitebar
serves the same purpose */
body.linear.hd #siteName,
body.linear.hd #search form {
  margin-right: 0;
  margin-left: 0;
}

/* Add more consistant gap between sidebars and main content*/
body.hd.inside #maincolumn-l {
  margin: 0 0 0 3.2rem !important;
}

body.hd.inside #maincolumn-r {
  margin: 0 3.2rem 0 0 !important;
}

body.hd.inside #maincolumn-l-r {
  margin: 0 1.6rem !important;
}

/* Remove paddings from module tables */
#leftcolumn .moduletable {
  padding: 0;
}

/* Add vertical rhythem spacing to the widgetkit margins */
* + .uk-margin {
  margin-top: 1.6rem;
}

.uk-margin {
  margin-bottom: 1.6rem;
}

.uk-grid {
  margin-left: -3.2rem;
}

[id].uk-grid {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.uk-grid > * {
  padding-left: 3.2rem;
}

.uk-grid-small {
  margin-left: -1.6rem;
}

.uk-grid-small > * {
  padding-left: 1.6rem;
}

.uk-grid-medium {
  margin-left: -3.2rem;
}

.uk-grid-medium > * {
  padding-left: 3.2rem;
}

.uk-grid-large {
  margin-left: -6.4rem;
}

.uk-grid-large > * {
  padding-left: 6.4rem;
}

.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
  margin-top: 3.2rem;
}

/*--------------------------------------------------
END LAYOUT - START SYNDICATION
Components that style syndicated content where we have limited control over
html and classes of the target elements.
--------------------------------------------------*/
/*------------------------
START CALENDAR
------------------------*/
body.linear.hd ul.localist-widget-eds {
  margin: 0;
}

body.linear.hd .localist-month,
.localist-day {
  background: #1E6B52;
  width: 60px;
}

body.linear.hd .localist-widget-eds div.localist-month {
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Kulturista-web', 'proxima-nova', sans-serif !important;
  margin-bottom: -1px;
}

body.linear.hd .localist-day {
  color: #FFF;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6rem;
  border-bottom: 4px solid #80BC00;
  padding-bottom: 0.4em;
}

body.linear.hd .localist-dateblock {
  margin-right: 0.8rem;
}

body.linear.hd .localist-widget-eds li {
  display: flex;
  margin-bottom: 0.8rem;
}

body.linear.hd .localist-title h4 {
  font-family: 'proxima-nova', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: -0.2em;
  margin-bottom: 0px;
}

body.linear.hd .localist-title h4 a {
  border-bottom: 2px solid transparent;
}

body.linear.hd .localist-otherdetails div,
.localist-otherdetails i {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

body.linear.hd .localist-venue {
  display: none;
}

/*------------------------
END CALENDAR
------------------------*/
/*------------------------
START NEWS FEEDS
------------------------*/
/* START NEWSFLASH */
body.linear.hd .item-page ul.newsflash-vert {
  overflow: visible;
  align-items: stretch;
  grid-gap: 3.2rem;
  margin: 0 0 1.6rem 0;
}

body.linear.hd li.newsflash-item {
  float: none;
  /* remove style from style.css */
  padding-bottom: 0;
  /* Provides space for read more */
  position: relative;
  /* Allows positioning of read more */
}

/* Allows re-ordering of item's content */
.it-news .newsflash-item {
  display: grid;
  grid-template-areas: 'image' 'title' 'footer';
  align-content: flex-start;
}

/* Item Title */
body.linear.hd .it-news .newsflash-title {
  padding: 0px;
  /* Removes padding from style.css */
  grid-area: title;
  /* Positions the title */
  display: block !important;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* Item Image Container (Figure) */
.it-news .newsflash-image {
  grid-area: image;
  /* Positions the Image */
  margin: 0;
  /* Removes margin from style.css */
  max-height: 16rem;
  /* Sets height of image, equal to 10 spaces */
  overflow: hidden;
  /* Prevents parts of cropped image from showing */
}

/* Item Image */
.it-news .newsflash-image img {
  width: 100%;
  max-height: 16rem;
  /* Crops image to size, equal to max height of it's container */
}

.it-news .article-separator {
  display: none;
  /* Removes space caused by an empty element */
}

.it-news li.newsflash-item {
  border: 0 solid transparent;
  /* Removes default border */
}

body.linear.hd .it-news li.newsflash-item p {
  margin: 0;
}

.it-news a.readmore {
  position: absolute;
  /* Allows positioning inside it's parent */
  left: 0;
  /*right: 0px;*/
  bottom: 0;
  /* Makes sure the link is at the bottom, even if more space exists */
  margin: 0;
  text-align: left;
}

/* END NEWS FLASH */
/* START ARTICLE FEED */
.it-feed .mod-articles-category-title {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0;
  font-family: "kulturista-web", serif;
}

body.linear.hd .it-feed .mod-articles-category-introtext {
  /*@include type-setting(sm);*/
  margin: 0.8rem 0 0;
}

.it-feed .mod-articles-category-readmore {
  margin: 0;
}

body.linear.hd ul.it-feed {
  margin: 0 0 1.6rem 0;
  list-style-type: none;
}

/*------------------------
END NEWS FEEDS
------------------------*/
/*------------------------
START SOCIAL ICONS
------------------------*/
/*------------------------
END SOCIAL ICONS
------------------------*/
/*--------------------------------------------------
END SYNDICATION - START AREAS
Edits to the Linear template areas.
Most edits undo Ember styling to keep template styles in those areas.
--------------------------------------------------*/
/*------------------------
START TOP NAVIGATION
------------------------*/
/* Removes link styles in the top navigation. Most of this styling is handled with central CSS. */
#ribbon .nav a {
  border: 0;
}

#ribbon .nav {
  margin-bottom: 0;
}

/*------------------------
END TOP NAVIGATION
------------------------*/
/*------------------------
START SEARCH
------------------------*/
body.linear.hd #search form {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

body.linear.hd #search button.btn-primary {
  color: white;
  background: #1E6B52;
  border-radius: 4px;
  border: 1px solid #1E6B52;
  margin: 0;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

body.linear.hd #search .btn-primary:focus, body.linear.hd #search .btn-primary:hover {
  outline: 0;
  text-decoration: none;
  border-color: #1E6B52;
  box-shadow: 0 0 0 1px #1E6B52;
  background: #d2e1dc;
  color: black;
}

body.linear.hd #search input {
  border: 1px solid #1E6B52;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

/*------------------------
END SEARCH
------------------------*/
/*------------------------
START QUICKLINKS
------------------------*/
#quicklinks ul {
  margin: 0;
}

/* Remove borders from quicklinks */
#quicklinks a,
#trigger {
  border: 0;
}

/* Ensure hover color is consistant */
#quicklinks .dropdown-submenu:hover > a,
#quicklinks .dropdown-submenu:focus > a,
#quicklinks .dropdown-menu > li > a:hover,
#quicklinks .dropdown-menu > li > a:focus,
#quicklinks .newsfeed > li:hover,
#quicklinks .newsfeed > li:focus {
  background-color: #d2e1dc;
}

/* Fix box shadow styles on quicklinks feed */
body.hd #quicklinks ul.nav-child.unstyled.dropdown-menu,
body.hd #quicklinks div.feed {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/*------------------------
END QUICKLINKS
------------------------*/
/*------------------------
START BANNER
------------------------*/
/* Set min height to the line height of h1 plus the top padding,
plus 1 line height for the margin below the header,
one line height for the margin above the header,
one line height for the breadcrumbs, and
one line height for the margin below the breadcrumbs. */
#banner {
  position: relative;
  padding-top: 12.8rem;
  min-height: 10rem;
}

/* Set the before and after elements to cover the banner area and send them to the back */
#banner::before,
#banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* Set default banner image and the banner's image's and position */
#banner::before {
  background: url("/it/home/images/banners/Default-WebHeader.jpg");
  /*Use article image */
  background-size: cover;
  background-position: bottom;
}

/* Add the image filter effect used on the banners */
#banner::after {
  background: #295135;
  mix-blend-mode: multiply;
}

/* Ensure content inside the banner stays within the width of the main column */
#banner .moduletable {
  max-width: 1280px;
  margin: auto;
}

body.linear.hd .stickyNav .page-header {
  float: none;
  max-width: 100%;
}

#banner h1 {
  margin-bottom: 1.6rem;
  color: white;
}

body.linear.hd .breadcrumb > li,
body.linear.hd .breadcrumb > .active {
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}

body.linear.hd .breadcrumb > li > .divider,
body.linear.hd .breadcrumb a,
body.linear.hd .breadcrumb > li > span {
  color: inherit;
  font-size: inherit;
}

body.linear.hd .breadcrumb {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1.6rem;
}

/* Remove main image */
body.linear.hd .item-image {
  display: none;
}

body.linear.hd.article-layout .item-page.article-layout .item-image {
  display: block;
}

/*------------------------
END BANNER
------------------------*/
/*------------------------
START SIDEBAR
------------------------*/
body.hd div.sidebar.gray,
body.hd div.sidebar.no-seal,
body.hd #leftcolumn.sidebarpanel.gray,
body.hd #sidebar_trigger.gray,
body.hd #leftcolumn.sidebarpanel.no-seal,
body.hd #sidebar_trigger.no-seal {
  font-size: inherit;
  background: none;
  background-color: transparent;
  background-image: none;
}

#leftcolumn ul.nav.menu a {
  margin: 0;
  border: 0;
  background: none;
  background-color: transparent;
  background-image: none;
  display: block;
  padding: 0.5em;
}

#leftcolumn ul.nav-child,
#leftcolumn ul {
  margin: 0;
}

#leftcolumn .sidebar li,
#leftcolumn .sidebar ul.menu li {
  padding: 0;
  font-weight: normal;
}

#leftcolumn ul.nav.menu .current > a {
  background-color: #f2f3f3;
}

#leftcolumn ul.nav.menu > .parent > a {
  font-family: "kulturista-web", serif;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: normal;
}

#leftcolumn ul.nav.menu a:hover {
  color: inherit !important;
  background-color: #e6e6e7;
}

#leftcolumn ul.nav.menu .nav-child .parent > ul a {
  margin-left: sp(5);
  border-left: 2px solid #1E6B52;
}

#leftcolumn .moduletable {
  margin-bottom: 3.2rem;
}

/*------------------------
END SIDEBAR
------------------------*/
/*------------------------
START FOOTER
------------------------*/
/* Adjust link colors in the footer section */
#footer a,
#lockedFooter a {
  color: white;
  border-color: #999b9d;
}

#footer a:hover,
#lockedFooter a:hover {
  border-color: #e6e6e7;
  background-color: initial;
}

/* Setup the flex container */
body.linear.hd #footer .IT-footer {
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

/* Force containers to be full width and add padding */
body.linear.hd #footer .IT-footer_left,
body.linear.hd #footer .IT-footer_right {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Align content */
body.linear.hd #footer .IT-footer_left p {
  text-align: right;
  margin: 0;
}

body.linear.hd #footer .IT-footer_right,
body.linear.hd #footer .IT-footer_right .social {
  text-align: left;
}

/* Add middle divider */
body.linear.hd #footer .IT-footer_right {
  border-left: 2px solid white;
}

/* Remove border from social media links. Add spacing between them. */
body.linear.hd #footer .IT-footer_right .social a {
  display: inline-block;
  border: 2px solid #999b9d;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
}

body.linear.hd #footer .IT-footer_right .social a:hover {
  border: 2px solid #e6e6e7;
}

/* Add spacing between logo and social links */
body.linear.hd #footer .IT-footer .social {
  margin-top: 1.6rem;
}

/* Set size of social media icons */
body.linear.hd #footer .IT-footer .social img {
  max-height: 1.5rem;
  margin: 0;
}

/* Set the size of the UAB logo */
body.linear.hd #footer .IT-footer_logo {
  max-height: 3.2rem;
  margin: 0;
}

/* Remove default padding on the footer */
body.linear.hd #footer,
#footer .moduletable {
  padding: 0;
}

/* Add 1 line between footer and locked footer to maintain vertical rythem */
#lockedFooter {
  padding-top: 1.6rem;
}

/*------------------------
END FOOTER
------------------------*/
/*------------------------
START ARTICLE
------------------------*/
body.linear.hd.article-layout .article-info {
  text-align: right;
  border-top: 1px solid black;
  margin-bottom: 0;
  padding-top: 1.6rem;
}

body.linear.hd.article-layout .article-info .icon-calendar {
  display: none;
}

body.linear.hd.article-layout #content .item-page.article-layout {
  max-width: 700px;
  margin: auto;
}

body.linear.hd.article-layout #content .item-page.article-layout figure {
  width: calc( 700px + 6.4rem);
  margin-left: -3.2rem;
}

body.linear.hd.article-layout .item-page.article-layout > div > .intro {
  width: calc( 700px + 6.4rem);
  margin-left: -3.2rem;
  padding: 1.6rem 3.2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/*------------------------
END ARTICLE
------------------------*/
/*--------------------------------------------------
END AREAS
--------------------------------------------------*/
/*------------------------
START HELPERS
------------------------*/
body.linear.hd .type-set-n1 {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

body.linear.hd .type-set-0 {
  font-size: 1rem;
  line-height: 1.6rem;
}

body.linear.hd .type-set-1 {
  font-size: 1.25rem;
  line-height: 1.6rem;
}

body.linear.hd .type-set-2 {
  font-size: 1.5625rem;
  line-height: 1.6rem;
}

body.linear.hd .type-set-3 {
  font-size: 1.95312rem;
  line-height: 2.4rem;
}

body.linear.hd .type-set-4 {
  font-size: 2.44141rem;
  line-height: 3.2rem;
}

body.linear.hd .type-set-5 {
  font-size: 3.05176rem;
  line-height: 3.2rem;
}

.txt-c {
  text-align: center !important;
}

.txt-l {
  text-align: left !important;
}

.txt-r {
  text-align: right !important;
}

.full {
  display: block;
  width: 100%;
}

[class*='-space-0'] {
  --u-space: 0;
}

[class*='-space-05'] {
  --u-space: 0.8rem;
}

[class*='-space-1'] {
  --u-space: 1.6rem;
}

[class*='-space-2'] {
  --u-space: 3.2rem;
}

[class*='-space-3'] {
  --u-space: 4.8rem;
}

[class*='-space-4'] {
  --u-space: 6.4rem;
}

[class*='margin-top-'] {
  margin-top: var(--u-space) !important;
}

[class*='margin-right-'] {
  margin-right: var(--u-space) !important;
}

[class*='margin-bottom-'] {
  margin-bottom: var(--u-space) !important;
}

[class*='margin-left-'] {
  margin-left: var(--u-space) !important;
}

[class*='padding-top-'] {
  padding-top: var(--u-space) !important;
}

[class*='padding-right-'] {
  padding-right: var(--u-space) !important;
}

[class*='padding-bottom-'] {
  padding-bottom: var(--u-space) !important;
}

[class*='padding-left-'] {
  padding-left: var(--u-space) !important;
}

/*------------------------
END HELPERS
------------------------*/
/*--------------------------------------------------
END - EMBER
--------------------------------------------------*/
body.linear.hd.it-home #banner h1 {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 4.6rem;
}

body.linear.hd.it-home #banner .breadcrumb {
  opacity: 0;
}

.it-home div.custom.twitter-feed h4,
.it-home div.custom.twitter-feed hr {
  display: none;
}
