@charset "UTF-8";
/*--------------------------------------------------
Ember 0.2.0
University of Alabama at Birmingham
Department of Information Technology
2019 Mozilla Public License 2.0
https://github.com/UAB-IT/Ember
--------------------------------------------------*/
/*--------------------------------------------------
START CORE
Required css for Ember to function. Includes SCSS variables and CSS Resets.
Helpers are in the Core category, but are included at the end of the Ember code block.
--------------------------------------------------*/
/*------------------------
START RESET
------------------------*/
/* Reset most properties from most elements */
* {
  margin: 0px;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.6rem;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  transition-property: none; }

/* Reset font size, family, and color on inline tags */
body.linear.hd h1 a,
body.linear.hd h1 strong,
body.linear.hd h1 b,
body.linear.hd h1 span,
body.linear.hd h2 a,
body.linear.hd h2 strong,
body.linear.hd h2 b,
body.linear.hd h2 span,
body.linear.hd h3 a,
body.linear.hd h3 strong,
body.linear.hd h3 b,
body.linear.hd h3 span,
body.linear.hd h4 a,
body.linear.hd h4 strong,
body.linear.hd h4 b,
body.linear.hd h4 span,
body.linear.hd #footer a,
body.linear.hd #footer span,
body.linear.hd b,
body.linear.hd span,
body.linear.hd strong,
body.linear.hd em {
  color: inherit;
  font-family: inherit;
  font-size: inherit; }

/* Reset font size, family, and color on inline tags in headers */
/* I'm not sure if any of these are used, so I'm commenting them out for now */
body.linear.hd h1,
body.linear.hd h2,
body.linear.hd h3,
body.linear.hd h4,
body.linear.hd h5 {
  text-align: inherit; }

body.linear.hd a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none; }

/*------------------------
END RESET
------------------------*/
/*--------------------------------------------------
END CORE - START BASICS
Basic styling for html elements with a focus on typography.
--------------------------------------------------*/
/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
FONTS
------------------------ */
body.linear.hd h1,
body.linear.hd h2,
body.linear.hd h3,
body.linear.hd h4,
body.linear.hd h5,
body.linear.hd h6 {
  font-family: 'kulturista-web', serif; }

/* ------------------------
TYPESETTING
------------------------ */
body.linear.hd h1 {
  font-size: 3.05176rem;
  line-height: 3.2rem; }

body.linear.hd h2 {
  font-size: 1.95312rem;
  line-height: 2.4rem; }

body.linear.hd h3,
#leftcolumn h3 {
  font-size: 1.5625rem;
  line-height: 1.6rem; }

body.linear.hd h4 {
  font-size: 1.25rem;
  line-height: 1.6rem; }

body.linear.hd h5 {
  font-size: 1rem;
  line-height: 1.6rem; }

body.linear.hd h6 {
  font-size: 1rem;
  line-height: 1.6rem; }

body,
body.linear.hd p {
  font-size: 1rem;
  line-height: 1.6rem; }

body.linear.hd small {
  font-size: 0.8rem;
  line-height: 1.6rem; }

/*------------------------
RULE LINES
------------------------*/
body.linear.hd hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: black; }

body.linear.hd h1 + hr,
body.linear.hd h2 + hr,
body.linear.hd h3 + hr,
body.linear.hd h4 + hr,
body.linear.hd h5 + hr,
body.linear.hd h6 + hr {
  margin-top: -1.6rem;
  /* Allows headers to sit on horizontal rules */ }

/*------------------------
LINKS
------------------------*/
/* Applies link styles to content areas only. Less specific than an id.
Div is used here because .ribbonFullwidth is also on the body element. */
a:focus,
:focus {
  outline: 5px auto #1E6B52; }

div.ribbonFullwidth a {
  border-bottom: 2px solid #78a697; }

div.ribbonFullwidth a[href]:hover {
  background-color: #d2e1dc;
  border-color: #1E6B52; }

/* ------------------------
INLINE
------------------------ */
mark,
code,
kbd {
  padding: 0 0.2em 0.1em 0.2em; }

mark,
::selection {
  background-color: #d2e1dc; }

strong,
b {
  font-weight: bolder; }

em,
i,
dfn,
cite {
  font-style: italic; }

del,
s {
  text-decoration: line-through; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*------------------------
PREFORMATTED
------------------------*/
code {
  background-color: #e6e6e7;
  color: #4d4e50;
  border-radius: 4px;
  white-space: pre; }

pre {
  white-space: pre-wrap; }

pre > code {
  display: block;
  padding: 0.8rem;
  white-space: inherit; }

kbd {
  background-color: #333435;
  color: #f2f3f3;
  border-radius: 4px;
  white-space: pre; }

/*------------------------
END TYPOGRAPHY
------------------------*/
/*------------------------
START LISTS
------------------------*/
body.linear.hd ul,
body.linear.hd ol,
body.linear.hd li {
  list-style-position: inside;
  margin: 0px;
  padding: 0px; }

body.linear.hd ul,
body.linear.hd ol,
body.linear.hd dl {
  margin-bottom: 1.6rem; }

body.linear.hd ul ul,
body.linear.hd ul ol,
body.linear.hd ol ol,
body.linear.hd ol ul {
  margin-bottom: 0px;
  margin-left: 1em; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: upper-latin; }
    ol ol ol {
      list-style-type: lower-latin; }

dt {
  font-weight: bolder; }

dd {
  margin-left: 1em;
  margin-bottom: 0.8rem; }

#content li {
  margin-bottom: 0px; }

/*------------------------
END LISTS
------------------------*/
/*------------------------
START TABLES
------------------------*/
table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  margin-bottom: 1.6rem; }

td,
th {
  padding: 0.8rem;
  border: 1px solid black; }

table pre,
table p {
  margin: 0px; }

/*------------------------
END TABLES
------------------------*/
/*------------------------
START MEDIA
------------------------*/
img {
  max-width: 100%; }

/*------------------------
END MEDIA
------------------------*/
/*------------------------
START BUTTONS
------------------------*/
button,
.button,
.btn--fill,
.btn-primary,
.btn--full,
.btn,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  -webkit-appearance: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.3em 1em;
  margin-bottom: 1.6rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  border: 1px solid #333435;
  border-radius: 4px;
  color: #333435; }
  button:focus, button:hover,
  .button:focus,
  .button:hover,
  .btn--fill:focus,
  .btn--fill:hover,
  .btn-primary:focus,
  .btn-primary:hover,
  .btn--full:focus,
  .btn--full:hover,
  .btn:focus,
  .btn:hover,
  input[type='submit']:focus,
  input[type='submit']:hover,
  input[type='reset']:focus,
  input[type='reset']:hover,
  input[type='button']:focus,
  input[type='button']:hover {
    opacity: 0.6;
    outline: 0;
    text-decoration: none; }

.btn--fill {
  color: white;
  background: #333435; }
  .btn--fill:hover, .btn--fill:focus {
    opacity: 0.8; }

.btn-primary {
  color: #1E6B52;
  border-color: #1E6B52; }

.btn--fill.btn-primary {
  color: white;
  background: #1E6B52; }

.btn--full {
  display: block;
  width: 100%; }

/*------------------------
END BUTTONS
------------------------*/
/*------------------------
START FORMS
------------------------*/
/*------------------------
Standard Inputs
------------------------*/
legend {
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: inherit;
  font-family: 'kulturista-web', serif !important; }

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input,
textarea,
progress,
fieldset,
.chzn-container,
.chzn-container-single .chzn-single,
.chzn-container-active.chzn-with-drop .chzn-single,
.chzn-container .chzn-results li.highlighted {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
  border: 4px;
  border-radius: 0px;
  font-size: 1rem;
  line-height: 1.6rem;
  box-shadow: none;
  height: auto;
  color: black; }

.chzn-container-single .chzn-single {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25em 0.5em; }

.chzn-container-active.chzn-with-drop .chzn-single {
  border-color: #1E6B52;
  border: 1px solid black;
  border-radius: 4px; }

.chzn-container .chzn-results {
  margin-bottom: 0px !important;
  padding: 0px; }

.chzn-container .chzn-results li {
  padding: 0px 1rem;
  line-height: 1.6rem; }

.chzn-container .chzn-results li.highlighted {
  background-color: #d2e1dc; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='month'],
input[type='week'],
input[type='file'],
textarea,
select {
  padding: 0.25em 0.5em;
  background-color: white;
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.6rem; }

textarea {
  height: 6.4rem;
  width: 100%;
  resize: vertical;
  overflow-y: scroll; }

input[type='color'] {
  display: block; }

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: #1E6B52;
  box-shadow: none; }

select:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 5px auto #1E6B52; }

/*------------------------
Date Inputs
------------------------*/
/*input[type=date],
input[type=month],
input[type=week],
select {
  position: relative;
}
input[type=date]::before,
input[type=month]::before,
input[type=week]::before,
select::before {
  content: '◳';
  font-size: 1.5em;
  display: block;
  position: absolute;
  right: 0.25em;
  top: 0.15em;
  height: 100%;
}*/
/*------------------------
Range
------------------------*/
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  min-height: 1.6rem; }

input[type='range']:focus {
  outline: 0; }

input[type='range']::-webkit-slider-thumb {
  background: #808285;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer; }

input[type='range']::-moz-range-thumb {
  background: #808285;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: -0.4rem; }

input[type='range']:focus::-webkit-slider-thumb {
  background: #1E6B52; }

input[type='range']:focus::-moz-range-thumb {
  background: #1E6B52; }

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #e6e6e7;
  border-radius: 100px;
  border-color: transparent;
  color: transparent; }

input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #e6e6e7;
  border-radius: 100px;
  border-color: transparent;
  color: transparent; }

/*------------------------
Radio & Checkbox
------------------------*/
/*input[type='radio'],
input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}
input[type='radio']+label,
input[type='checkbox']+label {
  font-weight: normal;
  display: block;
  position: relative;
  cursor: pointer;
  &:before {
    margin-right: 0.5em;
    display: inline-block;
    position: relative;
    color: $grey3;
    @if $font-icon == false {
      font-size: 1.5em;
      top: 0.05em;
      line-height: 1.6rem;
      width: 0.6em;
    }
    @else {
      font-family: $font-icon;
      top: 0.05em;
    }
  }
}
input[type='checkbox']+label::before {
  content: '☐';
}
input[type='checkbox']:checked+label::before {
  color: $color-primary;
  content: '☒';
}
input[type='radio']+label::before {
  content: '⦾';
}
input[type='radio']:checked+label::before {
  color: $color-primary;
  content: '●';
}
@include radio-check-focus {
  outline: 2px solid $color-primary;
}*/
/*------------------------
Progress
------------------------*/
progress {
  vertical-align: baseline;
  display: block;
  width: 100%;
  background: #e6e6e7;
  color: #1E6B52; }

::-webkit-progress-value {
  background: #1E6B52; }

::-moz-progress-bar {
  background: #1E6B52; }

/*------------------------
Meter
------------------------*/
meter {
  vertical-align: baseline;
  display: block;
  width: 100%;
  background: #e6e6e7;
  margin-bottom: 1.6rem; }

::-webkit-meter-optimum-value {
  background: none;
  background-color: #80BC00; }

:-moz-meter-optimum::-moz-meter-bar {
  background: none;
  background-color: #80BC00; }

::-webkit-meter-suboptimum-value {
  background: none;
  background-color: #FFD400; }

:-moz-meter-sub-optimum::-moz-meter-bar {
  background: none;
  background-color: #FFD400; }

::-webkit-meter-even-less-good-value {
  background: none;
  background-color: #EA6852; }

:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: none;
  background-color: #EA6852; }

/*------------------------
Resets
------------------------*/
/*::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}*/
::-webkit-progress-bar {
  background: transparent; }

::-webkit-meter-bar {
  background: none; }

:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
  border-style: none; }

:-moz-focus-inner {
  border-style: none; }

/*::-webkit-calendar-picker-indicator {
  opacity: 0;
}*/
/*------------------------
END FORMS
------------------------*/
/*--------------------------------------------------
END BASICS - START COMPONENTS
Self contained chunks of content with their visual styling.
--------------------------------------------------*/
/*------------------------
START PANELS
------------------------*/
body .panels > a,
.cards > div {
  border: 1px solid black;
  padding: 1.6rem;
  border-radius: 4px; }

body .panels > a:hover {
  border-color: #1E6B52;
  box-shadow: 0 0 0 1px #1E6B52; }

.panels > a h4 {
  display: inline-block;
  margin-top: 0px;
  border-bottom: 2px solid #78a697; }

.panels > a:hover h4 {
  border-color: #1E6B52; }

.panels > a p:last-child {
  margin-bottom: 0px; }

/*------------------------
END PANELS
------------------------*/
/*------------------------
START FEATURES
------------------------*/
/* Sample HTML
 *<section class="features grid-x-y">
 *	<div>
 *		<img src="image path">
 *		<h3><a href="feature link">Feature Title</a></h3>
 *		<p>Feature Content</p>
 *	</div>
 *	...
 *</section>
 */
.features {
  text-align: center; }

/* Add margin between the image, header, and content */
body.linear.hd .features img + h3 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

/* Adjust the size of the image */
body.linear.hd .features img {
  height: 7rem;
  width: auto;
  display: block;
  margin: auto; }

/*------------------------
END FEATURES
------------------------*/
/*------------------------
START CHIPS
------------------------*/
/* Joomla generated chips */
.label-info,
.badge-info,
.badge,
.label,
.label-info[href],
.badge-info[href] {
  background-color: #e6e6e7;
  text-shadow: none;
  border: 0px solid transparent;
  color: black;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.6rem;
  padding: 0.1em 0.7em; }

/*------------------------
END CHIPS
------------------------*/
/*------------------------
START OVERLAY
------------------------*/
.overlay {
  position: relative; }

.overlay::before {
  content: '';
  background-color: #295135;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: opacity 0.3s; }

.overlay:hover::before {
  content: '';
  opacity: 0; }

/*------------------------
END OVERLAY
------------------------*/
/*------------------------
START ALERT
------------------------*/
/* remove default alert styling */
.alert {
  background: none;
  border: 0px solid transparent;
  padding: 0px;
  margin: 0px;
  text-shadow: none; }

.alert,
.alert h4 {
  color: inherit; }

/* Apply the alert style to the alert container */
.moduletable.alert {
  background: #fbe1dc;
  border: 2px solid #EA6852;
  border-radius: 4px;
  padding: 0.3em 1em;
  margin-bottom: 1.6rem;
  text-shadow: none; }

/* Adjust link styles for links that appear inside an alert */
div.ribbonFullwidth .alert a {
  border-color: #EA6852; }

div.ribbonFullwidth .alert a:hover {
  border-color: #EA6852;
  background-color: #f7c3ba; }

/* Remove bottom margin from paragraphs in an alert */
.alert p {
  margin: 0px; }

/*------------------------
END ALERT
------------------------*/
/*--------------------------------------------------
END COMPONENTS - START LAYOUT
CSS that helps with page layout, from site wide edits to page specific layout.
--------------------------------------------------*/
/*--------------------------------------------------
START GRID
--------------------------------------------------*/
/*Universal Grid Styles*/
[class*='col-'] {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }

[class*='col-'] > * {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box; }

/*Grid Gap*/
.col--gap {
  --grid-gap: 1.6rem;
  --row-gap-vsm: var( --grid-gap );
  --col-gap-vsm: var( --grid-gap );
  --row-gap: var( --row-gap-vsm );
  --col-gap: var( --col-gap-vsm );
  margin: -0.5rem;
  /*Fallback for IE*/
  margin: calc( var( --row-gap ) / 2 * -1), calc( var( --col-gap ) / 2 * -1), calc( var( --row-gap ) / 2 * -1), calc( var( --col-gap ) / 2 * -1); }

.col--gap > * {
  margin: 0.5rem;
  /*Fallback for IE*/
  margin: calc( var( --row-gap ) / 2), calc( var( --col-gap ) / 2), calc( var( --row-gap ) / 2), calc( var( --col-gap ) / 2); }

.col_vsm-1 {
  flex-grow: 1; }

.col_vsm-2 {
  flex-grow: 2; }

.col_vsm-3 {
  flex-grow: 3; }

.col_vsm-4 {
  flex-grow: 4; }

.col_vsm-5 {
  flex-grow: 5; }

.col--vsm-6 > *,
.col--vsm-6 .col_vsm-1 {
  width: 14.4%;
  width: calc( 14.4% - var( --col-gap, 0px )); }

.col--vsm-4 > *,
.col--vsm-4 .col_vsm-1 {
  width: 21.6%;
  width: calc( 21.6% - var( --col-gap, 0px )); }

.col--vsm-3 > *,
.col--vsm-6 .col_vsm-2,
.col--vsm-3 .col_vsm-1 {
  width: 28.8%;
  width: calc( 28.8% - var( --col-gap, 0px )); }

.col--vsm-2 > *,
.col--vsm-2 .col_vsm-1,
.col--vsm-4 .col_vsm-2,
.col--vsm-6 .col_vsm-3 {
  width: 43.2%;
  width: calc( 43.2% - var( --col-gap, 0px )); }

.col--vsm-3 .col_vsm-2,
.col--vsm-6 .col_vsm-4 {
  width: 57.6%;
  width: calc( 57.6% - var( --col-gap, 0px )); }

.col--vsm-4 .col_vsm-3 {
  width: 64.8%;
  width: calc( 64.8% - var( --col-gap, 0px )); }

.col--vsm-6 .col_vsm-5 {
  width: 72%;
  width: calc( 72% - var( --col-gap, 0px )); }

.col--vsm-2 .col_vsm-2,
.col--vsm-3 .col_vsm-3,
.col--vsm-4 .col_vsm-4,
.col--vsm-6 .col_vsm-6 {
  width: 86.4%;
  width: calc( 86.4% - var( --col-gap, 0px )); }

@media all and (min-width: 500px) {
  .col--gap {
    --row-gap-vmd: var( --grid-gap-vmd, var( --row-gap-vsm ) );
    --col-gap-vmd: var( --grid-gap-vmd, var( --col-gap-vsm ) );
    --row-gap: var( --row-gap-vmd );
    --col-gap: var( --col-gap-vmd ); }
  .col_vmd-1 {
    flex-grow: 1; }
  .col_vmd-2 {
    flex-grow: 2; }
  .col_vmd-3 {
    flex-grow: 3; }
  .col_vmd-4 {
    flex-grow: 4; }
  .col_vmd-5 {
    flex-grow: 5; }
  .col--vmd-6 > *,
  .col--vmd-6 .col_vmd-1 {
    width: 14.4%;
    width: calc( 14.4% - var( --col-gap, 0px )); }
  .col--vmd-4 > *,
  .col--vmd-4 .col_vmd-1 {
    width: 21.6%;
    width: calc( 21.6% - var( --col-gap, 0px )); }
  .col--vmd-3 > *,
  .col--vmd-6 .col_vmd-2,
  .col--vmd-3 .col_vmd-1 {
    width: 28.8%;
    width: calc( 28.8% - var( --col-gap, 0px )); }
  .col--vmd-2 > *,
  .col--vmd-2 .col_vmd-1,
  .col--vmd-4 .col_vmd-2,
  .col--vmd-6 .col_vmd-3 {
    width: 43.2%;
    width: calc( 43.2% - var( --col-gap, 0px )); }
  .col--vmd-3 .col_vmd-2,
  .col--vmd-6 .col_vmd-4 {
    width: 57.6%;
    width: calc( 57.6% - var( --col-gap, 0px )); }
  .col--vmd-4 .col_vmd-3 {
    width: 64.8%;
    width: calc( 64.8% - var( --col-gap, 0px )); }
  .col--vmd-6 .col_vmd-5 {
    width: 72%;
    width: calc( 72% - var( --col-gap, 0px )); }
  .col--vmd-2 .col_vmd-2,
  .col--vmd-3 .col_vmd-3,
  .col--vmd-4 .col_vmd-4,
  .col--vmd-6 .col_vmd-6 {
    width: 86.4%;
    width: calc( 86.4% - var( --col-gap, 0px )); } }

@media all and (min-width: 1024px) {
  .col--gap {
    --row-gap-vlg: var( --grid-gap-vlg, var( --row-gap-vmd ) );
    --col-gap-vlg: var( --grid-gap-vlg, var( --col-gap-vmd ) );
    --row-gap: var( --row-gap-vlg );
    --col-gap: var( --col-gap-vlg ); }
  .col_vlg-1 {
    flex-grow: 1; }
  .col_vlg-2 {
    flex-grow: 2; }
  .col_vlg-3 {
    flex-grow: 3; }
  .col_vlg-4 {
    flex-grow: 4; }
  .col_vlg-5 {
    flex-grow: 5; }
  .col--vlg-6 > *,
  .col--vlg-6 .col_vlg-1 {
    width: 14.4%;
    width: calc( 14.4% - var( --col-gap, 0px )); }
  .col--vlg-4 > *,
  .col--vlg-4 .col_vlg-1 {
    width: 21.6%;
    width: calc( 21.6% - var( --col-gap, 0px )); }
  .col--vlg-3 > *,
  .col--vlg-6 .col_vlg-2,
  .col--vlg-3 .col_vlg-1 {
    width: 28.8%;
    width: calc( 28.8% - var( --col-gap, 0px )); }
  .col--vlg-2 > *,
  .col--vlg-2 .col_vlg-1,
  .col--vlg-4 .col_vlg-2,
  .col--vlg-6 .col_vlg-3 {
    width: 43.2%;
    width: calc( 43.2% - var( --col-gap, 0px )); }
  .col--vlg-3 .col_vlg-2,
  .col--vlg-6 .col_vlg-4 {
    width: 57.6%;
    width: calc( 57.6% - var( --col-gap, 0px )); }
  .col--vlg-4 .col_vlg-3 {
    width: 64.8%;
    width: calc( 64.8% - var( --col-gap, 0px )); }
  .col--vlg-6 .col_vlg-5 {
    width: 72%;
    width: calc( 72% - var( --col-gap, 0px )); }
  .col--vlg-2 .col_vlg-2,
  .col--vlg-3 .col_vlg-3,
  .col--vlg-4 .col_vlg-4,
  .col--vlg-6 .col_vlg-6 {
    width: 86.4%;
    width: calc( 86.4% - var( --col-gap, 0px )); } }

/*--------------------------------------------------
END GRID
--------------------------------------------------*/
/* Add space after the banner and before the footer */
body.ribbonFullwidth #whitebox {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem; }

/* Section spacing */
.section {
  padding: 3.2rem 0;
  margin: 3.2rem 0; }

/* Typographical Spacing */
p,
body.linear.hd hr,
pre,
blockquote {
  margin-bottom: 1.6rem;
  margin-top: 0px; }

/* Applys spacing to headers in the content section only */
[role='main'] h1,
[role='main'] h2,
[role='main'] h3,
[role='main'] h4,
[role='main'] h5,
[role='main'] h6 {
  margin: 3.2rem 0px 1.6rem 0px; }

#leftcolumn h3 {
  margin: 3.2rem 0px 1.6rem 0px; }

/* Remove gap caused by first header in an article */
.item-page h2:first-of-type {
  margin-top: 0px; }

/*--------------------------------------------------
END LAYOUT - START SYNDICATION
Components that style syndicated content where we have limited control over
html and classes of the target elements.
--------------------------------------------------*/
/*------------------------
START CALENDAR
------------------------*/
body.linear.hd .localist-month,
.localist-day {
  background: #1E6B52;
  width: 60px; }

body.linear.hd .localist-widget-eds div.localist-month {
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Kulturista-web', 'proxima-nova', sans-serif !important;
  margin-bottom: -1px; }

body.linear.hd .localist-day {
  color: #FFF;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6rem;
  border-bottom: 4px solid #80BC00;
  padding-bottom: 0.4em; }

body.linear.hd .localist-dateblock {
  margin-right: 0.8rem; }

body.linear.hd .localist-widget-eds li {
  display: flex;
  margin-bottom: 0.8rem; }

body.linear.hd .localist-title h4 {
  font-family: 'proxima-nova', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: -0.2em;
  margin-bottom: 0px; }

body.linear.hd .localist-title h4 a {
  border-bottom: 2px solid transparent; }

body.linear.hd .localist-otherdetails div,
.localist-otherdetails i {
  font-size: 0.8rem;
  line-height: 1.6rem; }

body.linear.hd .localist-venue {
  display: none; }

/*------------------------
END CALENDAR
------------------------*/
/*--------------------------------------------------
END SYNDICATION - START AREAS
Edits to the Linear template areas.
Most edits undo Ember styling to keep template styles in those areas.
--------------------------------------------------*/
/*------------------------
START TOP NAVIGATION
------------------------*/
/* Removes link styles in the top navigation. Most of this styling is handled with central CSS. */
#ribbon .nav a {
  border: 0px solid transparent; }

#ribbon .nav {
  margin-bottom: 0px; }

/*------------------------
END TOP NAVIGATION
------------------------*/
/*------------------------
START SEARCH
------------------------*/
body.linear.hd #search form {
  display: flex;
  justify-content: flex-end;
  align-items: right; }

body.linear.hd #search button {
  margin: 0px; }

body.linear.hd #search input {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border: 1px solid #1E6B52; }

body.linear.hd #search .btn-primary:focus, body.linear.hd #search .btn-primary:hover {
  background-color: #1E6B52;
  opacity: 0.6;
  outline: 0;
  text-decoration: none; }

/*------------------------
END SEARCH
------------------------*/
/*------------------------
START QUICKLINKS
------------------------*/
#quicklinks ul {
  margin: 0px; }

/* Remove borders from quicklinks */
#quicklinks a,
#trigger {
  border: 0px solid transparent; }

/* Ensure hover color is consistant */
#quicklinks .dropdown-submenu:hover > a,
#quicklinks .dropdown-submenu:focus > a,
#quicklinks .dropdown-menu > li > a:hover,
#quicklinks .dropdown-menu > li > a:focus,
#quicklinks .newsfeed > li:hover,
#quicklinks .newsfeed > li:focus {
  background-color: #d2e1dc; }

/* Fix box shadow styles on quicklinks feed */
body.hd #quicklinks ul.nav-child.unstyled.dropdown-menu,
body.hd #quicklinks div.feed {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

/*------------------------
END QUICKLINKS
------------------------*/
/*------------------------
START BANNER
------------------------*/
/* Set min height to the line height of h1 plus the top padding,
plus 1 line height for the margin below the header,
one line height for the breadcrumbs, and
one line height for the margin below the breadcrumbs. */
#banner {
  position: relative;
  padding-top: 12.8rem;
  min-height: 20.8rem; }

/* Set the before and after elements to cover the banner area and send them to the back */
#banner::before,
#banner::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1; }

/* Set default banner image and the banner's image's and position */
#banner::before {
  background: url("https://dev.uab.edu/it/home/images/banners/Home-WebHeader.jpg");
  /*Use article image */
  background-size: cover;
  background-position: bottom; }

/* Add the image filter effect used on the banners */
#banner::after {
  background: #295135;
  mix-blend-mode: multiply; }

/* Ensure content inside the banner stays within the width of the main column */
#banner .moduletable {
  max-width: 1280px;
  margin: auto; }

#banner h1 {
  margin-bottom: 1.6rem;
  color: white; }

.breadcrumb > li,
.breadcrumb > .active {
  text-shadow: none;
  color: white; }

.breadcrumb > li > .divider,
.breadcrumb a,
.breadcrumb > li > span {
  color: inherit;
  font-size: inherit; }

.breadcrumb {
  border: 0px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 1.6rem; }

/*------------------------
END BANNER
------------------------*/
/*------------------------
START SIDEBAR
------------------------*/
body.hd div.sidebar.gray,
body.hd div.sidebar.no-seal,
body.hd #leftcolumn.sidebarpanel.gray,
body.hd #sidebar_trigger.gray,
body.hd #leftcolumn.sidebarpanel.no-seal,
body.hd #sidebar_trigger.no-seal {
  font-size: inherit;
  background-color: #f2f3f3; }

body.hd.sidebars #leftcolumn {
  width: 100%; }

#leftcolumn .moduletable {
  padding: 0px; }

#leftcolumn .moduletable > .custom {
  padding: 0.8rem; }

#leftcolumn ul.nav.menu a {
  margin: 0px;
  display: block;
  border: 0px solid transparent;
  background-color: transparent;
  padding: 0.8rem;
  border-left: 4px solid transparent; }

#leftcolumn ul.nav-child,
#leftcolumn ul {
  margin: 0px; }

#leftcolumn .sidebar li,
#leftcolumn .sidebar ul.menu li {
  padding: 0px;
  font-weight: normal; }

#leftcolumn ul.nav.menu .current > a {
  border-left: 4px solid #80BC00; }

#leftcolumn ul.nav.menu .parent > a {
  font-family: 'kulturista-web', serif;
  font-size: 1.25rem;
  line-height: 1.6rem; }

#leftcolumn ul.nav.menu a:hover {
  border-left: 4px solid #80BC00;
  color: inherit !important;
  background-color: #e6e6e7; }

/*------------------------
END SIDEBAR
------------------------*/
/*------------------------
START FOOTER
------------------------*/
/* Adjust link colors in the footer section */
#footer a,
#lockedFooter a {
  color: white;
  border-color: #999b9d; }
  #footer a:hover,
  #lockedFooter a:hover {
    border-color: #e6e6e7;
    background-color: initial; }

/* Setup the flex container */
body.linear.hd #footer .IT-footer {
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

/* Force containers to be full width and add padding */
body.linear.hd #footer .IT-footer_left,
body.linear.hd #footer .IT-footer_right {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem; }

/* Align content */
body.linear.hd #footer .IT-footer_left p {
  text-align: right;
  margin: 0; }

body.linear.hd #footer .IT-footer_right,
body.linear.hd #footer .IT-footer_right .social {
  text-align: left; }

/* Add middle divider */
body.linear.hd #footer .IT-footer_right {
  border-left: 2px solid white; }

/* Remove border from social media links. Add spacing between them. */
body.linear.hd #footer .IT-footer_right .social a {
  border: 0px solid transparent !important;
  margin-right: 1rem; }

/* Add spacing between logo and social links */
body.linear.hd #footer .IT-footer .social {
  margin-top: 1.6rem; }

/* Set size of social media icons */
body.linear.hd #footer .IT-footer .social img {
  max-height: 2rem;
  margin-top: 0.5rem; }

/* Set the size of the UAB logo */
body.linear.hd #footer .IT-footer_logo {
  max-height: 3.2rem; }

/* Remove default padding on the footer */
body.linear.hd #footer,
#footer .moduletable {
  padding: 0px; }

/* Add 1 line between footer and locked footer to maintain vertical rythem */
#lockedFooter {
  padding-top: 1.6rem; }

/*------------------------
END FOOTER
------------------------*/
/*--------------------------------------------------
END AREAS
--------------------------------------------------*/
/*------------------------
START HELPERS
------------------------*/
.type-set-n1 {
  font-size: 0.8rem;
  line-height: 1.6rem; }

.type-set-0 {
  font-size: 1rem;
  line-height: 1.6rem; }

.type-set-1 {
  font-size: 1.25rem;
  line-height: 1.6rem; }

.type-set-2 {
  font-size: 1.5625rem;
  line-height: 1.6rem; }

.type-set-3 {
  font-size: 1.95312rem;
  line-height: 2.4rem; }

.type-set-4 {
  font-size: 2.44141rem;
  line-height: 3.2rem; }

.type-set-5 {
  font-size: 3.05176rem;
  line-height: 3.2rem; }

.txt-c {
  text-align: center; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.full {
  display: block;
  width: 100%; }

[class*='-space-05'] {
  --u-space: 0.8rem; }

[class*='-space-1'] {
  --u-space: 1.6rem; }

[class*='-space-2'] {
  --u-space: 3.2rem; }

[class*='-space-3'] {
  --u-space: 4.8rem; }

[class*='-space-4'] {
  --u-space: 6.4rem; }

[class*='margin-top-'] {
  margin-top: var(--u-space) !important; }

[class*='margin-right-'] {
  margin-right: var(--u-space) !important; }

[class*='margin-bottom-'] {
  margin-bottom: var(--u-space) !important; }

[class*='margin-left-'] {
  margin-left: var(--u-space) !important; }

[class*='padding-top-'] {
  padding-top: var(--u-space) !important; }

[class*='padding-right-'] {
  padding-right: var(--u-space) !important; }

[class*='padding-bottom-'] {
  padding-bottom: var(--u-space) !important; }

[class*='padding-left-'] {
  padding-left: var(--u-space) !important; }

[class*='-stone-050'] {
  --u-color: #f2f3f3; }

[class*='-stone-100'] {
  --u-color: #e6e6e7; }

[class*='-stone-200'] {
  --u-color: #cccdce; }

[class*='-stone-300'] {
  --u-color: #b3b4b6; }

[class*='-stone-400'] {
  --u-color: #999b9d; }

[class*='-stone-500'] {
  --u-color: #808285; }

[class*='-stone-600'] {
  --u-color: #66686a; }

[class*='-stone-700'] {
  --u-color: #4d4e50; }

[class*='-stone-800'] {
  --u-color: #333435; }

[class*='-stone-900'] {
  --u-color: #1a1a1b; }

[class*='-uabgreen-100'] {
  --u-color: #d2e1dc; }

[class*='-uabgreen-200'] {
  --u-color: #a5c4ba; }

[class*='-uabgreen-300'] {
  --u-color: #78a697; }

[class*='-uabgreen-400'] {
  --u-color: #4b8975; }

[class*='-uabgreen-500'] {
  --u-color: #1E6B52; }

[class*='-uabgreen-600'] {
  --u-color: #185642; }

[class*='-uabgreen-700'] {
  --u-color: #124031; }

[class*='-uabgreen-800'] {
  --u-color: #0c2b21; }

[class*='-uabgreen-900'] {
  --u-color: #061510; }

[class*='-darkgreen-100'] {
  --u-color: #d4dcd7; }

[class*='-darkgreen-200'] {
  --u-color: #a9b9ae; }

[class*='-darkgreen-300'] {
  --u-color: #7f9786; }

[class*='-darkgreen-400'] {
  --u-color: #54745d; }

[class*='-darkgreen-500'] {
  --u-color: #295135; }

[class*='-darkgreen-600'] {
  --u-color: #21412a; }

[class*='-darkgreen-700'] {
  --u-color: #193120; }

[class*='-darkgreen-800'] {
  --u-color: #102015; }

[class*='-darkgreen-900'] {
  --u-color: #08100b; }

[class*='-apple-100'] {
  --u-color: #e6f2cc; }

[class*='-apple-200'] {
  --u-color: #cce499; }

[class*='-apple-300'] {
  --u-color: #b3d766; }

[class*='-apple-400'] {
  --u-color: #99c933; }

[class*='-apple-500'] {
  --u-color: #80BC00; }

[class*='-apple-600'] {
  --u-color: #669600; }

[class*='-apple-700'] {
  --u-color: #4d7100; }

[class*='-apple-800'] {
  --u-color: #334b00; }

[class*='-apple-900'] {
  --u-color: #1a2600; }

[class*='-blaze-100'] {
  --u-color: #fff6cc; }

[class*='-blaze-200'] {
  --u-color: #ffee99; }

[class*='-blaze-300'] {
  --u-color: #ffe566; }

[class*='-blaze-400'] {
  --u-color: #ffdd33; }

[class*='-blaze-500'] {
  --u-color: #FFD400; }

[class*='-blaze-600'] {
  --u-color: #ccaa00; }

[class*='-blaze-700'] {
  --u-color: #997f00; }

[class*='-blaze-800'] {
  --u-color: #665500; }

[class*='-blaze-900'] {
  --u-color: #332a00; }

[class*='-gold-100'] {
  --u-color: #eeeae1; }

[class*='-gold-200'] {
  --u-color: #ddd5c2; }

[class*='-gold-300'] {
  --u-color: #ccc1a4; }

[class*='-gold-400'] {
  --u-color: #bbac85; }

[class*='-gold-500'] {
  --u-color: #AA9767; }

[class*='-gold-600'] {
  --u-color: #887952; }

[class*='-gold-700'] {
  --u-color: #665b3e; }

[class*='-gold-800'] {
  --u-color: #443c29; }

[class*='-gold-900'] {
  --u-color: #221e15; }

[class*='txt-color-'] {
  color: var(--u-color); }

[class*='bg-color-'] {
  background-color: var(--u-color); }

[class*='bdr-color-'] {
  border-color: var(--u-color); }

/*------------------------
END HELPERS
------------------------*/
/*--------------------------------------------------
END - EMBER
--------------------------------------------------*/
