@charset "UTF-8";
/* ----------------------------------------------------
Ember 0.9.2
University of Alabama at Birmingham
Department of Information Technology
2019 Mozilla Public License 2.0
https://github.com/UAB-IT/Ember
---------------------------------------------------- */
/* ----------------------------------------------------
START COMPONENTS
Self contained chunks of content with their visual styling.
---------------------------------------------------- */
/* ----------------------------------------------------
SPACING
This module includes various rules to maintain spacial consistency
---------------------------------------------------- */
/* ------------------------
SECTIONS
------------------------ */
.section {
  margin: 6.4rem 0; }

.section.background {
  padding: 3.2rem; }

.section.background-full {
  padding: 6.4rem 0; }

/* ------------------------
FULL WIDTH
------------------------ */
/* Fixes a bug where the background is invisible on mobile */
.background-full {
  position: relative;
  z-index: 1; }

/* Adds background element that spans the width of the screen. */
.background-full::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150vw;
  margin-left: -50vw;
  background-color: rgba(128, 130, 133, 0.15);
  z-index: -1; }

/* ------------------------
MARGIN FIX
// NOTE: This code is experimental and may not fix all issues or may have unintentional effects
// // TODO: Test and verify code is working properly
------------------------ */
/* Fix for most sections */
body.linear.hd .section > :last-child {
  margin-bottom: 0; }

/* Fix for first element of the page */
body.linear.hd [itemprop='articleBody'] > :first-child {
  margin-top: 0; }

/* Fix for last element of the page */
body.linear.hd [itemprop='articleBody'] > :last-child {
  margin-bottom: 0; }

/* margin fix for elements inside tables */
body.linear.hd table td > :last-child {
  margin: 0; }

/* ----------------------------------------------------
END - SPACING
---------------------------------------------------- */
/* --------------------------------------------------
TYPOGRAPHY

This module contains base styling for typographical elements
including inline and block level text elements and headers
as well as styles for links
---------------------------------------------------- */
/* ------------------------
TYPESETTING
------------------------ */
:root {
  font-size: 16px;
  color: black; }

/* Restore inheritance to inline elements
  !important is used here to adjust aggressive
  rules from central css */
body.linear.hd h1 a,
body.linear.hd h1 strong,
body.linear.hd h1 b,
body.linear.hd h1 span,
body.linear.hd h2 a,
body.linear.hd h2 strong,
body.linear.hd h2 b,
body.linear.hd h2 span,
body.linear.hd h3 a,
body.linear.hd h3 strong,
body.linear.hd h3 b,
body.linear.hd h3 span,
body.linear.hd h4 a,
body.linear.hd h4 strong,
body.linear.hd h4 b,
body.linear.hd h4 span,
body.linear.hd #footer a,
body.linear.hd #footer span,
body.linear.hd b,
body.linear.hd span,
body.linear.hd strong,
body.linear.hd em {
  color: inherit;
  font-size: inherit;
  font-family: inherit !important; }

/* Restore font weight inheritance to certain inline elements
  !important is used here to adjust aggressive rules from central css */
body.linear.hd .categories-list h3 a,
body.linear.hd span,
body.linear.hd #rightsidebar h4 .mod-articles-category-title {
  font-weight: inherit !important; }

/* Correct header font on h5 elements
  !important is used to edit aggressive rules from central css */
body.linear.hd h5 {
  font-family: "kulturista-web", serif !important; }

/* remove spacing and border from the generated header from the article title */
.page-header {
  margin: 0;
  padding: 0;
  border: 0; }

body.linear.hd h1,
body.linear.hd .uk-h1,
body.linear.hd h2,
body.linear.hd .uk-h2,
body.linear.hd h3,
body.linear.hd .uk-h3,
body.linear.hd h4,
body.linear.hd .uk-h4,
body.linear.hd h5,
body.linear.hd .uk-h5,
body.linear.hd h6,
body.linear.hd .uk-h6 {
  margin: 0;
  color: inherit;
  text-align: inherit;
  margin: 0 0 1.6rem;
  font-weight: 400;
  font-family: "kulturista-web", serif;
  color: black; }

/* Gives added top margin to headers when they follow content */
body.linear.hd [role='main'] * + h1,
body.linear.hd [role='main'] * + h2,
body.linear.hd [role='main'] * + h3,
body.linear.hd [role='main'] * + h4 {
  margin-top: 3.2rem; }

body.linear.hd [role='main'] h4,
body.linear.hd [role='main'] h5,
body.linear.hd [role='main'] h6 {
  margin-bottom: 0.8rem; }

/*body.linear.hd h4 + p {
  margin-top: s(-1);
}
body.linear.hd h5 + p {
  margin-top: s(-1);
}*/
body.linear.hd h5,
body.linear.hd h6 {
  font-weight: 600; }

/* Remove additional margin between headers */
/*body.linear.hd [role='main'] h1 + h2,
body.linear.hd [role='main'] h2 + h3,
body.linear.hd [role='main'] h3 + h4,
body.linear.hd [role='main'] h4 + h5,
body.linear.hd [role='main'] h5 + h6 {
  margin-top: 0;
}*/
/* Apply block level margins to block elements */
body.linear.hd p,
body.linear.hd hr,
body.linear.hd pre {
  margin-top: 0;
  margin-bottom: 1.6rem; }

body.linear.hd p + p {
  margin-top: -0.8rem; }

/* ID is used here to overwrite equally high specificity from style.css */
body.linear.hd h1,
body.linear.hd .uk-h1 {
  font-size: 3.05rem;
  line-height: 3.2rem; }

body.linear.hd h2,
body.linear.hd .uk-h2 {
  font-size: 1.95rem;
  line-height: 2.4rem; }

body.linear.hd h3,
#leftcolumn h3,
body.linear.hd .uk-h3 {
  font-size: 1.56rem;
  line-height: 1.6rem; }

body.linear.hd h4,
body.linear.hd .uk-h4 {
  font-size: 1.25rem;
  line-height: 1.6rem; }

body.linear.hd h5,
body.linear.hd .uk-h5 {
  font-size: 1rem;
  line-height: 1.6rem; }

body.linear.hd h6,
body.linear.hd .uk-h6 {
  font-size: 1rem;
  line-height: 1.6rem; }

body,
body.linear.hd p,
body.linear.hd .uk-p {
  font-size: 1rem;
  line-height: 1.6rem; }

body.linear.hd small,
body.linear.hd .uk-small {
  font-size: 0.8rem;
  line-height: 1.6rem; }

/*------------------------
RULE LINES
------------------------*/
/* Ensure hr takes up no vertical space,
apply thin border for styling */
body.linear.hd hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #cccdce; }

/* Allow rule lines that immediately follow headers to sit on the header's
baseline */
body.linear.hd h1 + hr,
body.linear.hd h2 + hr,
body.linear.hd h3 + hr,
body.linear.hd h4 + hr,
body.linear.hd h5 + hr,
body.linear.hd h6 + hr {
  margin-top: -0.8rem;
  /* Allows headers to sit on horizontal rules */ }

/*------------------------
LINKS
------------------------*/
/* Remove existing link styles */
body.linear.hd a {
  color: inherit;
  font-weight: normal;
  -webkit-transition-property: none;
  transition-property: none;
  text-decoration: none; }

/* Applies link styles to content areas only. Less specific than an id and
helps avoid overreaching styles. */
[role='banner'],
[role='main'],
div.footerGray {
  /* Adds icon to links that open in a new page */
  /* Adds icon to links that open a pdf document */ }
  [role='banner'] a[href]:not(.unstyled),
  [role='main'] a[href]:not(.unstyled),
  div.footerGray a[href]:not(.unstyled) {
    border-bottom: 2px solid #a5c4ba; }
    [role='banner'] a[href]:not(.unstyled):hover,
    [role='main'] a[href]:not(.unstyled):hover,
    div.footerGray a[href]:not(.unstyled):hover {
      background-color: #d2e1dc;
      border-color: #1E6B52; }
  [role='banner'] a:not(.btn)[target='_blank']::after,
  [role='main'] a:not(.btn)[target='_blank']::after,
  div.footerGray a:not(.btn)[target='_blank']::after {
    content: "";
    font-family: "IcoMoon";
    speak: none;
    margin-left: 0.5em;
    font-weight: normal;
    font-size: 75%; }
  [role='banner'] a:not(.btn)[href$='.pdf']::after,
  [role='main'] a:not(.btn)[href$='.pdf']::after,
  div.footerGray a:not(.btn)[href$='.pdf']::after {
    content: "";
    font-family: "IcoMoon";
    speak: none;
    margin-left: 0.5em;
    font-weight: normal;
    font-size: 75%; }

/*------------------------
SEMANTIC HTML
------------------------*/
abbr {
  text-decoration: none; }

mark,
code,
kbd {
  padding: 0 0.2em 0.1em; }

mark {
  background-color: #e6f2cc; }

code {
  background-color: #e6e6e7;
  color: #4d4e50;
  border-radius: 2px;
  white-space: pre; }

kbd {
  background-color: #333435;
  color: #f2f3f3;
  border-radius: 2px;
  white-space: pre; }

pre {
  white-space: pre-wrap; }

pre > code {
  display: block;
  padding: 1.6rem;
  white-space: inherit; }

/* --------------------------------------------------
END - TYPOGRAPHY
---------------------------------------------------- */
/* --------------------------------------------------
LISTS
---------------------------------------------------- */
/* ------------------------
RESET
------------------------ */
body.linear.hd ul,
body.linear.hd ol {
  margin: 0;
  padding: 0;
  list-style-position: outside; }

body.linear.hd li {
  margin: 0;
  list-style-position: inherit; }

/* ------------------------
BASE STYLES
------------------------ */
/* Apply margin to compensate for list style,
only to lists inside the main content area */
body.linear.hd #whitebox ul,
body.linear.hd #whitebox ol {
  margin-left: 1.2em; }

/* Add rhythm spacing to lists in main content area */
body.linear.hd #whitebox ul,
body.linear.hd #whitebox ol,
body.linear.hd #whitebox dl {
  margin-bottom: 1.6rem; }

/* Add indention to child lists */
body.linear.hd #whitebox ul ul,
body.linear.hd #whitebox ul ol,
body.linear.hd #whitebox ol ol,
body.linear.hd #whitebox ol ul {
  margin-bottom: 0;
  margin-left: 1em; }

/* Bold description term */
body.linear.hd dt {
  font-weight: bolder; }

/* Set bullet styles */
body.linear.hd #whitebox ul {
  list-style-type: disc; }
  body.linear.hd #whitebox ul ul {
    list-style-type: circle; }
    body.linear.hd #whitebox ul ul ul {
      list-style-type: square; }

body.linear.hd #whitebox ol {
  list-style-type: decimal; }
  body.linear.hd #whitebox ol ol {
    list-style-type: upper-latin; }
    body.linear.hd #whitebox ol ol ol {
      list-style-type: lower-latin; }

body.linear.hd #whitebox ul li,
body.linear.hd #whitebox ol li {
  margin: 0.8rem 0 0; }

body.linear.hd #whitebox dl dd {
  margin: 0 0 0.8rem 1em; }

/*------------------------
THEMES
------------------------*/
/* Align text with paragraphs, bullet sitting in the margin */
body.linear.hd #whitebox ul.list-align,
body.linear.hd #whitebox ol.list-align {
  margin-left: 0; }

/* Colored Lists */
body.linear.hd #whitebox ul.color,
body.linear.hd #whitebox ul.color ul,
body.linear.hd #whitebox ul.color ul ul {
  list-style: none !important;
  position: relative; }

body.linear.hd #whitebox ul.color li::before {
  content: '\2022';
  color: #80BC00;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em; }

body.linear.hd #whitebox ul.color ul li::before {
  content: '\25E6';
  color: #80BC00;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em; }

body.linear.hd #whitebox ul.color ul ul li::before {
  content: '\25AA';
  color: #80BC00;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em; }

body.linear.hd #whitebox ol.color {
  list-style: none !important;
  counter-reset: topli; }

body.linear.hd #whitebox ol.color > li {
  counter-increment: topli; }

body.linear.hd #whitebox ol.color > li::before {
  content: "." counter(topli, decimal);
  color: #80BC00;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl; }

body.linear.hd #whitebox ol.color > li > ol {
  list-style: none !important;
  counter-reset: secondli; }

body.linear.hd #whitebox ol.color > li > ol > li {
  counter-increment: secondli; }

body.linear.hd #whitebox ol.color ol > li::before {
  content: "." counter(secondli, upper-latin);
  color: #80BC00;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl; }

body.linear.hd #whitebox ol.color > li > ol > li > ol {
  list-style: none !important;
  counter-reset: thirdli; }

body.linear.hd #whitebox ol.color > li > ol > li > ol > li {
  counter-increment: thirdli; }

body.linear.hd #whitebox ol.color ol ol > li::before {
  content: "." counter(thirdli, lower-latin);
  color: #80BC00;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl; }

/* --------------------------------------------------
TABLES
---------------------------------------------------- */
/* ------------------------
BASE
------------------------ */
.overflow-container {
  overflow: auto; }

/* Set default styles,
make table mobile friendly,
add rhythm spacing */
body.linear.hd table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.6rem; }

/* Add borders, padding, and ensure
text alignment is respected */
body.linear.hd table tr td,
body.linear.hd table tr th {
  border: 1px solid black;
  padding: 0.8rem;
  text-align: inherit;
  color: inherit; }

/* Apply header styles to table headers */
body.linear.hd table th {
  margin: 0 0 1.6rem;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "kulturista-web", serif;
  color: black; }

/* ------------------------
THEMES
.borderless
.striped
.hover
.primary
.green
.yellow
.red
------------------------ */
body.linear.hd table.borderless tr td,
body.linear.hd table.borderless tr th {
  border: none; }

body.linear.hd table.condensed tr td,
body.linear.hd table.condensed tr th {
  padding: 0.4rem; }

body.linear.hd table.striped tbody > tr:nth-child(odd) {
  background: rgba(128, 130, 133, 0.15); }

body.linear.hd table.hover tbody tr:hover {
  background: rgba(128, 130, 133, 0.15); }

body.linear.hd table.striped.hover tbody tr:hover {
  background: #e6e6e7; }

body.linear.hd table.primary {
  border: 2px solid #1E6B52; }
  body.linear.hd table.primary thead {
    background: #1E6B52;
    color: white; }

body.linear.hd table.green {
  border: 2px solid #80BC00; }
  body.linear.hd table.green thead {
    background: #80BC00;
    color: white; }

body.linear.hd table.yellow {
  border: 2px solid #FFD400; }
  body.linear.hd table.yellow thead {
    background: #FFD400; }

body.linear.hd table.red {
  border: 2px solid #F00; }
  body.linear.hd table.red thead {
    background: #F00;
    color: white; }

/* START OVERRIDES */
body.linear.hd .category-list .table-bordered {
  border: 0;
  border-collapse: collapse;
  border-radius: 0; }

body.linear.hd .category-list .table-bordered th,
body.linear.hd .category-list .table-bordered td,
body.linear.hd .category-list table.category td,
body.linear.hd .category-list table.table-striped tr td,
body.linear.hd .category-list table.table-striped tr th {
  border: 0; }

body.linear.hd .category-list .table-hover tbody tr:hover > td,
body.linear.hd .category-list .table-hover tbody tr:hover > th,
body.linear.hd .category-list .table-striped tbody > tr:nth-child(odd) > td,
body.linear.hd .category-list .table-striped tbody > tr:nth-child(odd) > th {
  background: none;
  background-color: transparent;
  background-image: none; }

body.linear.hd .category-list .table-bordered caption + thead tr:first-child th:first-child,
body.linear.hd .category-list .table-bordered caption + tbody tr:first-child td:first-child,
body.linear.hd .category-list .table-bordered colgroup + thead tr:first-child th:first-child,
body.linear.hd .category-list .table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 0; }

body.linear.hd .category-list .category.table tbody a {
  border: 0;
  text-decoration: underline; }

/* END OVERRIDES */
/*------------------------
Comparison table
------------------------*/
body.linear.hd table.comparison td,
body.linear.hd table.comparison thead {
  text-align: center !important; }

body.linear.hd table.comparison td {
  vertical-align: middle; }

body.linear.hd table.comparison em.icon-ok {
  color: #80BC00; }

body.linear.hd table.comparison em.icon-minus-sign {
  color: #FFD400; }

body.linear.hd table.comparison em.icon-remove {
  color: #F00; }

/*------------------------
END TABLES
------------------------*/
/* --------------------------------------------------
MEDIA
---------------------------------------------------- */
#whitebox img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  display: block; }

/* Add rhythm spacing */
#whitebox :not(figure) > img,
#whitebox iframe,
#whitebox figure,
#whitebox .video-container {
  margin-bottom: 1.6rem; }

/* Style figcaption to display small in the center under the image,
Add rhythm spacing above caption instead of below image */
#whitebox figure figcaption {
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: center;
  margin: 1.6rem 0; }

/* --------------------------------------------------
PULLQUOTE
---------------------------------------------------- */
body.linear.hd .pullquote,
body.linear.hd blockquote {
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  background-color: rgba(128, 130, 133, 0.15);
  border-left: 5px solid #80BC00; }

body.linear.hd .pullquote p,
body.linear.hd .pullquote q,
body.linear.hd blockquote p,
body.linear.hd blockquote q {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6rem;
  display: block; }

body.linear.hd .pullquote footer,
body.linear.hd blockquote footer {
  text-align: right;
  margin-top: 0.8rem; }

/* --------------------------------------------------
CALLOUT
---------------------------------------------------- */
body.linear.hd .callout {
  margin-bottom: 1.6rem;
  padding: 0 1.6rem;
  border-left: 5px solid #80BC00; }

body.linear.hd .callout p {
  margin: 0;
  display: block; }

/* ------------------------
THEMES
------------------------ */
body.linear.hd .callout.red {
  border-color: #F00; }

body.linear.hd .callout.yellow {
  border-color: #FFD400; }

body.linear.hd .callout.green {
  border-color: #80BC00; }

body.linear.hd .callout.primary {
  border-color: #1E6B52; }

/* ----------------------------------------------------
CHIPS
Style for Joomla generated chips
---------------------------------------------------- */
body.linear.hd .label-info,
body.linear.hd .badge-info,
body.linear.hd .badge,
body.linear.hd .label,
body.linear.hd .label-info[href],
body.linear.hd .badge-info[href] {
  border: 0;
  text-shadow: none;
  box-shadow: none;
  font-weight: normal;
  color: inherit;
  font-size: 0.8rem;
  line-height: 1.6rem;
  background-color: rgba(128, 130, 133, 0.15);
  padding: 0.1em 0.7em; }

/*------------------------
END CHIPS
------------------------*/
/* ----------------------------------------------------
FLAGS
---------------------------------------------------- */
:root {
  --theme-color: #1E6B52; }

.flag {
  display: inline-block;
  position: relative;
  padding: 0 1em;
  color: white;
  background-color: #1E6B52;
  background-color: var(--theme-color);
  line-height: 2em;
  align-content: center; }

.flag::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1em;
  width: 0;
  height: 0;
  border-top: 2em solid #1E6B52;
  border-top: 2em solid var(--theme-color);
  border-right: 1em solid transparent; }

.flag.l-right {
  float: right; }

.flag.l-right::after {
  left: -1em;
  right: 0;
  border-right: 0;
  border-left: 1em solid transparent;
  clear: both; }

/* ----------------------------------------------------
ALERT
//
// Expected HTML:
// <div class="moduletable alert">
//   <p> Alert Content </p>
// </div>
---------------------------------------------------- */
/*------------------------
RESET
------------------------*/
/* remove default alert styling */
body.linear.hd .alert {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  box-shadow: none; }

body.linear.hd .alert,
body.linear.hd .alert h4 {
  color: inherit; }

/* Remove bottom margin from paragraphs in an alert */
body.linear.hd .alert p {
  margin: 0; }

/* ------------------------
BASE
------------------------ */
/* Apply the alert style to the alert container */
body.linear.hd .moduletable.alert {
  text-shadow: none;
  box-shadow: none;
  background: #ffcccc;
  border: 2px solid #F00;
  padding: 0.3em 1em;
  margin-bottom: 1.6rem; }

/* Adjust link styles for links that appear inside an alert */
body.linear.hd .alert a {
  border-color: #F00; }

body.linear.hd .alert a:hover {
  border-color: #F00;
  background-color: #ff9999; }

/* Add margin between alerts and content. Should equal the margin between
the banner and content */
body.linear.hd #breadcrumbs > :last-child {
  margin-bottom: 4.8rem; }

/*------------------------
THEMES
------------------------*/
/* IE Alerts */
/* Add styling to hide IE alert on non-IE browsers */
body.linear.hd .ie-alert {
  display: none; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body.linear.hd .ie-alert {
    display: block; } }

/*@import 'partials/02-components/_grid.scss';*/
/* ----------------------------------------------------
BUTTONS
---------------------------------------------------- */
/* ------------------------
BASE
------------------------ */
body.linear.hd button,
body.linear.hd .btn,
body.linear.hd input[type='submit'],
body.linear.hd input[type='reset'],
body.linear.hd input[type='button'] {
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  margin: 0;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.3em 1em;
  background: white;
  border: 1px solid #333435;
  border-radius: 2px;
  color: #333435;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  white-space: nowrap; }
  body.linear.hd button:focus, body.linear.hd button:hover,
  body.linear.hd .btn:focus,
  body.linear.hd .btn:hover,
  body.linear.hd input[type='submit']:focus,
  body.linear.hd input[type='submit']:hover,
  body.linear.hd input[type='reset']:focus,
  body.linear.hd input[type='reset']:hover,
  body.linear.hd input[type='button']:focus,
  body.linear.hd input[type='button']:hover {
    outline: 0;
    text-decoration: none;
    border-color: #1E6B52;
    box-shadow: 0 0 0 1px #1E6B52;
    background-color: #d2e1dc;
    color: black; }
  body.linear.hd button[disabled],
  body.linear.hd .btn[disabled],
  body.linear.hd input[type='submit'][disabled],
  body.linear.hd input[type='reset'][disabled],
  body.linear.hd input[type='button'][disabled] {
    background: rgba(128, 130, 133, 0.15); }

[disabled] {
  pointer-events: none; }

/* !important is used to override aggressive rule from RS Forms */
.uk-button {
  border: 1px solid #808285 !important; }

/*------------------------
LAYOUT
------------------------*/
body.linear.hd button.full,
body.linear.hd .btn.full {
  display: block;
  text-align: center;
  width: 100%; }

/*------------------------
THEMES
------------------------*/
/* Primary */
body.linear.hd .btn.primary,
body.linear.hd button.primary {
  border-color: #1E6B52;
  color: white;
  background: #1E6B52; }
  body.linear.hd .btn.primary:hover,
  body.linear.hd button.primary:hover {
    border-color: #1E6B52;
    box-shadow: 0 0 0 1px #1E6B52;
    background-color: #d2e1dc;
    color: black; }

/* ----------------------------------------------------
FORMS
---------------------------------------------------- */
/*------------------------
START BTN TOOLBAR
------------------------*/
#undefined {
  margin: 0; }

.formContainer .row {
  margin: 0; }

/* Setup positioning for input groups, add spacing */
.input-group {
  display: -webkit-box;
  display: flex;
  margin-bottom: 1.6rem; }

/* remove spacing from input group children */
body.linear.hd .input-group button,
body.linear.hd .input-group input,
body.linear.hd .input-group .btn {
  margin: 0; }

/* Adjust border radius
expected html:
<div class="input-group">
  <input> or <button> or <a class="btn">
  <button> or <a class="btn">
</div>
*/
body.linear.hd .input-group :first-child {
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

body.linear.hd .input-group :last-child {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/*------------------------
END BTN TOOLBAR
------------------------*/
/* -----------------------
RESET
----------------------- */
body.linear.hd textarea,
body.linear.hd input[type='email'],
body.linear.hd input[type='number'],
body.linear.hd input[type='text'],
body.linear.hd input[type='tel'],
body.linear.hd input[type='url'],
body.linear.hd input[type='search'] {
  background: none;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-sizing: border-box;
  height: auto; }

/*------------------------
BASE
------------------------*/
/* Apply typography styles to form elements */
body.linear.hd legend {
  margin: 0 0 1.6rem;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "kulturista-web", serif;
  color: black;
  color: inherit; }

body.linear.hd label,
body.linear.hd input,
body.linear.hd select,
body.linear.hd textarea {
  font-size: 1rem;
  line-height: 1.6rem; }

/* Basic styles for input fields */
body.linear.hd textarea,
body.linear.hd input[type='email'],
body.linear.hd input[type='number'],
body.linear.hd input[type='text'],
body.linear.hd input[type='tel'],
body.linear.hd input[type='url'],
body.linear.hd input[type='search'] {
  padding: 0.3em 1em;
  color: black;
  border: 1px solid #808285;
  display: block;
  width: 100%;
  background-color: white; }

body.linear.hd textarea {
  height: 6.4rem;
  resize: vertical;
  overflow-y: scroll; }

body.linear.hd input[type='radio'],
body.linear.hd input[type='checkbox'] {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: none;
  padding-left: 0;
  margin-right: 0.8rem;
  width: 1em;
  height: 1em;
  border: 1px solid #808285; }

body.linear.hd input[type='radio'] {
  border-radius: 50%; }

/* -----------------------
STATES
----------------------- */
/* Add focus states */
body.linear.hd textarea:focus,
body.linear.hd input:focus,
body.linear.hd select:focus {
  border-color: #80BC00;
  box-shadow: 0 0 0 1px #80BC00; }

body.linear.hd select:focus,
body.linear.hd input[type='file']:focus,
body.linear.hd input[type='radio']:focus,
body.linear.hd input[type='checkbox']:focus {
  outline: thin dotted #333;
  outline-offset: 0; }

/* Add style for checked radio and checkboxes */
body.linear.hd input[type='radio']:checked {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E);
  background-position: center;
  border-color: #80BC00;
  background-color: #80BC00; }
  body.linear.hd input[type='radio']:checked:focus {
    background-color: #80BC00; }

body.linear.hd input[type='checkbox']:checked {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-position: center;
  border-color: #80BC00;
  background-color: #80BC00; }
  body.linear.hd input[type='checkbox']:checked:focus {
    background-color: #80BC00; }

/* Fix for RS Forms */
.uk-checkbox:checked,
.uk-checkbox:indeterminate,
input[type='radio']:checked,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus,
input[type='radio']:checked:focus {
  background-color: #80BC00; }

/* Fix for RS Forms */
body.uk-form ::-moz-selection {
  color: black; }
body.uk-form ::selection {
  color: black; }

body.linear.hd nav.table-of-contents {
  padding: 1.6rem;
  width: 80%;
  min-width: 200px;
  border: 1px solid #cccdce;
  margin-bottom: 1.6rem; }

body.linear.hd #whitebox nav.table-of-contents ol {
  list-style: none; }

body.linear.hd #whitebox nav.table-of-contents > ol {
  list-style: none;
  margin: 0; }

body.linear.hd #whitebox nav.table-of-contents ol li {
  margin: 0;
  padding: 0;
  color: #1E6B52;
  /*font-size: 0.8rem;*/ }

body.linear.hd #whitebox nav.table-of-contents ol li a {
  /*border: none !important;*/
  /*text-decoration: underline;*/
  color: black; }

/* ----------------------------------------------------
END - EMBER
---------------------------------------------------- */
