@import 'ember.scss';
/* Home Adjustments */

#{$specify}.it-home #banner h1 {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 4.6rem;
}
#{$specify}.it-home #banner .breadcrumb {
  opacity: 0;
}
.it-home div.custom.twitter-feed h4,
.it-home div.custom.twitter-feed hr {
  display: none;
}

/* ORG CARD */

.org-card {
  display: grid;
  grid-template-columns: 9.6rem 1fr;
  grid-template-areas:
    'org-image org-name'
    'org-content org-content';
  grid-gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.org-card-cio {
  grid-template-columns: 12.6rem 1fr;
  grid-template-areas:
    'org-image org-name'
    'org-content org-content';
  grid-gap: 1.6rem;
}
.org-img {
  grid-area: org-image;
  height: 9.6rem;
  background: grey;
}
.org-card-cio .org-img {
  height: 12.6rem;
}
.org-name {
  grid-area: org-name;
}
.org-content {
  grid-area: org-content;
}
.org-child .org-name h4,
.org-name a.btn {
  margin: 0 !important;
}
.org-child {
  padding-left: 1.6rem;
  border-left: $bdr-lg solid $c-secondary;
  margin-left: 1.6rem;
}
