@import 'partials/core/_colors.scss';
@import 'partials/core/_global.scss';
// Edits to Ember Variables
$specify: "body.linear.hd";

$color-primary: $uabgreen;
$mark-color: $uabgreen-100;

$color-green: $apple;
$color-yellow: $blaze;
$color-red: $coral;

$grey1: $stone-100; //Background color for sections
$grey2: $stone-300; //Background color for blocks
$grey3: $stone-500; //Background color for hover (non link)
$dark: $stone-800; //Dark background color
@import 'ember.scss';

#{$specify}.it-home #banner h1 {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 4.6rem;
}
#{$specify}.it-home #banner .breadcrumb {
  opacity: 0;
}
.it-home #twitter-widget-0 {
  height: calc( 100% - 12.8rem ) !important;
  max-width: 329px !important;
  display: block;
}
.it-home div.custom.twitter-feed {
  height: 100%;
}
.it-home div.custom.twitter-feed h4,
.it-home div.custom.twitter-feed hr {
  display: none;
}
