/*------------------------
START ALERT
------------------------*/
/* remove default alert styling */
.alert {
  background: none;
  border: 0px solid transparent;
  padding: 0px;
  margin: 0px;
  text-shadow: none;
}
.alert,
.alert h4 {
  color: inherit;
}

/* Apply the alert style to the alert container */
.moduletable.alert {
  background: tint( $color-red, 80% );
  border: 2px solid $color-red;
  border-radius: $bdr-radius;
  padding: $pad-input;
  margin-bottom: $s-1;
  text-shadow: none;
}

/* Adjust link styles for links that appear inside an alert */
div.ribbonFullwidth .alert a {
  border-color: $color-red;
}
div.ribbonFullwidth .alert a:hover {
  border-color: $color-red;
  background-color: tint( $color-red, 60% );
}

/* Remove bottom margin from paragraphs in an alert */
.alert p {
  margin: 0px;
}
/*------------------------
END ALERT
------------------------*/
