/*------------------------
START ALERT
------------------------*/
/* remove default alert styling */
.alert {
  @include reset(border, margin, padding, background, shadow);
}
.alert,
.alert h4 {
  @include reset(color);
}

/* Apply the alert style to the alert container */
.moduletable.alert {
  background: tint( $color-red, 80% );
  border: 2px solid $color-red;
  border-radius: $bdr-radius;
  padding: $input-padding;
  @include block-margin;
  @include reset(shadow);
}

/* Adjust link styles for links that appear inside an alert */
div.ribbonFullwidth .alert a {
  border-color: $color-red;
}
div.ribbonFullwidth .alert a:hover {
  border-color: $color-red;
  background-color: tint( $color-red, 60% );
}

/* Remove bottom margin from paragraphs in an alert */
.alert p {
  @include reset(margin);
}

/* Add styling to hide IE alert on non-IE browsers */
.ie-alert {
  display: none;
}
/* Add margin between alerts and content. Should equal the margin between
the banner and content */
#{$specify} #breadcrumbs > :last-child {
  margin-bottom: s( 3 );
}
/*------------------------
END ALERT
------------------------*/
