/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
SPACING
------------------------ */

#{$specify} h1,
#{$specify} h2,
#{$specify} h3,
#{$specify} h4,
#{$specify} h5,
#{$specify} h6 {
  @include reset(margin);
  @include header-style;
  color: inherit;
  text-align: inherit;
}

/* Add rhythem spacing */
#{$specify} [role='main'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $header-bottom;
  }
}
#{$specify} [role='main'] :not(div) + {
  h1,
  h2 {
    margin-top: $header-top;
  }
}

/* Remove additional margin between headers */
#{$specify} [role='main'] h1 + h2,
#{$specify} [role='main'] h2 + h3,
#{$specify} [role='main'] h3 + h4,
#{$specify} [role='main'] h4 + h5,
#{$specify} [role='main'] h5 + h6 {
  margin-top: 0;
}

/* Apply block level margins to block elements */
p,
#{$specify} hr,
pre,
blockquote {
  @include block-margin;
  margin-top: 0;
}

/* ------------------------
TYPESETTING
------------------------ */

/* ID is used here to overwrite equally high specificity from style.css */
#{$specify} h1,
#{$specify} .uk-h1 { @include type-setting(h1); }
#{$specify} h2,
#{$specify} .uk-h2 { @include type-setting(h2); }
#{$specify} h3,
#leftcolumn h3,
#{$specify} .uk-h3 { @include type-setting(h3); }
#{$specify} h4,
#{$specify} .uk-h4 { @include type-setting(h4); }
#{$specify} h5,
#{$specify} .uk-h5 { @include type-setting(h5); }
#{$specify} h6,
#{$specify} .uk-h6 { @include type-setting(h6); }
body,
#{$specify} p,
#{$specify} .uk-p { @include type-setting(p); }
#{$specify} small,
#{$specify} .uk-small { @include type-setting(sm); }

/*------------------------
RULE LINES
------------------------*/

/* Ensure hr takes up no vertical space,
apply thin border for styling */
#{$specify} hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 $bdr-width;
  border-color: $hr-color;
}

/* Allow rule lines that immediately follow headers to sit on the header's
baseline */
#{$specify} h1 + hr,
#{$specify} h2 + hr,
#{$specify} h3 + hr,
#{$specify} h4 + hr,
#{$specify} h5 + hr,
#{$specify} h6 + hr {
  margin-top: -$header-bottom; /* Allows headers to sit on horizontal rules */
}

/*------------------------
LINKS
------------------------*/

/* Applies link styles to content areas only. Less specific than an id and
helps avoid overreaching styles. */

p a[href]:not(.unstyled),
li a[href]:not(.unstyled),
h1 a[href]:not(.unstyled),
h2 a[href]:not(.unstyled),
h3 a[href]:not(.unstyled),
h4 a[href]:not(.unstyled),
h5 a[href]:not(.unstyled),
h6 a[href]:not(.unstyled),
table a[href]:not(.unstyled),
dl a[href]:not(.unstyled),
pre a[href]:not(.unstyled) {
  @include link-style;
  &:hover {
    @include link-style($hover: true);
  }
}

a:not(.btn)[target='_blank']::after {
  content: '\e024';
  font-family: 'IcoMoon';
  speak: none;
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 90%;
}
a:not(.btn)[href$='.pdf']::after {
  content: '\e239';
  font-family: 'IcoMoon';
  speak: none;
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 90%;
}

/* ------------------------
INLINE
------------------------ */

/* Add padding to inline elements with a background */
mark,
code,
kbd {
  padding: $inline-padding;
}

mark,
::selection {
  background-color: $c-mark;
}
/*
strong,
b {
  font-weight: bolder;
}

em,
i,
dfn,
cite {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
*/
/*------------------------
PREFORMATTED
------------------------*/

code {
  background-color: c( $stone, 100 );
  color: c( $stone, 700 );
  border-radius: $bdr-radius;
  white-space: pre;
}
pre { white-space: pre-wrap; }

pre > code {
  display: block;
  padding: $block-padding;
  white-space: inherit;
}

kbd {
  background-color: c( $stone, 800 );
  color: c( $stone, 050 );
  border-radius: $bdr-radius;
  white-space: pre;
}
/*------------------------
END TYPOGRAPHY
------------------------*/
/*------------------------
START LISTS
------------------------*/
/* Remove margins and paddings from all lists */
#{$specify} ul,
#{$specify} ol {
  @include reset(margin, padding);
  list-style-position: outside;
}
#{$specify} li {
  list-style-position: inherit;
}

/* Apply margin to compensate for list style,
only to lists inside the main content area */
#{$specify} .item-page ul:not(.unstyled),
#{$specify} .item-page ol:not(.unstyled) {
  margin-left: 1.2em;
}
/* Add rhythem spacing to lists in main content area */
#{$specify} .item-page ul,
#{$specify} .item-page ol,
#{$specify} .item-page dl {
  @include block-margin;
}

/* // REVIEW: What is this for?
I think this is a theme option for if you want the bullets
to be in the margin so that the text lines up with a paragraph */
#{$specify} .item-page ul.outside,
#{$specify} .item-page ol.outside {
  margin-left: 0;
}

/* Add indention to child lists */
#{$specify} ul:not(.unstyled) ul,
#{$specify} ul:not(.unstyled) ol,
#{$specify} ol:not(.unstyled) ol,
#{$specify} ol:not(.unstyled) ul,
#{$specify} dl:not(.unstyled) dd{
  margin-bottom: 0;
  margin-left: $list-indent;
}

/* Set bullet styles */
#{$specify} .item-page ul:not(.unstyled) {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul { list-style-type: square; }
  }
}
#{$specify} .item-page ol:not(.unstyled) {
  list-style-type: decimal;
  ol {
    list-style-type: upper-latin;
    ol { list-style-type: lower-latin; }
  }
}

/* Bold description term */
#{$specify} dt {
  font-weight: bolder;
}

// REVIEW: why the use of ID here?
/* Gets rid of bootstrap style */
#content li {
  @include reset(margin);
}

// REVIEW: why the use of ID here?
#content ul:not(.unstyled) li,
#content ol:not(.unstyled) li,
#content dl:not(.unstyles) dd{
  margin: $list-margin 0 0;
}
/*------------------------
END LISTS
------------------------*/
/*------------------------
START TABLES
------------------------*/

/* Set default sytles,
make table mobile friendly,
add rhythem spacing */
#{$specify} table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  @include block-margin;
}

/* Add borders, padding, and ensure
text alignment is respected */
#{$specify} table tr td,
#{$specify} table tr th {
  @include border;
  padding: $table-padding;
  text-align: inherit;
}

/* Apply h4 styles to table headers in a thead element */
#{$specify} table thead th {
  @include header-style(h4);
}

// REVIEW: is this necessary?
/* remove margin from paragraphs and pre elements inside a table */
#{$specify} table pre,
#{$specify} table p {
  @include reset(margin);
}

// REVIEW: can this code be isolated to that one page?
/* START OVERRIDES */
.table-bordered {
  @include reset(border);
  border-collapse: collapse;
  border-radius: 0;
}

.table-bordered th,
.table-bordered td {
  @include reset(border);
}
table.category td {
  @include reset(border);
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  @include reset(background);
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  @include reset(background);
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}
/* END OVERRIDES */

#{$specify} table.table-striped tr td,
#{$specify} table.table-striped tr th {
  @include reset(border);
}
#{$specify} .table-striped tbody > tr:nth-child(odd) {
  background: $c-background;
}
#{$specify} .category.table tbody a {
  @include reset(border);
  text-decoration: underline;
}
/*------------------------
END TABLES
------------------------*/
/*------------------------
START MEDIA
------------------------*/
img {
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
}

/* Add rhythem spacing */
:not(figure) img,
iframe,
figure,
.video-container {
  @include block-margin;
}

/* Style figcaption to display small in the center under the image,
Add rhythem spacing above caption instead of below image */
figure figcaption {
  @include type-setting(sm);
  text-align: center;
  margin: $block-margin 0;
}

/* Remove problematic image styles from hidden links */
#hidden-links img {
  display: inherit;
  margin: 0;
}
/*------------------------
END MEDIA
------------------------*/
