/*------------------------
START FEATURES

This uses widgetkit for layout
------------------------*/
#{$specify} .wk-features {
  margin-bottom: $s-1;
}
#{$specify} .wk-features .uk-panel p {
  margin: 0;
}
#{$specify} .wk-features .uk-panel img {
  height: 7rem;
  width: auto;
  display: block;
  margin: auto;
}
#{$specify} .wk-features .uk-panel-title {
  margin-top: $s-1;
  margin-bottom: $s-1;
}
/*------------------------
END FEATURES
------------------------*/
