/*------------------------
START FEATURES

This uses widgetkit for layout
------------------------*/
#{$specify} .wk-features .uk-panel p {
  @include reset(margin);
}
#{$specify} .wk-features .uk-panel img {
  height: 7rem;
  width: auto;
  display: block;
  margin: auto;
}
#{$specify} .wk-features .uk-panel-title {
  @include block-margin;
  margin-top: s( 1 );
}
/*------------------------
END FEATURES
------------------------*/
