/*------------------------
START GALLERY

This uses widgetkit for layout
------------------------*/
#{$specify} .wk-gallery p {
  text-align: center;
  margin: 0;
}
#{$specify} .wk-gallery {
  margin-bottom: $s-1;
}
/*------------------------
END GALLERY
------------------------*/
