/*------------------------
START OVERLAY
------------------------*/
.overlay {
  position: relative;
}
.overlay::before {
  content: '';
  background-color: $darkgreen;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
}
.overlay:hover::before {
  content: '';
  opacity: 0;
}
/*------------------------
END OVERLAY
------------------------*/
