/*------------------------
START PAGINATION
------------------------*/
.pagination {
  margin: 0 0 s(1);
}
.pagination ul {
  border-radius: 0;
  box-shadow: none;
}
.pagination ul > li > a,
.pagination ul > li > span {
  display: inline-block;
  margin: 0 s(0.5);
  @include border(none);
  @include input-space;
}
.pagination ul > li > span {
  border-bottom: 2px solid $apple;
}
.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  border-bottom-left-radius: $bdr-radius;
  border-top-left-radius: $bdr-radius;
}
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span, {
  border-bottom-right-radius: $bdr-radius;
  border-top-right-radius: $bdr-radius;
}
.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-next > a {
  @include border($color: $uabgreen, $radius: omit);
  color: $uabgreen;
  margin: 0;
}
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-prev > span,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-next > span {
  @include border($color: c($stone, 300));
  color: c($stone, 300);
  background: c($stone, 050);
  margin: 0;
}
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span {
  margin-right: s(0.5);
}
.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  margin-left: s(0.5);
}
/*------------------------
END PAGINATION
------------------------*/
