/*------------------------
START PANELS
------------------------*/
body .panels > a,
.cards > div {
  border: 1px solid black;
  padding: $s-1;
  border-radius: $bdr-radius;
  background: white;
}
body .panels > a:hover {
  border-color: $uabgreen;
  box-shadow: 0 0 0 1px $uabgreen;
  background: $uabgreen-100;
}
.panels > a h4 {
  display: inline-block;
  margin-top: 0px;
  border-bottom: 2px solid $uabgreen-300;
}
.panels > a:hover h4 {
  border-color: $uabgreen;
}
.panels > a p:last-child {
  margin-bottom: 0px;
}

.uk-panel-box {
  padding: $s-1;
}

.uk-panel-title,
.uk-panel-box-primary,
.uk-panel-box,
.uk-panel-box .uk-panel-title,
.uk-panel-box-hover:hover,
.uk-panel-box-primary .uk-panel-title,
.uk-panel-box-primary-hover:hover {
  color: black;
}

#{$specify} .wk-panels {
  margin-bottom: $s-1;
}
#{$specify} .wk-panels .uk-panel-title {
  margin-top: 0;
}
#{$specify} .wk-panels .uk-panel {
  background: white;
  border: 1px solid black;
  border-radius: $bdr-radius;
}
#{$specify} a.uk-position-cover {
  opacity: 0 !important;
}
#{$specify} .wk-panels .uk-panel p:last-child {
  margin: 0;
}

#{$specify} .wk-panels .uk-panel:hover {
  border-color: $uabgreen;
  box-shadow: 0 0 0 1px $uabgreen;
  background: $uabgreen-100;
}
#{$specify} .wk-panels .uk-panel:hover h3 a {
  border-color: $uabgreen;
}
/*------------------------
END PANELS
------------------------*/
