/*------------------------
START PULLQUOTE
------------------------*/
#{$specify} .pullquote {
  padding: $s-1;
  background-color: $stone-050;
  border-left: 5px solid $apple-500;
  margin-bottom: $s-1;
}
#{$specify} .background .pullquote {
  background-color: $stone-100;
}
#{$specify} .pullquote p,
#{$specify} .pullquote q {
  @include type-setting(1);
  margin: 0px;
  display: block;
}
#{$specify} .pullquote footer {
  text-align: right;
  margin-top: $s-05;
}
/*------------------------
END PULLQUOTE
------------------------*/
