/*--------------------------------------------------------------
## Sections
@requires _structure.scss
@requires _color.scss
@requires _mixins.scss
--------------------------------------------------------------*/
.section {
  margin-top: s(6);
  margin-bottom: s(6);
}

/* Fixes a bug where the background is invisible on mobile */
.background-full {
  position: relative;
  z-index: 1;
}
/* Adds background element that spans the width of the screen. */
.background-full::before {
  content: '';
  @include position(cover);
  width: 150vw;
  margin-left: -50vw;
  background-color: $c-background;
  z-index: -1;
}

.section.background-full {
  padding-top: s(6);
  padding-bottom: s(6);
}
