// ----------------------------------------------------
// CORE FUNCTIONS
// ----------------------------------------------------

// Params:
// $base: Number
// $exponents: Integer
@function pow($base, $exponents) {
  $raised: 1;
  @for $i from 1 through $exponents {
    $raised: $raised * $base;
  }
  @return $raised;
}

// Params:
// $map: Map
// $keys: Key, Label
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Params:
// $color: color
// $percentage: percentage
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// ----------------------------------------------------
// REQUIREMENTS
// ----------------------------------------------------

$rem-size: 16 !default; // Integer(px)
$ratio: 1.25 !default; // Number
$init-txt-size: 16 !default; // Integer(px)
$init-line-height: 1.6 !default; // Number

$txt-size: $init-txt-size / $rem-size; //converts raw value to "rem"
$line-height: $init-txt-size * $init-line-height / $rem-size; //converts raw value to "rem"

// Calculates line height for text
// Params:
// $size: Number (equal to the font size)
@function line-height($size) {
  $value: $line-height;
  $i: 1.5;
  @while $value < $size {
    $value: $line-height * $i;
    $i: $i + 0.5;
  }
  @return $value;
}

$space-unit: $line-height !default;
// General unit of measurement for spacing
// Params:
// $value: Number
@function s($value) {
  @return ($space-unit * $value) + 0rem;
}

$color-scale: (
  050: 90%,
  100: 80%,
  200: 60%,
  300: 40%,
  400: 20%,
  500: 0%,
  600: 20%,
  700: 40%,
  800: 60%,
  900: 80%
) !default;

// Generates tint or shade of color input
// Params:
// $color: color
// $level: Keyword [050, 100, 200, 300, 400, 500, 600, 700, 800, 900]
@function c($color: black, $level: null) {
  @if $level >= 600 {
    $scale: map-get( $color-scale, $level );
    @return shade( $color, $scale );
  }
  @else if $level <= 400 {
    $scale: map-get( $color-scale, $level );
    @return tint( $color, $scale );
  }
  @else {
    @return $color;
  }
}

// ----------------------------------------------------
// CONFIG
// ----------------------------------------------------

$adjust-template: true !default; // boolean
$use-grid: true !default; // boolean
$adjust-layout: true !default; // boolean

$specify: 'body.linear.hd' !default; // string
$main: '#whitebox' !default;

$icon-new-tab: '\e024' !default; // string
$icon-pdf: '\e239' !default; // string
