@use '../01-core/' as *;
@use '../01-core/token';

/* SECTION Helpers
-------------------------------------------------------------------------- */

.u-txt-c,
.uk-text-center { text-align: center !important; }
.u-txt-l { text-align: left !important; }
.u-txt-r { text-align: right !important; }

.u-full {
  display: block;
  width: 100%;
}

.u-round { border-radius: token.border('radius') !important; }
.u-square { border-radius: 0 !important; }
.u-circle { border-radius: 50% !important; }

.overflow-container { overflow: auto !important; }

.u-no-margin-bottom { margin-bottom: 0 !important; }
.u-no-margin-top { margin-top: 0 !important; }

.u-font-head { font-family: token.font('head'); }
.u-font-body { font-family: token.font('body'); }


[disabled] {
  pointer-events: none !important;
  background-color: token.color('background') !important;
  color: token.color('neutral', '300') !important;
}

[hidden] { display: none !important; }

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 */ clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}


/* End !SECTION HELPERS */
