@use '@mattmcadams/stratus';
@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION MEDIA
========================================================================== */

#{$specify-main} {
/** SECTION Images
 * [1] Make sure image is never larger than it's container
 * [2] Make images block / auto by default
 * [3] Ensures image isn't stretched if given hight/width is incorrect ratio
 * [4] Add block spacing to block level media
-------------------------------------------------------------------------- */

/*[4]*/
iframe,
figure,
.video-container,
img {
  @include token.block-margin;
}

img {
  max-width: 100%; /*[1]*/
  object-fit: cover; /*[3]*/
  margin: auto; /*[2]*/
  display: block; /*[2]*/
}

figure img { margin-bottom: 0; }

/* End !SECTION Images */
/** SECTION Captions
 * Correct font sizing and margins of captions
-------------------------------------------------------------------------- */
/* Style figcaption to display small in the center under the image,
Add rhythm spacing above caption instead of below image */
figcaption {
  @include stratus.type-set(small);
  text-align: center;
  margin: token.space(1) 0;
}
}
/* End !SECTION Captions */
/* End !SECTION MEDIA */
