/* ==========================================================================
   SECTION MEDIA
========================================================================== */

/** SECTION Images
 * [1] Make sure image is never larger than it's container
 * [2] Make images block / auto by default
 * [3] Ensures image isn't stretched if given hight/width is incorrect ratio
 * [4] Add block spacing to block level media
-------------------------------------------------------------------------- */

/*[4]*/
#{$main} iframe,
#{$main} figure,
#{$main} .video-container {
  @include block-margin;
}

#{$main} img {
  max-width: 100%; /*[1]*/
  object-fit: cover; /*[3]*/
  margin: auto; /*[2]*/
  display: block; /*[2]*/
}
#{$main} :not(figure) > img {
  margin-bottom: s(1);
}

/* End !SECTION Images */
/** SECTION Captions
 * Correct font sizing and margins of captions
-------------------------------------------------------------------------- */
/* Style figcaption to display small in the center under the image,
Add rhythm spacing above caption instead of below image */
#{$main} figure figcaption {
  @include type-setting(small);
  text-align: center;
  margin: $block-margin 0;
}

/* End !SECTION Captions */
/* End !SECTION MEDIA */
