@use '../01-core/' as *;
@use '../01-core/token';

/* SECTION Structure
 * [1] allow elements to overflow the grid to cover the full width
 * of the screen.
 * [2] Add space above and below the content.
 * [3] fixes a bug where elements that overflow the whitebox could overflow
 * the body and allow the page to be scrolled on the x axis.
 * [4] Fixes a bug where elements that overflowed the content would be invisible
 * [5] Margin fix for first and last elements
 * [6] Adds an option to have an inside page the same width as the home page
 * Add 'layout-wide' as a page class on the menu item
-------------------------------------------------------------------------- */

#{$specify} {
  #whitebox {
    /*[1]*/ overflow: visible;
    /*[2]*/ margin: $content-margin auto;
    @include clearfix;
    max-width: $max-width;
  }
  #wrapper { /*[3]*/ overflow-x: hidden; }
  #whitebox { margin: $content-margin auto; }
  #content {
    /*[4]*/ overflow: visible;
  }
}
#{$specify-main} {
  :last-child {
    /*[5]*/ margin-bottom: 0;
  }
  :first-child {
    /*[5]*/ margin-top: 0;
  }
}

body.hd.layout-wide #whitebox {
  /*[6]*/ max-width: 1280px;
}

/** Sections
 * [1] Add section top & bottom margin
 * [2] Add a larger padding on top and bottom, remove side paddings if
 * the background is full width
-------------------------------------------------------------------------- */

#{$specify-main} {
  .section {
    /*[1]*/ margin: token.space('margin', 'section') 0;
  }
  .section.has-background-full {
    /*[2]*/ padding: token.space('padding', 'section') 0;
  }
}

/* END !SECTION Structure */
/* SECTION Background
 * Style for a background to stretch to the full width of the window
 * [1] Fixes a bug where background is invisible on mobile
 * [2] Size the background to be wider than the window
 * [3] Position it so that it starts off the left edge of the screen
 * [4] Position the background behind the element's content
-------------------------------------------------------------------------- */

#{$specify-main} {
  .has-background {
    padding: token.space('padding', 'block');
    background-color: token.color('background');
  }
  .has-background-full {
    position: relative;
    /*[1]*/ z-index: token.z-index('foreground');
  }
  .has-background-full::before {
    content: '';
    @include position(cover);
    /*[2]*/ width: 150vw;
    /*[3]*/ margin-left: -50vw;
    background-color: token.color('background');
    /*[4]*/ z-index: token.z-index('background');
  }
}

/* END !SECTION Background */
