@use '../01-core/' as *;
@use '../01-core/token';
@use '@mattmcadams/stratus';

/* SECTION Tables
 * [1] Add borders, padding, and ensure text alignment is respected
 * [2] Apply header styles to table headers
-------------------------------------------------------------------------- */

#{$specify-main} {
  table {
    border-collapse: collapse;
    width: 100%;
    @include token.block-margin;
  }
  td,
  th {
    /*[1]*/
    border: token.border('width', 'hairline') solid black;
    padding: token.space('padding', 'inline-block');
    text-align: inherit;
    color: inherit;
  }
  th {
    @extend %header;
    @include stratus.type-set(normal);
    font-weight: token.font('head', 'bold');
  }
}

/* Themes
 * Borderless
 * Condensed
 * Striped
 * Hoverable
 * Colored
 * Comparison
-------------------------------------------------------------------------- */

#{$specify-main} {
  .borderless td,
  .borderless th {
    border: none;
  }

  .table-condensed td,
  .table-condensed th {
    padding: #{token.space('padding', 'inline-block') / 2};
  }

  .table-striped tbody > tr:nth-child(odd),
  .table-hover tr:hover {
    background: token.color('background');
  }

  .table-accent {
    border: token.border('width', 'medium') solid token.color('accent');
    & thead {
      background: token.color('accent');
      color: white;
    }
  }
  .table-secondary {
    border: token.border('width', 'medium') solid token.color('secondary');
    & thead {
      background: token.color('secondary');
      color: white;
    }
  }
  .table-primary {
    border: token.border('width', 'medium') solid token.color('primary');
    & thead {
      background: token.color('primary');
      color: white;
    }
  }
  .table-notice {
    border: token.border('width', 'medium') solid token.color('state', 'notice');
    & thead {
      background: token.color('state', 'notice');
      color: white;
    }
  }
  .table-caution {
    border: token.border('width', 'medium') solid token.color('state', 'caution');
    & thead {
      background: token.color('state', 'caution');
    }
  }
  .table-warning {
    border: token.border('width', 'medium') solid token.color('state', 'warning');
    & thead {
      background: token.color('state', 'warning');
      color: white;
    }
  }

  .cell-accent{ background-color: token.color('accent', '300'); }
  .cell-secondary{ background-color: token.color('secondary', '300'); }
  .cell-primary{ background-color: token.color('primary', '300'); }
  .cell-notice{ background-color: token.color('state', 'notice', '300'); }
  .cell-caution{ background-color: token.color('state', 'caution', '300'); }
  .cell-caution-alt{ background-color: token.color('state', 'caution-alt', '300'); }
  .cell-warning{ background-color: token.color('state', 'warning', '300'); }

  .comparison-table td { vertical-align: middle; }
  .comparison-table .icon-ok { color: token.color('state', 'notice'); }
  .comparison-table .icon-minus-sign { color: token.color('state', 'caution'); }
  .comparison-table .icon-remove { color: token.color('state', 'warning'); }
}

/* END !SECTION Tables */
