/* Grid Gaps */
.uk-grid {
  margin-left: -$gap;
}
.uk-grid > * {
  padding-left: $gap;
}
.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap;
}

.uk-grid-small {
  margin-left: -$gap-sm;
}
.uk-grid-small > * {
  padding-left: $gap-sm;
}
.uk-grid-small .uk-grid + .uk-grid,
.uk-grid-small .uk-grid-margin,
.uk-grid-small .uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap-sm;
}

.uk-grid-medium {
  margin-left: -$gap-md;
}
.uk-grid-medium > * {
  padding-left: $gap-md;
}
.uk-grid-medium .uk-grid + .uk-grid,
.uk-grid-medium .uk-grid-margin,
.uk-grid-medium .uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap-md;
}

.uk-grid-large {
  margin-left: -$gap-md;
}
.uk-grid-large > * {
  padding-left: $gap-md;
}
.uk-grid-large .uk-grid + .uk-grid,
.uk-grid-large .uk-grid-margin,
.uk-grid-large .uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap-md;
}

@include breakpoint(lg) {
  .uk-grid-large {
    margin-left: -$gap-lg;
  }
  .uk-grid-large > * {
    padding-left: $gap-lg;
  }
  .uk-grid-large .uk-grid + .uk-grid,
  .uk-grid-large .uk-grid-margin,
  .uk-grid-large .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: $gap-lg;
  }
}
