/*------------------------
START SEARCH
------------------------*/
#{$specify} #search form {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

#{$specify} #search button.btn-primary {
  @include reset(margin, transition);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#{$specify} #search .btn-primary {
  &:focus,
  &:hover {
    @include hover;
  }
}

#{$specify} #search input {
  border: $bdr-width solid $c-primary;
  border-top-left-radius: $bdr-radius !important;
  border-bottom-left-radius: $bdr-radius !important;
}
/*------------------------
END SEARCH
------------------------*/
