@mixin button-primary {
  color: white;
  background: $color-primary;
  border-color: $color-primary;
}

@mixin button($pri: false) {
  @if $pri == true {
    @include button-primary;
  }
  @else {
    @include border( $color: c( $stone, 800 ) );
    color: c( $stone, 800 );
  }
  @include type-setting(0);
  @include input-space;
  text-align: center;
  margin-bottom: s( 1 );
  white-space: nowrap;
  box-sizing: border-box;
}
@mixin button-hover {
  outline: 0;
  text-decoration: none;
  border-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
  background: c( $uabgreen, 100 );
  color: black;
}
/*------------------------
START BUTTONS
------------------------*/
#{$specify} button,
#{$specify} .button,
#{$specify} .btn-primary,
#{$specify} .btn--full,
#{$specify} .btn,
#{$specify} input[type='submit'],
#{$specify} input[type='reset'],
#{$specify} input[type='button'] {
  @include reset(background, shadow);
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  @include button;
  &:focus,
  &:hover {
    @include button-hover;
  }
}

#{$specify} a.btn-primary,
#{$specify} button.btn-primary {
  @include button-primary;
}
/*------------------------
END BUTTONS
------------------------*/
