/*------------------------
START BUTTONS
------------------------*/
#{$specify} button,
#{$specify} .button,
#{$specify} .btn--fill,
#{$specify} .btn-primary,
#{$specify} .btn--full,
#{$specify} .btn,
#{$specify} input[type='submit'],
#{$specify} input[type='reset'],
#{$specify} input[type='button'] {
  -webkit-appearance: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  @include type-setting(0);
  padding: $pad-input;
  margin-bottom: $s-1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  border: 1px solid $dark;
  border-radius: $bdr-radius;
  color: $dark;
  &:focus,
  &:hover {
    opacity: 0.6;
    outline: 0;
    text-decoration: none;
  }
}

#{$specify} a.btn-primary,
#{$specify} button.btn-primary {
  color: white;
  background: $color-primary;
  border-color: $color-primary;
}

#{$specify} a.btn--full,
#{$specify} button.btn--full {
  display: block;
  width: 100%;
}
/*------------------------
END BUTTONS
------------------------*/
