/*------------------------
START FORMS
------------------------*/
/*------------------------
START BTN TOOLBAR
------------------------*/
.btn-toolbar {
  margin: 0 0 $block-margin;
}
#undefined {
  @include reset(margin);
}
.input-group {
  display: flex;
  @include block-margin;
}
#{$specify} .input-group button,
#{$specify} .input-group input {
  @include reset(margin);
}
#{$specify} .input-group input {
  border-radius: $bdr-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#{$specify} .input-group button {
  border-radius: $bdr-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*------------------------
END BTN TOOLBAR
------------------------*/
/*------------------------
Standard Inputs
------------------------*/
legend {
  @include header-style(false);
  @include reset(color);
  @include type-setting(h4);
}

#{$specify} .uneditable-input,
#{$specify} textarea,
#{$specify} progress,
#{$specify} fieldset,
#{$specify} input {
  @include reset(background, shadow, transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-sizing: border-box;
  height: auto;
}

#{$specify} .uneditable-input,
#{$specify} textarea,
#{$specify} progress,
#{$specify} fieldset,
#{$specify} input {
  color: $txt-color;
  padding: $input-padding;
  @include border($radius: 0);
}

#{$specify} input,
#{$specify} textarea {
  display: block;
  width: 100%;
  background-color: white;
}

#{$specify} textarea {
  height: s(4);
  resize: vertical;
  overflow-y: scroll;
}

#{$specify} textarea:focus,
#{$specify} input:focus,
#{$specify} select:focus {
  border-color: $c-secondary !important;
  box-shadow: 0 0 0 1px $c-secondary;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 2px auto $c-primary;
}
