/*------------------------
START FORMS
------------------------*/
/*------------------------
START BTN TOOLBAR
------------------------*/
.btn-toolbar {
  margin: 0 0 $block-margin;
}
#undefined {
  margin: 0;
}
.input-group {
  display: flex;
  @include block-margin;
}
#{$specify} .input-group button,
#{$specify} .input-group input {
  margin: 0;
}
#{$specify} .input-group input {
  border-radius: $bdr-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#{$specify} .input-group button {
  border-radius: $bdr-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*------------------------
END BTN TOOLBAR
------------------------*/
/*------------------------
Standard Inputs
------------------------*/
legend {
  @include type-setting(h4);
  color: inherit;
  font-family: $font-head;
}

#{$specify} .uneditable-input,
#{$specify} textarea,
#{$specify} progress,
#{$specify} fieldset,
#{$specify} input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
  box-shadow: none;
  height: auto;
  transition-property: none;
}

#{$specify} .uneditable-input,
#{$specify} textarea,
#{$specify} progress,
#{$specify} fieldset,
#{$specify} input {
  color: $txt-color;
  padding: $input-padding;
  @include border($radius: 0);
}

#{$specify} input,
#{$specify} textarea {
  display: block;
  width: 100%;
  background-color: white;
}

#{$specify} textarea {
  height: s(4);
  resize: vertical;
  overflow-y: scroll;
}

#{$specify} textarea:focus,
#{$specify} input:focus,
#{$specify} select:focus {
  border-color: $apple !important;
  box-shadow: 0 0 0 1px $apple;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 2px auto $uabgreen;
}
