$list-indent: $indent !default;
/*------------------------
START LISTS
------------------------*/
#{$specify} ul,
#{$specify} ol,
#{$specify} li {
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

#{$specify} ul,
#{$specify} ol,
#{$specify} dl {
  margin-bottom: $s-1;
}

#{$specify} ul ul,
#{$specify} ul ol,
#{$specify} ol ol,
#{$specify} ol ul {
  margin-bottom: 0px;
  margin-left: $list-indent;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul { list-style-type: square; }
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: upper-latin;
    ol { list-style-type: lower-latin; }
  }
}

dt {
  font-weight: bolder;
}

dd {
  margin-left: $list-indent;
  margin-bottom: $s-05;
}

#content li {
  margin-bottom: 0px;
}
/*------------------------
END LISTS
------------------------*/
