$list-indent: $indent !default;
/*------------------------
START LISTS
------------------------*/
#{$specify} ul,
#{$specify} ol {
  @include reset(margin, padding);
  list-style-position: outside;
}
#{$specify} li {
  list-style-position: inherit;
}

#{$specify} .item-page ul:not(.unstyled),
#{$specify} .item-page ol:not(.unstyled) {
  margin-left: 1.2em;
}
#{$specify} .item-page ul.outside,
#{$specify} .item-page ol.outside {
  margin-left: 0;
}

#{$specify} .item-page ul,
#{$specify} .item-page ol,
#{$specify} .item-page dl {
  @include list-margin;
}

#{$specify} ul:not(.unstyled) ul,
#{$specify} ul:not(.unstyled) ol,
#{$specify} ol:not(.unstyled) ol,
#{$specify} ol:not(.unstyled) ul {
  margin-bottom: 0;
  margin-left: $list-indent;
}

#{$specify} .item-page ul:not(.unstyled) {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul { list-style-type: square; }
  }
}

#{$specify} .item-page ol:not(.unstyled) {
  list-style-type: decimal;
  ol {
    list-style-type: upper-latin;
    ol { list-style-type: lower-latin; }
  }
}

#{$specify} dt {
  font-weight: bolder;
}

dd {
  @include list-margin;
  margin-left: $list-indent;
}

/* Gets rid of bootstrap style */
#content li {
  @include reset(margin);
}

#content ul:not(.unstyled) li,
#content ol:not(.unstyled) li {
  margin: $list-margin 0 0;
}
/*------------------------
END LISTS
------------------------*/
