/*------------------------
START MEDIA
------------------------*/
img {
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  @include block-margin;
  display: block;
}
figure img {
  @include reset(margin);
}
figure {
  @include block-margin;
}
iframe {
  @include block-margin;
}
figure figcaption {
  @include type-setting(sm);
  text-align: center;
  margin: $block-margin 0;
}
.video-container {
  margin-bottom: s(1);
}
// @media all and (max-width: 1600px) {
//   #{$specify} .off-canvas-img {
//     position: relative;
//     align-self: flex-start;
//   }
//   #{$specify} .off-canvas-img > img {
//     object-fit: fill;
//     max-width: 100vw;
//     width: auto;
//   }
// }
/*------------------------
END MEDIA
------------------------*/
