/*------------------------
START TABLES
------------------------*/

#{$specify} table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  @include block-margin;
}
#{$specify} table tr td,
#{$specify} table tr th {
  padding: $block-padding;
  @include border;
  text-align: inherit;
}
#{$specify} table thead th {
  @include type-setting(h4);
  font-family: $font-head;
  font-weight: normal;
}
#{$specify} table pre,
#{$specify} table p {
  margin: 0;
}
/* START OVERRIDES */
.table-bordered {
  border: 0;
  border-collapse: collapse;
  border-radius: 0;
}

.table-bordered th,
.table-bordered td {
  border: 0;
}
table.category td {
  border: 0;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background: transparent;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background: none;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}
/* END OVERRIDES */
#{$specify} table.table-striped tr td,
#{$specify} table.table-striped tr th {
  border: 0 solid transparent;
}
#{$specify} .table-striped tbody > tr:nth-child(odd) {
  background: c($stone, 050);
}
#{$specify} .category.table tbody a {
  border: 0;
  text-decoration: underline;
}
/*------------------------
END TABLES
------------------------*/
