/*------------------------
START TABLES
------------------------*/

#{$specify} table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  @include block-margin;
}
#{$specify} table tr td,
#{$specify} table tr th {
  @include border;
  padding: $table-padding;
  text-align: inherit;
}
#{$specify} table thead th {
  @include header-style(false);
  @include type-setting(h4);
}
#{$specify} table pre,
#{$specify} table p {
  @include reset(margin);
}
/* START OVERRIDES */
.table-bordered {
  @include reset(border);
  border-collapse: collapse;
  border-radius: 0;
}

.table-bordered th,
.table-bordered td {
  @include reset(border);
}
table.category td {
  @include reset(border);
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  @include reset(background);
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  @include reset(background);
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}
/* END OVERRIDES */
#{$specify} table.table-striped tr td,
#{$specify} table.table-striped tr th {
  @include reset(border);
}
#{$specify} .table-striped tbody > tr:nth-child(odd) {
  background: $c-background;
}
#{$specify} .category.table tbody a {
  @include reset(border);
  text-decoration: underline;
}
/*------------------------
END TABLES
------------------------*/
