/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
FONTS
------------------------ */

#{$specify} h1,
#{$specify} h2,
#{$specify} h3,
#{$specify} h4,
#{$specify} h5,
#{$specify} h6 {
  font-family: $font-head;
  font-weight: $header-weight;
}

/* ------------------------
TYPESETTING
------------------------ */

#{$specify} h1,
#{$specify} .uk-h1 { @include type-setting(h1); }
#{$specify} h2,
#{$specify} .uk-h2 { @include type-setting(h2); }
#{$specify} h3,
#leftcolumn h3,
#{$specify} .uk-h3 { @include type-setting(h3); }
#{$specify} h4,
#{$specify} .uk-h4 { @include type-setting(h4); }
#{$specify} h5,
#{$specify} .uk-h5 { @include type-setting(h5); }
#{$specify} h6,
#{$specify} .uk-h6 { @include type-setting(h6); }
body,
#{$specify} p { @include type-setting(p); }
#{$specify} small { @include type-setting(sm); }

/*------------------------
RULE LINES
------------------------*/

#{$specify} hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 $bdr-width;
  border-color: $hr-color;
}

#{$specify} h1 + hr,
#{$specify} h2 + hr,
#{$specify} h3 + hr,
#{$specify} h4 + hr,
#{$specify} h5 + hr,
#{$specify} h6 + hr {
  margin-top: -$header-bottom; /* Allows headers to sit on horizontal rules */
}

/*------------------------
LINKS
------------------------*/

/* Applies link styles to content areas only. Less specific than an id.
Div is used here because .ribbonFullwidth is also on the body element. */
a:focus,
:focus {
  outline: 5px auto $color-primary;
}

div.ribbonFullwidth a[href]:not(.unstyled) {
  border-bottom: 2px solid c( $color-primary, 300 );
}

div.ribbonFullwidth a[href]:not(.unstyled):hover {
  background-color: c( $color-primary, 100 );
  border-color: $color-primary;
}

/* ------------------------
INLINE
------------------------ */

mark,
code,
kbd {
  padding: $inline-padding;
}

mark,
::selection {
  background-color: $mark-color;
}
/*
strong,
b {
  font-weight: bolder;
}

em,
i,
dfn,
cite {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
*/
/*------------------------
PREFORMATTED
------------------------*/

code {
  background-color: c( $stone, 100 );
  color: c( $stone, 700 );
  border-radius: $bdr-radius;
  white-space: pre;
}
pre { white-space: pre-wrap; }

pre > code {
  display: block;
  padding: $block-padding;
  white-space: inherit;
}

kbd {
  background-color: c( $stone, 800 );
  color: c( $stone, 050 );
  border-radius: $bdr-radius;
  white-space: pre;
}
/*------------------------
END TYPOGRAPHY
------------------------*/
