/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
SPACING
------------------------ */

#{$specify} h1,
#{$specify} h2,
#{$specify} h3,
#{$specify} h4,
#{$specify} h5,
#{$specify} h6 {
  @include header-style(false);
  color: inherit;
  text-align: inherit;
}
[role='main'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include header-margin;
  }
}

#leftcolumn h3 {
  @include header-margin;
}

p,
#{$specify} hr,
pre,
blockquote {
  @include block-margin;
  margin-top: 0;
}

/* Remove gap caused by first header in an article */
#{$specify} .item-page h2:first-of-type,
#{$specify} .section h2:first-of-type,
#{$specify} .section :first-child {
  margin-top: 0;
}

/* ------------------------
TYPESETTING
------------------------ */

/* ID is used here to overwrite equally high specificity from style.css */
#{$specify} h1,
#{$specify} .uk-h1 { @include type-setting(h1); }
#{$specify} h2,
#{$specify} .uk-h2 { @include type-setting(h2); }
#{$specify} h3,
#leftcolumn h3,
#{$specify} .uk-h3 { @include type-setting(h3); }
#{$specify} h4,
#{$specify} .uk-h4 { @include type-setting(h4); }
#{$specify} h5,
#{$specify} .uk-h5 { @include type-setting(h5); }
#{$specify} h6,
#{$specify} .uk-h6 { @include type-setting(h6); }
body,
#{$specify} p { @include type-setting(p); }
#{$specify} small { @include type-setting(sm); }

/*------------------------
RULE LINES
------------------------*/

#{$specify} hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 $bdr-width;
  border-color: $hr-color;
}

#{$specify} h1 + hr,
#{$specify} h2 + hr,
#{$specify} h3 + hr,
#{$specify} h4 + hr,
#{$specify} h5 + hr,
#{$specify} h6 + hr {
  margin-top: -$header-bottom; /* Allows headers to sit on horizontal rules */
}

/*------------------------
LINKS
------------------------*/

/* Applies link styles to content areas only. Less specific than an id.
Div is used here because .ribbonFullwidth is also on the body element. */

p a[href]:not(.unstyled),
li a[href]:not(.unstyled),
h1 a[href]:not(.unstyled),
h2 a[href]:not(.unstyled),
h3 a[href]:not(.unstyled),
h4 a[href]:not(.unstyled),
h5 a[href]:not(.unstyled),
h6 a[href]:not(.unstyled),
table a[href]:not(.unstyled),
dl a[href]:not(.unstyled),
pre a[href]:not(.unstyled) {
  @include link-style;
  &:hover {
    @include link-style($hover: true);
  }
}

/* ------------------------
INLINE
------------------------ */

mark,
code,
kbd {
  padding: $inline-padding;
}

mark,
::selection {
  background-color: $c-mark;
}
/*
strong,
b {
  font-weight: bolder;
}

em,
i,
dfn,
cite {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
*/
/*------------------------
PREFORMATTED
------------------------*/

code {
  background-color: c( $stone, 100 );
  color: c( $stone, 700 );
  border-radius: $bdr-radius;
  white-space: pre;
}
pre { white-space: pre-wrap; }

pre > code {
  display: block;
  padding: $block-padding;
  white-space: inherit;
}

kbd {
  background-color: c( $stone, 800 );
  color: c( $stone, 050 );
  border-radius: $bdr-radius;
  white-space: pre;
}
/*------------------------
END TYPOGRAPHY
------------------------*/
