$header-top: $s-2 !default;
$header-bottom: $s-1 !default;

$h1-scale: 5 !default;
$h2-scale: 3 !default;
$h3-scale: 2 !default;
$h4-scale: 1 !default;
$h5-scale: 0 !default;
$h6-scale: 0 !default;
$p-scale: 0 !default;
$sm-scale: n1 !default;
/* ------------------------
START TYPOGRAPHY
------------------------ */
/* ------------------------
FONTS
------------------------ */

#{$specify} h1,
#{$specify} h2,
#{$specify} h3,
#{$specify} h4,
#{$specify} h5,
#{$specify} h6 {
  font-family: 'kulturista-web', serif;
}
//
// #{$specify} .componentheading,
// #{$specify} .contentheading,
// #{$specify} #whitebox h5.feed-link,
// #{$specify} .camera_caption .ck_title,
// #{$specify} .camera_caption .slideh,
// #{$specify} .fjalla .camera_caption > div,
// #{$specify} .fjallaSliders .jwts_toggleControlTitle,
// #{$specify} span.subheading-category,
// #{$specify} .middle_content span.middleTitle,
// #{$specify} .threebox,
// #{$specify} .fourbox, body.linear.hd .fivebox{
//   font-family: "kulturista-web", serif;
// }

/* ------------------------
TYPESETTING
------------------------ */

#{$specify} h1 {
  @include type-setting($h1-scale);
}
#{$specify} h2 { @include type-setting($h2-scale); }
#{$specify} h3,
#leftcolumn h3 { @include type-setting($h3-scale); }
#{$specify} h4 { @include type-setting($h4-scale); }
#{$specify} h5 { @include type-setting($h5-scale); }
#{$specify} h6 { @include type-setting($h6-scale); }
body,
#{$specify} p { @include type-setting($p-scale); }
#{$specify} small { @include type-setting($sm-scale); }

/*------------------------
RULE LINES
------------------------*/

#{$specify} hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: black;
}

#{$specify} h1 + hr,
#{$specify} h2 + hr,
#{$specify} h3 + hr,
#{$specify} h4 + hr,
#{$specify} h5 + hr,
#{$specify} h6 + hr {
  margin-top: -$header-bottom; /* Allows headers to sit on horizontal rules */
}

/*------------------------
LINKS
------------------------*/

/* Applies link styles to content areas only. Less specific than an id.
Div is used here because .ribbonFullwidth is also on the body element. */
a:focus,
:focus {
  outline: 5px auto $uabgreen;
}

div.ribbonFullwidth a {
  border-bottom: 2px solid $uabgreen-300;
}

div.ribbonFullwidth a[href]:hover {
  background-color: $uabgreen-100;
  border-color: $uabgreen;
}

/* ------------------------
INLINE
------------------------ */

mark,
code,
kbd { padding: $pad-inline; }

mark,
::selection { background-color: $mark-color; }

strong,
b { font-weight: bolder; }

em,
i,
dfn,
cite { font-style: italic; }

del,
s { text-decoration: line-through; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }

/*------------------------
PREFORMATTED
------------------------*/

code {
  background-color: $stone-100;
  color: $stone-700;
  border-radius: $bdr-radius;
  white-space: pre;
}
pre { white-space: pre-wrap; }

pre > code {
  display: block;
  padding: $pad-block;
  white-space: inherit;
}

kbd {
  background-color: $stone-800;
  color: $stone-050;
  border-radius: $bdr-radius;
  white-space: pre;
}
/*------------------------
END TYPOGRAPHY
------------------------*/
