@use '../00-stratus/index' as stratus;
@use '../01-core' as *;
@use '../01-core/token';

/** SECTION Accordion
-------------------------------------------------------------------------- */

#{$specify-main} {
  .uk-accordion {
    border-bottom: 2px solid token.color('background');
    @include token.block-margin;
  }

  .uk-accordion-title {
    @include stratus.type-set(medium);
    font-family: token.font('body');
    margin-top: 0;
    margin-bottom: 0;
    padding: token.space(1);
    background-color: inherit;
    border-top: 2px solid token.color('background');
  }

  .uk-accordion-content {
    padding: 0 token.space(1) token.space(1);
  }
}

/* END !SECTION Accordion */
