/* ==========================================================================
   SECTION DETAILS
   Styles for custom component called "details" .wk-details
   This has a small icon on the left with text on the right.
========================================================================== */

// REVIEW: Can this specificity be cleaner?

/* Size image for details component */
#{$specify} .wk-details .uk-panel img {
  height: 5rem; // HACK: Magic number
  width: auto;
  display: block;
  margin: auto;
}

/* FIX for spacing issue */
#{$specify} .wk-details.uk-text-left .uk-panel img {
  @include reset(margin);
}

/* End !SECTION Details */
