/** SECTION Details
    Styles for custom component called "details" .wk-details
    This has a small icon on the left with text on the right.
  * REVIEW: Can this specificity be cleaner?
  * [1] Size image for details component
  * [2] FIX for spacing issue
========================================================================== */

#{$specify} .wk-details .uk-panel img {
  /*[1]*/
  height: 5rem;
  width: auto;
  display: block;
  margin: auto;
}

#{$specify} .wk-details.uk-text-left .uk-panel img {
  /*[2]*/
  @include reset(margin);
}

/* End !SECTION Details */
