/* ==========================================================================
   SECTION FEATURES
   Style for a custom component called "features" .wk-features
   Expected use is 3 columns with an image, header, and optional text
========================================================================== */

/* Size image used in the features component */
#{$specify} .wk-features .uk-panel img {
  height: 7rem; // HACK Magic number
  width: auto;
  display: block;
  margin: auto;
}

/* End !SECTION FEATURES */
