@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION PANELS
========================================================================== */
#{$specify-main} {
/* Apply card styles to the box theme */
.uk-panel-box {
  @extend %card;
  background: white;
}

/* FIX: Hide link style so the card will be visible */
a.uk-position-cover {
  opacity: 0 !important;
}

/* Add hover styles to cards */
.uk-panel-box-hover:hover,
.uk-panel-box-primary-hover:hover {
  @extend %hover;
}
/* fix link style on header when card is hovered */
.uk-overlay-hover:hover h3 a {
  border-color: token.color('primary');
  background-color: token.color('primary', '100');
}

// /* Enforce text color */
// TEMP: Old code, commented out. See if there are any reasons for this still
// // QUESTION: Why does this need to be here? / Could this be inherit instead?
// .uk-panel-title,
// .uk-panel-box-primary,
// .uk-panel-box,
// .uk-panel-box .uk-panel-title,
// .uk-panel-box-hover:hover,
// .uk-panel-box-primary .uk-panel-title,
// .uk-panel-box-primary-hover:hover {
//   color: $c-body;
// }

/* End !SECTION Panels */
}
