@use '../01-core/' as *;
@use '../01-core/token';

/** SECTION Widgetkit
  * Selectors match those from ui kit
  * [1] Add section spacing to widgetkit blocks
  * [2] Reset the header margins for widgetkit item headers
  * [3] UAB green background color instead of blue on active widgetkit nav
  * !important used to override !important from style.css:548
-------------------------------------------------------------------------- */

#{$specify-main} {
  [id*='wk']:not(:first-child) {
    /*[1]*/ margin-top: token.space(2);
  }

  [id*='wk']:not(:last-child) {
    /*[1]*/ margin-bottom: token.space(2);
  }

  .uk-panel-title {
    /*[2]*/
    @include reset(margin);
    margin-bottom: s(-0.5);
  }

  .uk-subnav-pill > .uk-active > a,
  .uk-subnav-pill > .uk-active > a:hover {
    /*[3]*/
    background: token.color('primary');
    color: white !important;
  }
}

/* END !SECTION Widgetkit */
