/* ==========================================================================
   SECTION WIDGETKIT CORE
   Override of widgetkit styles for a more consistent look on the site
========================================================================== */

/** SECTION Spacing
 * Add block spacing to the widgetkit margins
 * Selectors match those from ui kit
-------------------------------------------------------------------------- */

* + .uk-margin {
  margin-top: s(1);
}
.uk-margin {
  margin-bottom: s(1);
}
.uk-panel-space {
  padding: s(1);
}

/* FIX for item margins inside widgetkit blocks */
// REVIEW Should this just be :last-child instead of p:last-child?
#{$specify} .uk-panel p:last-child {
  @include reset(margin);
}

/**
 * Remove default margin from .uk elements so
 * their correct margin can be used
**/
.uk-panel-teaser,
.uk-panel-title {
  margin-bottom: 0;
}

/* Add section spacing to widgetkit blocks */
#{$specify} [id*='wk']:not(:first-child) {
  margin-top: $section-margin;
}
#{$specify} [id*='wk']:not(:last-child) {
  margin-bottom: $section-margin;
}

/* Offset the the gap between widgetkit blocks and headers meant for them */
#{$specify} .wk-header {
  margin-bottom: s(-2);
}

/* End !SECTION Spacing */
/** SECTION Typography
 * QUESTION What is this for?
-------------------------------------------------------------------------- */

#{$specify} .uk-panel-title {
  @include reset(margin);
  margin-bottom: s( -0.5 );
}

/* End !SECTION Typography */
/* End !SECTION WIDGETKIT CORE */
