/* ==========================================================================
   SECTION WK GRID
========================================================================== */
// REVIEW: This CSS is extremely expensive and may not be worth the benefits

/** SECTION Gaps
 * Ensure grid gap spacing uses the same measurements as the rest of the site
 * Selectors match those from ui kit css
-------------------------------------------------------------------------- */
$gap: s(1);

/* Adjust container margin for grid gap */
.uk-grid {
  margin-left: -$gap;
}

/* Apply grid gap */
.uk-grid > * {
  padding-left: $gap;
}
.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap;
}

/* Smaller grid gap */
.uk-grid-small {
  margin-left: -$gap-sm;
}
.uk-grid-small > * {
  padding-left: $gap-sm;
}
.uk-grid-small .uk-grid + .uk-grid,
.uk-grid-small .uk-grid-margin,
.uk-grid-small .uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap-sm;
}

/* medium and large grid gap, share sizes on smaller screens */
.uk-grid-medium,
.uk-grid-large {
  margin-left: -$gap-md;
}
.uk-grid-medium > *,
.uk-grid-large > * {
  padding-left: $gap-md;
}
.uk-grid-medium .uk-grid + .uk-grid,
.uk-grid-medium .uk-grid-margin,
.uk-grid-medium .uk-grid > * > .uk-panel + .uk-panel,
.uk-grid-large .uk-grid + .uk-grid,
.uk-grid-large .uk-grid-margin,
.uk-grid-large .uk-grid > * > .uk-panel + .uk-panel {
  margin-top: $gap-md;
}

@include breakpoint(lg) {
  /* apply larger gap size to large screens */
  .uk-grid-large {
    margin-left: -$gap-lg;
  }
  .uk-grid-large > * {
    padding-left: $gap-lg;
  }
  .uk-grid-large .uk-grid + .uk-grid,
  .uk-grid-large .uk-grid-margin,
  .uk-grid-large .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: $gap-lg;
  }
}

/* End !SECTION Gaps */
/** SECTION Nested Grid
 * This was designed for the details component and assumes a layout
 * to have an image on left and text on right
 * BUG: This causes problems with the slideshow panel widget
-------------------------------------------------------------------------- */

#{$specify} .uk-panel .uk-grid {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}
#{$specify} .uk-panel .uk-grid div {
  padding: 0;
  width: auto;
  flex-shrink: 1;
}
#{$specify} .uk-panel .uk-grid div.uk-row-first {
  margin-right: s(1);
  flex-shrink: 0;
  width: 6rem;
}
#{$specify} .uk-panel .uk-grid div.uk-row-first img {
  float: right;
}

/* End !SECTION Nested Grid */
/* End !SECTION WK GRID */
