/*------------------------
START BANNER
------------------------*/
  #banner {
    position: relative;
  }
  #banner::before,
  #banner::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
  }
  #banner::before{
    background: url('images/banners/computer-3368242_1920.jpg'); /*Use article image */
    background-size: cover;
    background-position: bottom;
  }
  #banner::after{
    background: #295135;
    mix-blend-mode: multiply;
  }
  #banner .moduletable{
  	max-width: 1280px;
    margin: auto;
  }
  #banner h1 {
    margin-top: 12.8rem;
    margin-bottom: 1.6rem;
    color: white;
  }
  .breadcrumb>li,
  .breadcrumb>.active{
    text-shadow: none;
    color: white;
  }
  span{
    color: inherit;
    font-size: inherit;
  }
  .breadcrumb>li>.divider,
  .breadcrumb a,
  .breadcrumb>li>span{
    color: inherit;
    font-size: inherit;
  }
  .breadcrumb{
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1.6rem;
  }
/*------------------------
END BANNER
------------------------*/
