/*------------------------
START BANNER
------------------------*/
/* Set min height to the line height of h1 plus the top padding,
plus 1 line height for the margin below the header,
one line height for the margin above the header,
one line height for the breadcrumbs, and
one line height for the margin below the breadcrumbs. */

#banner {
  position: relative;
  padding-top: $banner-top;
  min-height: 10rem;
  z-index: 1;
}

/* Set the before and after elements to cover the banner area and send them to the back */
#banner::before,
#banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* Set default banner image and the banner's image's and position */
#banner::before {
  background: url( '/it/home/images/banners/Default-WebHeader.jpg' ); /*Use article image */
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
}

/* Add the image filter effect used on the banners */
#banner::after {
  background: $darkgreen;
  mix-blend-mode: multiply;
  opacity: 0.95;
}

/* Ensure content inside the banner stays within the width of the main column */
#banner .moduletable {
  max-width: $max-width;
  margin: auto;
}

#{$specify} .stickyNav .page-header {
  @include reset(float);
  max-width: 100%;
}
#banner h1 {
  @include block-margin;
  color: white;
}

#{$specify} .breadcrumb > li,
#{$specify} .breadcrumb > .active {
  @include reset(shadow);
  color: white;
}

#{$specify} .breadcrumb > li > .divider,
#{$specify} .breadcrumb a,
#{$specify} .breadcrumb > li > span {
  @include reset(color, font-size);
}

#{$specify} .breadcrumb {
  @include reset(border, padding, margin);
  @include block-margin;
}

/* Remove main image */
#{$specify} .item-image {
  display: none;
}
#{$specify}.article-layout .item-page.article-layout .item-image {
  display: block;
}
/*------------------------
END BANNER
------------------------*/
