/*------------------------
START SEARCH
------------------------*/
#{$specify} #search form {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

body.linear.hd #search button.btn-primary {
  @include button-primary;
  @include reset(margin, transition);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#{$specify} #search .btn-primary {
  &:focus,
  &:hover {
    @include button-hover;
  }
}

#{$specify} #search input {
  @include border($color: $c-primary, $radius: omit);
  border-top-left-radius: $bdr-radius !important;
  border-bottom-left-radius: $bdr-radius !important;
}
/*------------------------
END SEARCH
------------------------*/
