/*------------------------
START SEARCH
------------------------*/
#{$specify} #search form {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

body.linear.hd #search button.btn-primary {
  border: 1px solid $uabgreen;
  margin: 0;
  transition-property: none;
}

#{$specify} #search .btn-primary {
  &:focus,
  &:hover {
    @include button-hover;
  }
}

#{$specify} #search input {
  border-top-left-radius: $bdr-radius !important;
  border-bottom-left-radius: $bdr-radius !important;
  @include border($color: $uabgreen, $radius: omit);
}
/*------------------------
END SEARCH
------------------------*/
