/*------------------------
START SIDEBAR
------------------------*/
body.hd div.sidebar.gray,
body.hd div.sidebar.no-seal,
body.hd #leftcolumn.sidebarpanel.gray,
body.hd #leftcolumn.sidebarpanel.no-seal {
  @include reset(font-size);
  background-color: white;
}

#leftcolumn ul.nav-child,
#leftcolumn ul {
  @include reset(margin);
}

#leftcolumn .sidebar li,
#leftcolumn .sidebar ul.menu li {
  @include reset(padding, font-weight);
}

#leftcolumn ul.nav.menu a {
  @include reset(margin, border, background);
  display: block;
  padding: 0.5rem;
  color: c($stone, 800);
  border-left: 3px solid transparent;
  @include type-setting(0);
  // font-weight: 600;
}

#leftcolumn ul.nav.menu .current > a {
  background-color: c( $stone, 050 );
  border-left: 3px solid $apple;
}

#leftcolumn ul.nav.menu > .parent > a {
  @include type-setting(h4);
  font-weight: 600;
}

#leftcolumn ul.nav.menu a:hover {
  color: inherit !important;
  background-color: c($stone, 100);
  border-left: 3px solid c($stone, 400);
}

#leftcolumn ul.nav.menu .nav-child .parent > ul a {
  padding-left: 1.5rem;
}

/* Spacing */
#leftcolumn .moduletable {
  margin-bottom: s(2);
}

/* Clearfix for modules */
#leftcolumn .moduletable::after {
  content: '';
  visibility: hidden;
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

#leftcolumn .moduletable.sidebar-btns {
  overflow: visible;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#leftcolumn .sidebar-btns + .sidebar-btns {
  margin-top: s(-1);
}

#leftcolumn .divider span.separator {
  border-top: 2px solid $c-secondary;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  display: block;
  height: 0px;
  margin-left: 0.6rem;
  width: calc(100% - 1.5rem);
  text-indent: -9999px;
}
/*------------------------
END SIDEBAR
------------------------*/
#{$specify} #maincolumn-l {
  border-left: 1px solid black;
  margin-left: s(1) !important;
  padding-left: s(2);
}
body.hd.inside #maincolumn-l,
body.hd.inside #maincolumn-r {
  width: calc( 78% - #{s(3)} ) !important;
}
