// ----------------------------------------------------
// VARIABLES
// ----------------------------------------------------

/// Class name for buttons
/// @group forms
$btn-class: '.btn' !default;

/// Width of the button's border
/// @group forms
$btn-border-width: $bdr-width !default;

/// Color of the button's border
/// @group forms
$btn-border-color: $bdr-color !default;

/// Roundness of buttons
/// @group forms
$btn-border-radius: $bdr-radius !default;

/// Button's background
/// @group forms
$btn-background: transparent !default;

/// Color of the button's text
/// @group forms
$btn-txt-color: $btn-border-color !default;

/// Determines if the button's text should be in uppercase
/// @group forms
$btn-uppercase: true !default;

/// Spaces the letters of the button's text out
/// @group forms
$btn-letter-space: 0.1em !default;

/*--------------------------------------------------------------
## Buttons
@requires _typesetting.scss
@requires _structure.scss
@requires _color.scss
@requires _variables.scss
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#{$btn-class} {
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
	white-space: nowrap;
	
	border: $btn-border-width solid;
	border-color: $btn-border-color;
	border-radius: $btn-border-radius;
	background: $btn-background;
	color: $btn-txt-color;

	@if $btn-uppercase == true {
		@include type-setting(sm);
  	text-transform: uppercase;
	}

	padding: $input-padding;
  letter-spacing: $btn-letter-space;

	&:hover {
		opacity: 0.9;
	}

	&:active,
	&:focus {
		opacity: 0.9;
	}
}
