// ----------------------------------------------------
// VARIABLES
// ----------------------------------------------------

/// SVG for inside of the checked radio button
/// @group forms
$radio-checked-image: 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E';

/// SVG for inside of a checked checkbox
/// @group forms
$checkbox-checked-image: 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A';

/*--------------------------------------------------------------
## Fields
@requires _structure.scss
@requires _color.scss
@requires _variables.scss
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $c-body;
	border: $bdr-width solid $bdr-color;
	border-radius: $bdr-radius;
	padding: $input-padding;

	&:focus {
		color: $c-primary;
		border-color: $c-primary;
	}
}

select {
	border: $bdr-width solid $bdr-color;
}

textarea {
	width: 100%;
	height: s(4);
  resize: vertical;
  overflow-y: scroll;
}

input[type='radio'],
input[type='checkbox'] {
  @include reset(margin);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: none;
  padding-left: 0;
  margin-right: s(0.5);
  width: 1em;
  height: 1em;
  border: 1px solid black;
}

input[type='radio'] {
  border-radius: 50%;
}

/* Add focus states */
textarea:focus,
input:focus,
select:focus {
  border-color: $c-accent;
  box-shadow: 0 0 0 1px $c-accent;
}
select:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: thin dotted #333;
  outline-offset: 0;
}

/* Add style for checked radio and checkboxes */
input[type='radio']:checked {
  background-image: url(#{$radio-checked-image});
  background-position: center;
  border-color: $c-accent;
  background-color: $c-accent;
  &:focus {
    background-color: $c-accent;
  }
}
input[type='checkbox']:checked {
  background-image: url(#{$checkbox-checked-image});
  background-position: center;
  border-color: $c-accent;
  background-color: $c-accent;
  &:focus {
    background-color: $c-accent;
  }
}