/*------------------------
START DETAILS
------------------------*/

/* Size image for details component */
#{$specify} .wk-details .uk-panel img {
  height: 5rem;
  width: auto;
  display: block;
  margin: auto;
}

/* Bug fix for spacing issue */
#{$specify} .wk-details.uk-text-left .uk-panel img {
  @include reset(margin);
}

/*------------------------
END DETAILS
------------------------*/
