/*------------------------
START TABS
------------------------*/
/* Remove default list margins */
#{$specify} #content ul.uk-tab,
#{$specify} #content ul.uk-tab li,
#{$specify} #content ul.uk-switcher,
#{$specify} #content ul.uk-switcher li {
  margin: 0;
}

/* Remove margin from content to let it sit right next to the tabs */
#{$specify} #content ul.uk-tab + ul.uk-switcher.uk-margin-top {
  margin-top: 0 !important;
}

/* Remove traditional link styles from the tab links */
#{$specify} ul.uk-tab > li > a {
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
#{$specify} ul.uk-tab > li > a:hover {
  border-bottom: 1px solid transparent;
}

/* Add border to active tab */
#{$specify} ul.uk-tab > li.uk-active > a {
  border-color: $stone;
}
/* Remove default border from the tab bar */
#{$specify} ul.uk-tab {
  border-bottom: 0px solid transparent;
}

/* Bump panel up a pixel to align its border with tab border,
add border, since we can't add uk-panel-box through this widget */
#{$specify} ul.uk-tab + ul.uk-switcher .uk-panel {
  border: 1px solid $stone;
  margin-top: -1px;
}
/*------------------------
END TABS
------------------------*/
