@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$uabgreen: #1E6B52;
$darkgreen: #295135;
$blaze: #FFD400;
$apple: #80BC00;
$gold: #AA9767;
$stone: #808285;

$coral: #EA6852;

$stone-050: tint( $stone, 90% );
$stone-100: tint( $stone, 80% );
$stone-200: tint( $stone, 60% );
$stone-300: tint( $stone, 40% );
$stone-400: tint( $stone, 20% );
$stone-500: $stone;
$stone-600: shade( $stone, 20% );
$stone-700: shade( $stone, 40% );
$stone-800: shade( $stone, 60% );
$stone-900: shade( $stone, 80% );
$uabgreen-100: tint( $uabgreen, 80% );
$uabgreen-200: tint( $uabgreen, 60% );
$uabgreen-300: tint( $uabgreen, 40% );
$uabgreen-400: tint( $uabgreen, 20% );
$uabgreen-500: $uabgreen;
$uabgreen-600: shade( $uabgreen, 20% );
$uabgreen-700: shade( $uabgreen, 40% );
$uabgreen-800: shade( $uabgreen, 60% );
$uabgreen-900: shade( $uabgreen, 80% );
$darkgreen-100: tint( $darkgreen, 80% );
$darkgreen-200: tint( $darkgreen, 60% );
$darkgreen-300: tint( $darkgreen, 40% );
$darkgreen-400: tint( $darkgreen, 20% );
$darkgreen-500: $darkgreen;
$darkgreen-600: shade( $darkgreen, 20% );
$darkgreen-700: shade( $darkgreen, 40% );
$darkgreen-800: shade( $darkgreen, 60% );
$darkgreen-900: shade( $darkgreen, 80% );
$apple-100: tint( $apple, 80% );
$apple-200: tint( $apple, 60% );
$apple-300: tint( $apple, 40% );
$apple-400: tint( $apple, 20% );
$apple-500: $apple;
$apple-600: shade( $apple, 20% );
$apple-700: shade( $apple, 40% );
$apple-800: shade( $apple, 60% );
$apple-900: shade( $apple, 80% );
$blaze-100: tint( $blaze, 80% );
$blaze-200: tint( $blaze, 60% );
$blaze-300: tint( $blaze, 40% );
$blaze-400: tint( $blaze, 20% );
$blaze-500: $blaze;
$blaze-600: shade( $blaze, 20% );
$blaze-700: shade( $blaze, 40% );
$blaze-800: shade( $blaze, 60% );
$blaze-900: shade( $blaze, 80% );
$gold-100: tint( $gold, 80% );
$gold-200: tint( $gold, 60% );
$gold-300: tint( $gold, 40% );
$gold-400: tint( $gold, 20% );
$gold-500: $gold;
$gold-600: shade( $gold, 20% );
$gold-700: shade( $gold, 40% );
$gold-800: shade( $gold, 60% );
$gold-900: shade( $gold, 80% );
