$rem-size: 16 !default;
$ratio: 1.25 !default;
$txt-size-raw: 16 !default;
$line-height-raw: 1.6 !default;

$font-sizes: (
  large: 6,
  h1: 5,
  h2: 3,
  h3: 2,
  h4: 1,
  h5: 0,
  h6: 0,
  p: 0,
  sm: -1
) !default;

$use-typography: true !default;
$use-vertical-rhythem: true !default;
$use-grid-layout: true !default;
