/*------------------------
START HELPERS
------------------------*/
#{$specify} .type-set-n1 { @include type-setting(-1); }
#{$specify} .type-set-0 { @include type-setting(0); }
#{$specify} .type-set-1 { @include type-setting(1); }
#{$specify} .type-set-2 { @include type-setting(2); }
#{$specify} .type-set-3 { @include type-setting(3); }
#{$specify} .type-set-4 { @include type-setting(4); }
#{$specify} .type-set-5 { @include type-setting(5); }

.txt-c { text-align: center !important; }
.txt-l { text-align: left !important; }
.txt-r { text-align: right !important; }

.full {
  display: block;
  width: 100%;
}

[class*='-space-0'] { --u-space: 0; }
[class*='-space-05'] { --u-space: #{s( 0.5 )}; }
[class*='-space-1'] { --u-space: #{s( 1 )}; }
[class*='-space-2'] { --u-space: #{s( 2 )}; }
[class*='-space-3'] { --u-space: #{s( 3 )}; }
[class*='-space-4'] { --u-space: #{s( 4 )}; }
[class*='margin-top-'] { margin-top: var( --u-space ) !important; }
[class*='margin-right-'] { margin-right: var( --u-space ) !important; }
[class*='margin-bottom-'] { margin-bottom: var( --u-space ) !important; }
[class*='margin-left-'] { margin-left: var( --u-space ) !important; }
[class*='padding-top-'] { padding-top: var( --u-space ) !important; }
[class*='padding-right-'] { padding-right: var( --u-space ) !important; }
[class*='padding-bottom-'] { padding-bottom: var( --u-space ) !important; }
[class*='padding-left-'] { padding-left: var( --u-space ) !important; }

/*------------------------
END HELPERS
------------------------*/
