/*------------------------
START RESET
------------------------*/
/* Reset most properties from most elements */
* {
  margin: 0px;
  font-size: inherit;
  font-family: inherit;
  line-height: $line-height;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  transition-property: none;
}

/* Reset font size, family, and color on inline tags */
#{$specify} h1 a,
#{$specify} h1 strong,
#{$specify} h1 b,
#{$specify} h1 span,
#{$specify} h2 a,
#{$specify} h2 strong,
#{$specify} h2 b,
#{$specify} h2 span,
#{$specify} h3 a,
#{$specify} h3 strong,
#{$specify} h3 b,
#{$specify} h3 span,
#{$specify} h4 a,
#{$specify} h4 strong,
#{$specify} h4 b,
#{$specify} h4 span,
#{$specify} #footer a,
#{$specify} #footer span,
#{$specify} b,
#{$specify} span,
#{$specify} strong,
#{$specify} em, {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
/* Reset font size, family, and color on inline tags in headers */
/* I'm not sure if any of these are used, so I'm commenting them out for now */
// #{$specify} .custom_custom-title h2 strong,
// #{$specify} .custom_custom-title h2 strong a,
// #{$specify} .lower .feed h4.feed-link a,
// #{$specify} div.itemHeader h2.itemTitle,
// #{$specify} div.catItemHeader h2.catItemTitle a,
// #{$specify} div.itemHeader h3.itemTitle,
// #{$specify} div.catItemHeader h3.catItemTitle a {
//   font-family: inherit;
//   font-size: inherit;
//   font-family: inherit;
// }
#{$specify} h1,
#{$specify} h2,
#{$specify} h3,
#{$specify} h4,
#{$specify} h5 {
  text-align: inherit;
}

#{$specify} a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
/*------------------------
END RESET
------------------------*/
