// UTILITY FUNCTIONS
$specify: 'body.linear.hd' !default;
$max-width: 1280px !default;
$body-pad: s(1) !default;

$breakpoints: (
  xxl: 2560px,
  xl: 1440px,
  lg: 1024px,
  md: 761px,
  sm: 760px,
  xs: 300px
) !default;

$w-light: 300;
$w-normal: 400;
$w-bold: 600;
$w-black: 700;

$block-margin: s(1) !default;
$block-padding: s(1) !default;
$inline-padding: 0 0.2em 0.1em !default;
$input-padding: 0.3em 1em !default;
$table-padding: s(0.5) !default;
$list-margin: s(0.5) !default;

$indent: 1em !default;
$list-indent: $indent !default;

$section-margin: s(4) !default;
$section-padding: s(4) !default;
$section-padding-small: s(2) !default;
$content-margin: $section-margin !default;
$banner-top: $section-margin * 2 !default;

$bdr-radius: 4px !default;
$bdr-width: 1px !default;
$bdr-md: 2px !default;
$bdr-lg: 5px !default;

$font-body: 'proxima-nova', arial, helvetica, sans-serif !important !default;
$font-body-thin: 100 !default;
$font-body-normal: 400 !default;
$font-body-bold: 600 !default;
$font-body-black: 700 !default;

$font-head: 'kulturista-web', serif !default;
$font-head-thin: 300 !default;
$font-head-normal: 400 !default;
$font-head-bold: 600 !default;
$font-body-black: bold !default;

$font-mono: monospace !default;
$font-icon: false !default;

$header-top: ($section-margin / 2) !default;
$header-bottom: $block-margin !default;
$header-weight: normal !default;

$uabgreen: #1E6B52;
$darkgreen: #295135;
$blaze: #FFD400;
$apple: #80BC00;
$gold: #AA9767;
$stone: #808285;
$coral: #EA6852;

$c-primary: $uabgreen !default;
$c-secondary: $apple !default;
$c-mark: c( $uabgreen, 100 ) !default;

$c-green: $apple !default;
$c-yellow: $blaze !default;
$c-red: #FF0000 !default;

$hr-color: black !default;
$txt-color: black !default;

$c-background: c( $stone, 050 ) !default;

$gap: s(2) !default;
$gap-sm: s(1) !default;
$gap-md: s(2) !default;
$gap-lg: s(4) !default;

$layout-gap: $gap !default;
