@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION BANNER
========================================================================== */
$banner-image: '/it/home/images/banners/Default-WebHeader.jpg' !default;

#{$specify} {

/** SECTION Page Header
 * [1] Remove default positional styles
 * [2] Apply consistent spacing & adjust text color
 * This is a QUESTION: what kind of module
-------------------------------------------------------------------------- */
/*[1]*/
#banner .stickyNav .page-header {
  @include reset(float);
  display: block;
  max-width: 100%;
}

/*[2]*/
#banner h1 {
  margin: 0;
  color: white;
}

/* End !SECTION Page Header */
/** SECTION Banner Image
 * Setup the banner background image
-------------------------------------------------------------------------- */
/**
 * [1] Relative allows us to position the background
 * [2] padding adjusts the height of the banner, and position of text inside
 * [3] FIX z-index is incremented to ensure the banner shows up on mobile
**/
#banner {
  position: relative; /*[1]*/
  padding-top: token.space(5); /*[2]*/
  padding-bottom: token.space(1);
  z-index: token.z-index('foreground'); /*[3]*/
}

/**
 * Set the before and after elements to cover the banner area
 * and send them to the back. These will be the banner image and overlay
**/
#banner::before,
#banner::after {
  content: '';
  @include position(cover);
  z-index: token.z-index('background');
}

/* Set default banner image and and position */
#banner::before {
  background: url( #{$banner-image} );
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
}

/* Add the image filter effect */
#banner::after {
  background: token.color('secondary');
  mix-blend-mode: multiply;
  opacity: 0.9;
}

/* End !SECTION Banner Image */
/** SECTION Media
 * Remove main image from page, this gets put into the banner background
 * with JS. Don't remove the image on pages that miss this functionality.
 * TODO: Move this to the JS banner script
-------------------------------------------------------------------------- */

.item-image {
  display: none;
}

/* End !SECTION Media */
/** SECTION Breadcrumb
 * [1] Reset default styles from QUESTION
 * [2] Adjust text color
 * [3] Apply consistent spacing
-------------------------------------------------------------------------- */

.breadcrumb > li,
.breadcrumb > .active {
  @include reset(shadow); /*[1]*/
  color: white; /*[2]*/
}

.breadcrumb > li > .divider,
.breadcrumb a,
.breadcrumb > li > span {
  @include reset(color, font-size); /*[1]*/
}

.breadcrumb {
  @include reset(border, padding, margin); /*[1]*/
  @include token.block-margin; /*[3]*/
}

/**
 * Add nicer link separators, uses icon-arrow-right from
 * https://www.uab.edu/toolkit/web/build-maintain-your-site/icons
**/
.breadcrumb li span.divider::after {
  content: '\e006';
  font-family: 'IcoMoon';
  font-size: .7em !important;
  color: token.color('accent');
  margin-right: 3px;
}

/* Removes default divider image */
.breadcrumb span.divider > img {
  display: none;
}

/**
 * [1] Ensure content inside the banner stays within the width of
 * the main column
 * [2] Add same padding as is on whitebox
**/
#banner .moduletable {
  max-width: $max-width; /*[1]*/
  margin: auto; /*[1]*/
  padding: $layout-gap; /*[2]*/
}

}
/* End !SECTION Breadcrumb */
/* End !SECTION BANNER */
