/* ==========================================================================
   SECTION BANNER
========================================================================== */
$banner-top: $section-margin * 2 !default;
$banner-image: '/it/home/images/banners/Default-WebHeader.jpg' !default;

/** SECTION Page Header
 * [1] Remove default positional styles
 * [2] Apply consistent spacing & adjust text color
 * This is a QUESTION: what kind of module
-------------------------------------------------------------------------- */

/* QUESTION: display block? */
/*[1]*/
#{$specify} .stickyNav .page-header {
  @include reset(float);
  max-width: 100%;
}

/*[2]*/
#banner h1 {
  @include block-margin;
  color: white;
}

/* End !SECTION Page Header */
/** SECTION Banner Image
 * Setup the banner background image
-------------------------------------------------------------------------- */
/**
 * [1] Relative allows us to position the background
 * [2] padding moves the title and breadcrumbs to the bottom of the container
 * [3] min height sets the size of the banner
 * [4] FIX z-index is incremented to ensure the banner shows up on mobile
**/
#banner {
  position: relative; /*[1]*/
  padding-top: $banner-top; /*[2]*/
  min-height: 10rem; /*[3]*/
  z-index: 1; /*[4]*/
}

/**
 * Set the before and after elements to cover the banner area
 * and send them to the back. These will be the banner image and overlay
**/
#banner::before,
#banner::after {
  content: '';
  @include position-cover;
  z-index: -1;
}

/* Set default banner image and and position */
#banner::before {
  background: url( #{$banner-image} );
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
}

/* Add the image filter effect */
#banner::after {
  background: $darkgreen;
  mix-blend-mode: multiply;
  opacity: 0.9;
}

/* End !SECTION Banner Image */
/** SECTION Media
 * Remove main image from page, this gets put into the banner background
 * with JS. Don't remove the image on pages that miss this functionality.
 * TODO: Move this to the JS banner script
-------------------------------------------------------------------------- */

#{$specify}:not(.article-layout) .item-image {
  display: none;
}

/* End !SECTION Media */
/** SECTION Breadcrumb
 * [1] Reset default styles from QUESTION
 * [2] Adjust text color
 * [3] Apply consistent spacing
-------------------------------------------------------------------------- */

#{$specify} .breadcrumb > li,
#{$specify} .breadcrumb > .active {
  @include reset(shadow); /*[1]*/
  color: white; /*[2]*/
}

#{$specify} .breadcrumb > li > .divider,
#{$specify} .breadcrumb a,
#{$specify} .breadcrumb > li > span {
  @include reset(color, font-size); /*[1]*/
}

#{$specify} .breadcrumb {
  @include reset(border, padding, margin); /*[1]*/
  @include block-margin; /*[3]*/
}

/* End !SECTION Breadcrumb */
/* End !SECTION BANNER */
