@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION FOOTER
========================================================================== */


/* End !SECTION Content */
/** SECTION Links
-------------------------------------------------------------------------- */
#{$specify} {
/* Adjust link colors in the footer section */
#footer a,
#lockedFooter a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}
#footer.footerGray .at-icon {
  fill: #595959 !important;
}
#footer.footerGray .at-icon-wrapper {
  background-color: white !important
}
#footer .flexFooter {
  align-items: center !important;
  padding-top: token.space(1);
}
#footer .flexFooter .flexFooterColumn {
  margin: 0 !important;
}
#footer .flexFooter .footerLeft {
  padding-right: token.space(1);
}
#footer .flexFooter .footerRight {
  border-left: 2px solid white;
  padding-left: token.space(1);
}
.at-follow-btn {
  border: none !important;
}
}
/* End !SECTION FOOTER */
