/* ==========================================================================
   SECTION LAYOUT
   This module introduces overrides for the template area positioning styles
   to offer a better experience on browsers that support it.
========================================================================== */

/* FIX for bug where outlines would be cutoff in modules */
// REVIEW: Is this just for when grid is enabled, what does this override?
#{$specify} .moduletable {
  overflow: visible !important;
}

/** SECTION Grid
 * Implement grid positioning instead of floats for supported browsers
-------------------------------------------------------------------------- */

/**
 * [1] reset sizing and positional properties of main areas to prevent
 * old layout issues when using grid. These resets require grid to be
 * supported, so the site will fallback to the old positioning CSS.
 * [2] fixes a bug where elements that overflow the whitebox could overflow
 * the body and allow the page to be scrolled on the x axis.
 * [3] Setup basic grid areas and layout
 * [4] allow elements to overflow the grid to cover the full width
 * of the screen.
**/

@supports (display: grid) {
  /*[1]*/
  #{$specify} #maincolumn-r,
  #{$specify} #maincolumn-l,
  #{$specify} #maincolumn-l-r,
  #{$specify} #maincolumn-wide,
  #{$specify} #system-message-container,
  #{$specify} #leftcolumn,
  #{$specify} #downright,
  #{$specify} #epilogue,
  #{$specify} .left-position {
    width: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
  }
  /*[2]*/
  #{$specify} #wrapper {
    overflow-x: hidden;
  }
  /*[3]*/
  #{$specify} #whitebox {
    display: grid;
    overflow: visible; /*[4]*/
    grid-template-columns: 1fr;
    grid-template-areas:
      'sys'
      'left'
      'main'
      'right'
      'epi';
  }
  #{$specify} #system-message-container { grid-area: sys; }
  #{$specify} #sidebar_trigger { grid-area: left; }
  #{$specify} #leftcolumn { grid-area: left; }
  #{$specify} #downright { grid-area: right; }
  #{$specify} #epilogue { grid-area: epi; }
  #{$specify} #maincolumn-l-r,
  #{$specify} #maincolumn-l,
  #{$specify} #maincolumn-r,
  #{$specify} #maincolumn-wide {
    grid-area: main;
  }

  @include breakpoint(medium) {
    /* Add left column to tablet size */
    #{$specify} #whitebox {
      grid-template-columns: 200px 1fr;
      grid-template-areas:
        'sys sys'
        'left main'
        'right right'
        'epi epi';
      grid-column-gap: s(2);
    }
    #{$specify} #maincolumn-r,
    #{$specify} #maincolumn-wide {
      grid-area: left / span 2;
    }
  }

  @include breakpoint(large) {
    /* Add right column and increase the column gap for
    larger screens */
    #{$specify} #whitebox {
      grid-template-columns: 250px 1fr 250px;
      grid-template-areas:
        'sys sys sys'
        'left main right'
        'epi epi epi';
      grid-column-gap: s(3);
    }
    #{$specify} #maincolumn-l {
      grid-area: main / span 2;
    }
    #{$specify} #maincolumn-wide {
      grid-area: left / span 3;
    }
  }
}

/* End !SECTION Grid */
/** SECTION Spacing
-------------------------------------------------------------------------- */
$mobile-padding: s(1);

// REVIEW: Make this into block comment, explain these changes because of so many !importants
/* Adds space around content so that content doesn't hit edge of screen */
@supports (display: grid) {
  #{$specify} #whitebox {
    padding: $mobile-padding;
    width: auto !important;
    display: block;
    box-sizing: border-box !important;
    max-width: $max-width !important;
  }
}

/* Adds space above and below the main content area */
$content-margin: $section-margin !default;
$half-content-margin: $content-margin / 2;

#{$specify} #whitebox {
  margin: $content-margin auto;
}

/* End !SECTION Spacing */
/** SECTION Sidebar
 * Adjust sidebar styles for mobile
-------------------------------------------------------------------------- */
$touch-target: 38px;

/**
 * [1] Only applying these edits when grid is supported, it relies on
 * changes made above.
 * [2] Set the max width of the sidebar, add padding equal to size of
 * the touch target, position it in the gap between the banner and content
 * [3] Align touch target with sidebar, remove border added by link styles
 * [4] Remove styling of default touch target, align it to the right side
 * of the sidebar
 * [5] Add new touch target using an icon instead of an image align it to
 * the center of the touch target
**/
@media only screen and (max-width: 700px) {
  /*[1]*/
  @supports (display: grid) {
    /*[2]*/
    #{$specify} #leftcolumn {
      max-width: 300px !important;
      padding: $touch-target !important;
      margin-top: calc(((#{$content-margin} / 2) + #{$touch-target}) * -1) !important;
    }
    /*[3]*/
    #{$specify} #sidebar_trigger {
      margin-top: calc(((#{$content-margin} / 2) + #{$touch-target}) * -1) !important;
      border: none !important;
    }
    /* FIX a bug where the icon was not centered in the box */
    #{$specify} #sidebar_trigger::before {
      height: auto;
    }

    /*[4]*/
    #{$specify} #sidebar_trigger.active {
      border: none !important;
      width: $touch-target !important;
      height: $touch-target !important;
      background: white !important;
      margin-left: 300px - $touch-target !important;
    }
    /*[5]*/
    #{$specify} #sidebar_trigger.active::after {
      content: '\49';
      font-family: $font-icon;
      display: block !important;
      font-size: 18px;
      line-height: $touch-target;
      text-align: center;
      color: c($c-grey, 800);
    }
  }
}

@supports (display: grid) {
  /* remove unneeded padding from module tables */
  #{$specify} #leftcolumn .moduletable {
    padding: 0;
  }
}

/* End !SECTION Sidebar */
/** SECTION Banner
 * Adjusts the content of the banner position to ensure content lines up
 * and doesn't hit the edge of the screen.
-------------------------------------------------------------------------- */

/**
 * [1] Ensure content inside the banner stays within the width of
 * the main column
 * [2] Add same padding as is on whitebox
**/
#{$specify} #banner .moduletable {
  max-width: $max-width; /*[1]*/
  margin: auto; /*[1]*/
  padding: $mobile-padding; /*[2]*/
}

/* End !SECTION Banner */
/** SECTION Whitebar
 * Adds space to the site name area
 * QUESTION Why?
-------------------------------------------------------------------------- */

#{$specify} #whitebar {
  margin-top: s(1);
  margin-bottom: s(1);
}

/* End !SECTION Whitebar */
/* End !SECTION LAYOUT */
