@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION NAVIGATION
========================================================================== */

/** SECTION Top Navigation
 * Implement styles similar to UR department css (uab.edu/cas)
-------------------------------------------------------------------------- */
#{$specify}{

#ribbon .nav a {
  @include reset(border);
  padding: 15px !important;
}

#tray #ribbon .nav > .active > a,
#tray #ribbon .nav > .active > a:hover,
#tray #ribbon .nav > .active > a:focus,
#tray #ribbon .nav > .alias-parent-active > a {
  background-color: token.color('accent');
  color: white !important;
}
div#tray {
  border-bottom: 7px solid token.color('accent');
}

/* Ensure grey colors are consistent with grey used throughout site */
#ribbon .nav > li > a:hover,
#ribbon .nav > li > a:focus,
#ribbon .dropdown-menu > li > a:hover,
#ribbon .dropdown-menu > li > a:focus,
#ribbon .nav > li > span:hover,
#ribbon .nav > li > span:focus,
#ribbon .dropdown-menu > .active > a:hover,
#ribbon .dropdown-menu > .active > a:focus {
  background: token.color('background');
}

/* End !SECTION Top Navigation */
/** SECTION Quicklinks
 * Fix several bugs and consistency issues with quicklinks
-------------------------------------------------------------------------- */


/* Ensure links are sized correctly */
#quicklinks .dropdown-menu a {
  box-sizing: border-box;
  border: none;
}

/* FIX: Make sure quicklinks are above banner */
#quicklinks .moduletable {
  z-index: token.z-index('modal');
}

/* Ensure hover color is consistent with link hover colors */
#quicklinks .dropdown-submenu:hover > a,
#quicklinks .dropdown-submenu:focus > a,
#quicklinks .dropdown-menu > li > a:hover,
#quicklinks .dropdown-menu > li > a:focus,
#quicklinks .newsfeed > li:hover,
#quicklinks .newsfeed > li:focus {
  background-color: token.color('primary', '100');
}

/* End !SECTION Quicklinks */
/** SECTION Search
 * Modify style of the search field and button
-------------------------------------------------------------------------- */
@if $adjust-template {
// Creates better alignment of search field and button
#search form {
  display: flex;
  justify-content: flex-end;
}
}
/* End !SECTION Search */
/* End !SECTION NAVIGATION */
}
