@use '../00-stratus/index' as stratus;
@use '../01-core/' as *;
@use '../01-core/token';

/** SECTION Sidebar Resets
  * Uses the same selectors from central style.css
  * [1] Fixes an issue on mobile where the link targets would be below
  * the page content so that if the menu happened to be open on top of a
  * link in the page, the tap would go to the page link instead.
  * [2] Reset font sizes in the sidebar
  * [3] Background must be solid for mobile screens
  * [4] Remove list margins
-------------------------------------------------------------------------- */

#{$specify-all} {
  #leftcolumn.sidebarpanel,
  #sidebar_trigger {
    /*[1]*/ z-index: 100;
  }
  #leftcolumn .sidebar.no-seal,
  #leftcolumn.sidebarpanel.no-seal {
    /*[2]*/ @include reset(font-size);
    /*[3]*/ background-color: white;
  }
  #leftcolumn ul,
  #leftcolumn li {
    /*[4]*/ @include reset(margin);
  }
}

/** SECTION Sidebar Links
  * [1] Reset default styles
  * [2] Add consistent typography
  * [3] Base styles
-------------------------------------------------------------------------- */
#{$specify-all} {
  #leftcolumn ul.nav.menu a,
  #leftcolumn .nav-header {
    /*[1]*/ @include reset(margin, border);
    /*[2]*/ @include stratus.type-set(normal);
    font-weight: normal;
    display: block;
    /*[3]*/
    padding: 0.3rem;
    color: token.color('neutral', '800');
    border-left: 3px solid transparent;
  }
  #leftcolumn .nav-header {
    /*[1]*/
    text-transform: none;
    text-shadow: none;
    font-weight: token.font('body', 'bold');
  }
  #leftcolumn ul.nav.menu > li:first-child > a {
    /* Style for link to Section Page */
    @include stratus.type-set(normal);
    font-weight: token.font('body', 'bold');
  }
  #leftcolumn ul.nav.menu .nav-header + ul a,
  #leftcolumn ul.nav.menu .nav-header + ul a {
    /* Child items */
    padding-left: 1.5rem;
  }
}

/* END !SECTION Sidebar Links */
/** SECTION Sidebar link states
-------------------------------------------------------------------------- */

#{$specify-all} {
  #leftcolumn ul.nav.menu .current > a {
    background-color: token.color('background');
    border-left: 3px solid token.color('accent');
  }
  #leftcolumn ul.nav.menu a:hover {
    color: inherit;
    background-color: token.color('background');
  }
}

/* END !SECTION Sidebar link states */
/** SECTION Dropdown
  * [1] Show items when .active is added
  * [2] Change cursor to indicate clickable state
  * [3] Add drop down icon to header items
  * [4] Change drop down icon when it is open
-------------------------------------------------------------------------- */

#{$specify-all} {
  .clickFade .active > .nav-header + ul {
    /*[1]*/ display: block !important;
  }
  .clickFade .nav-header {
    /*[2]*/ cursor: pointer;
  }
  .clickFade .nav-header::after {
    /*[3]*/
    font-family: 'FontAwesome', monospace;
    content: '\f0d7';
    color: token.color('accent');
    margin-left: 5px;
  }
  .clickFade .active > .nav-header::after {
    /*[4]*/ content: '\f0d8';
  }
}

/* End !SECTION Dropdown */
/** SECTION Sidebar misc
  * [1] Ensure spacing consistency
  * [2] Remove default separator
  * [3] Style for separators
  * [4] FIX sizing of modules
-------------------------------------------------------------------------- */

#{$specify-all} {
  #leftcolumn .moduletable {
    /*[1]*/ margin-bottom: token.space(1);
  }
  #leftcolumn .divider span.separator {
    /*[2]*/ display: none;
  }
  #leftcolumn .divider span.separator + ul::before {
    /*[3]*/
    content: '';
    display: block;
    margin: 1rem 0.5rem;
    border-top: token.border('width', 'medium') solid token.color('accent');
  }
  #leftcolumn .moduletable {
    /*[4]*/
    @include clearfix;
    padding: 0;
  }
}

/* End !SECTION Sidebar misc */
/** SECTION Sidebar layout
  * [1] FIX for sidebar not filling consistent space
  * [2] Add space between sidebar and content
  * [3] FIX for layout break on medium screens
-------------------------------------------------------------------------- */

#{$specify-all} {
  #leftcolumn {
    /*[1]*/ width: 100%;
  }
  .left-position {
    /*[1]*/ width: 100% !important;
  }
  #leftcolumn {
    /*[2]*/ padding-right: token.space(1);
  }
  #maincolumn-l {
    /*[3]*/
    margin: auto !important;
  }
}
