/* ==========================================================================
   SECTION SIDEBAR
========================================================================== */

/** SECTION Resets
-------------------------------------------------------------------------- */
/**
 * [1] Reset font sizes in the sidebar
 * [2] Background must be solid for mobile screens
**/
#{$specify} div.sidebar.no-seal,
#{$specify} #leftcolumn.sidebarpanel.no-seal {
  @include reset(font-size); /*[1]*/
  background-color: white; /*[2]*/
}

/* Remove list styles */
// QUESTION: Is this because of my own styles?
#{$specify} #leftcolumn ul.nav-child,
#{$specify} #leftcolumn ul.nav {
  @include reset(margin);
}

// QUESTION Why is this needed?
#{$specify} #leftcolumn .sidebar ul.menu li {
  @include reset(padding, font-weight, margin);
}

/* End !SECTION Resets */
/** SECTION Column
-------------------------------------------------------------------------- */

/* Add border to the right of the sidebar */
@include breakpoint(md) {
  #{$specify} #leftcolumn {
    position: relative;
  }
  #{$specify} #leftcolumn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: s(-1); /* REVIEW half of grid gap, see layout */
    border-right: 1px solid $c-hr;
    pointer-events: none;
  }
}
@include breakpoint(lg) {
  #{$specify} #leftcolumn::after {
    right: s(-1); /* REVIEW half of grid gap, see layout */
  }
}

/* End !SECTION Column */
/** SECTION Links
-------------------------------------------------------------------------- */

/* Default style for links */
#leftcolumn ul.nav.menu a,
#leftcolumn ul.nav.menu .nav-header {
  @include reset(margin, border, background);
  @include type-setting(0);
  display: block;
  padding: 0.5rem;
  color: c($stone, 800);
  border-left: 5px solid transparent;
}
#leftcolumn ul.nav.menu .nav-header {
  text-transform: none;
}

/* Style for link to Section Page */
#leftcolumn ul.nav.menu > .parent > a {
  @include type-setting(h4);
  font-weight: 600;
}

/* Child items */
#leftcolumn ul.nav.menu .nav-child .parent > ul a {
  padding-left: 1.5rem;
}

/* End !SECTION Links */
/** SECTION States
-------------------------------------------------------------------------- */

#leftcolumn ul.nav.menu .current > a {
  background-color: $c-background;
  border-left: 5px solid $apple;
}

#leftcolumn ul.nav.menu a:hover,
#leftcolumn ul.nav.menu .nav-header:hover {
  color: inherit !important;
  background-color: $c-background;
  /* TEMP border-left: 5px solid c($stone, 400);*/
}

/* End !SECTION States */
/** SECTION Dropdown
 * Logic for sidebar drop down
-------------------------------------------------------------------------- */

/* Show items when .active is added */
.clickFade .deeper.parent .deeper.parent.active ul { display: block !important; }
/* Change cursor to indicate clickable state */
.clickFade .nav-header { cursor: pointer; }

/* Add drop down icon to header items */
.clickFade .nav-header::after {
  font-family: 'FontAwesome';
  content: '\f0d7';
  color: $c-accent;
  margin-left: 5px;
}
/* Change drop down icon when it is open */
.clickFade .active > .nav-header::after {
  content: '\f0d8';
}

/* End !SECTION Dropdown */
/** SECTION Misc
 * Ensure consistency
-------------------------------------------------------------------------- */

/* Spacing */
#leftcolumn .moduletable {
  margin-bottom: s(1);
}

/* Style for seperators */
#leftcolumn .divider span.separator {
  display: none;
}
#leftcolumn .divider span.separator + ul::before {
  content: '';
  display: block;
  margin: 1rem 0.5rem;
  border-top: 3px solid $c-accent;
}

// QUESTION: What is this for?
body.linear.hd #leftcolumn .moduletable::after {
  @include clearfix;
}

/* End !SECTION Misc */
/* End !SECTION SIDEBAR */
