@use '@mattmcadams/stratus';
@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION SIDEBAR
========================================================================== */

#{$specify-all} {

/** SECTION Resets
-------------------------------------------------------------------------- */
/**
 * Uses the same selectors from central style.css
 * [1] Reset font sizes in the sidebar
 * [2] Background must be solid for mobile screens
**/
#leftcolumn .sidebar.no-seal,
#leftcolumn.sidebarpanel.no-seal {
  @include reset(font-size); /*[1]*/
  background-color: white; /*[2]*/
}

/* Remove list margins */
#leftcolumn ul,
#leftcolumn li {
  @include reset(margin);
}

/* End !SECTION Resets */
/** SECTION Column
-------------------------------------------------------------------------- */

/* Add border to the right of the sidebar */
// @include stratus.media(medium) {
//   #leftcolumn {
//     position: relative;
//   }
//   #leftcolumn::after {
//     content: '';
//     @include position(absolute, 0, token.space(-1), 0, 0);
//     /* REVIEW half of grid gap, see layout */
//     border-right: 1px solid green;
//     pointer-events: none;
//   }
// }
// @include breakpoint(large) {
//   #leftcolumn::after {
//     right: s(-1); /* REVIEW half of grid gap, see layout */
//   }
// }

/* End !SECTION Column */
/** SECTION Links
-------------------------------------------------------------------------- */

/* Default style for links */
#leftcolumn ul.nav.menu a,
#leftcolumn .nav-header {
  @include reset(margin, border);
  @include stratus.type-set(normal);
  font-weight: normal;
  display: block;
  padding: 0.3rem;
  color: token.color('neutral', '800');
  border-left: 3px solid transparent;
}
#leftcolumn .nav-header {
  text-transform: none;
  text-shadow: none;
  font-weight: token.font('body', 'bold');
}

/* Style for link to Section Page */
#leftcolumn ul.nav.menu > .parent > a {
  @include stratus.type-set(normal);
  font-weight: token.font('body', 'bold');
}

/* Child items */
#leftcolumn ul.nav.menu .nav-child .parent > ul a {
  padding-left: 1.5rem;
}

/* End !SECTION Links */
/** SECTION States
-------------------------------------------------------------------------- */

#leftcolumn ul.nav.menu .current > a {
  background-color: token.color('background');
  border-left: 3px solid token.color('accent');
}
#leftcolumn ul.nav.menu a:hover {
  color: inherit;
  background-color: token.color('background');
}

/* End !SECTION States */
/** SECTION Dropdown
 * Logic for sidebar drop down
-------------------------------------------------------------------------- */

/* Show items when .active is added */
.clickFade .deeper.parent .deeper.parent.active ul { display: block !important; }
/* Change cursor to indicate clickable state */
.clickFade .nav-header { cursor: pointer; }

/* Add drop down icon to header items */
.clickFade .nav-header::after {
  font-family: 'FontAwesome';
  content: '\f0d7';
  color: token.color('accent');
  margin-left: 5px;
}
/* Change drop down icon when it is open */
.clickFade .active > .nav-header::after {
  content: '\f0d8';
}

/* End !SECTION Dropdown */
/** SECTION Misc
 * Ensure consistency
-------------------------------------------------------------------------- */

/* Spacing */
#leftcolumn .moduletable {
  margin-bottom: token.space(1);
}

/* Style for separators */
#leftcolumn .divider span.separator {
  display: none;
}
#leftcolumn .divider span.separator + ul::before {
  content: '';
  display: block;
  margin: 1rem 0.5rem;
  border-top: token.border('width', 'medium') solid token.color('accent');
}

// FIX sizing of modules
#leftcolumn .moduletable {
  @include clearfix;
  padding: 0;
}

// FIX for sidebar not filling a consistent space
#leftcolumn { width: 100%; }
  .left-position { width: 100% !important; }
}
#leftcolumn {
  padding-right: token.space(1);
}
/* End !SECTION Misc */
/* End !SECTION SIDEBAR */
