/*------------------------
START ALERT
------------------------*/
/* remove default alert styling */
.alert {
  @include reset(border, margin, padding, background, shadow);
}
.alert,
.alert h4 {
  @include reset(color);
}

/* Apply the alert style to the alert container */
.moduletable.alert {
  @include reset(shadow);
  background: c($c-red, 100);
  @include border($bdr-md, $c-red);
  padding: $input-padding;
  @include block-margin;
}

/* Adjust link styles for links that appear inside an alert */
div.ribbonFullwidth .alert a {
  border-color: $c-red;
}
div.ribbonFullwidth .alert a:hover {
  border-color: $c-red;
  background-color: c($c-red, 200);
}

/* Remove bottom margin from paragraphs in an alert */
.alert p {
  @include reset(margin);
}

/* Add styling to hide IE alert on non-IE browsers */
.ie-alert {
  display: none;
}
/* Add margin between alerts and content. Should equal the margin between
the banner and content */
#{$specify} #breadcrumbs > :last-child {
  margin-bottom: s( 3 );
}
/*------------------------
END ALERT
------------------------*/
