/* --------------------------------------------------
LISTS
---------------------------------------------------- */
$list-indent: $indent !default;
$list-margin: s(0.5) !default;

/* ------------------------
RESET
------------------------ */
#{$specify} ul,
#{$specify} ol {
  @include reset(margin, padding);
  list-style-position: outside;
}
#{$specify} li {
  @include reset(margin);
  list-style-position: inherit;
}

/* ------------------------
BASE STYLES
------------------------ */
/* Apply margin to compensate for list style,
only to lists inside the main content area */
#{$specify} #{$main} ul,
#{$specify} #{$main} ol {
  margin-left: 1.2em;
}

/* Add rhythem spacing to lists in main content area */
#{$specify} #{$main} ul,
#{$specify} #{$main} ol,
#{$specify} #{$main} dl {
  @include block-margin;
}

/* Add indention to child lists */
#{$specify} #{$main} ul ul,
#{$specify} #{$main} ul ol,
#{$specify} #{$main} ol ol,
#{$specify} #{$main} ol ul {
  margin-bottom: 0;
  margin-left: $list-indent;
}

/* Bold description term */
#{$specify} dt {
  font-weight: bolder;
}

/* Set bullet styles */
#{$specify} #{$main} ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul { list-style-type: square; }
  }
}
#{$specify} #{$main} ol {
  list-style-type: decimal;
  ol {
    list-style-type: upper-latin;
    ol { list-style-type: lower-latin; }
  }
}

// // REVIEW: why the use of ID here?
// /* Gets rid of bootstrap style */
// #content li {
//   @include reset(margin);
// }

// REVIEW: why the use of ID here?
// was #content now #{$specify}
#{$specify} #{$main} ul li,
#{$specify} #{$main} ol li {
  margin: $list-margin 0 0;
}
#{$specify} #{$main} dl dd {
  margin: 0 0 $list-margin $list-indent;
}
/*------------------------
THEMES
------------------------*/
/* Align text with paragraphs, bullet sitting in the margin */
// DEBUG: not sure if this works correctly
#{$specify} #{$main} ul.list-align,
#{$specify} #{$main} ol.list-align {
  margin-left: 0;
}

/* Colored Lists */

#{$specify} #{$main} ul.color,
#{$specify} #{$main} ul.color ul,
#{$specify} #{$main} ul.color ul ul {
  list-style: none !important;
  position: relative;
}
#{$specify} #{$main} ul.color li::before {
  content: '\2022';
  color: $c-secondary;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em;
}
#{$specify} #{$main} ul.color ul li::before {
  content: '\25E6';
  color: $c-secondary;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em;
}
#{$specify} #{$main} ul.color ul ul li::before {
  content: '\25AA';
  color: $c-secondary;
  position: absolute;
  left: -0.8em;
  width: 1em;
  font-size: 1.5em;
}

#{$specify} #{$main} ol.color, {
  list-style: none !important;
  counter-reset: topli;
}
#{$specify} #{$main} ol.color > li { counter-increment: topli; }

#{$specify} #{$main} ol.color > li::before {
  content: '.' counter(topli, decimal);
  color: $c-secondary;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

#{$specify} #{$main} ol.color > li > ol, {
  list-style: none !important;
  counter-reset: secondli;
}
#{$specify} #{$main} ol.color > li > ol > li { counter-increment: secondli; }

#{$specify} #{$main} ol.color ol > li::before {
  content: '.' counter(secondli, upper-latin);
  color: $c-secondary;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

#{$specify} #{$main} ol.color > li > ol > li > ol, {
  list-style: none !important;
  counter-reset: thirdli;
}
#{$specify} #{$main} ol.color > li > ol > li > ol > li { counter-increment: thirdli; }

#{$specify} #{$main} ol.color ol ol > li::before {
  content: '.' counter(thirdli, lower-latin);
  color: $c-secondary;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
