/* --------------------------------------------------
MEDIA
---------------------------------------------------- */
#{$main} img {
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
}

// QUESTION: Why is rhythem spacing between image and figcaption handled with a margin top on figcaption?

/* Add rhythem spacing */
#{$main} :not(figure) > img,
#{$main} iframe,
#{$main} figure,
#{$main} .video-container {
  @include block-margin;
}

/* Style figcaption to display small in the center under the image,
Add rhythem spacing above caption instead of below image */
#{$main} figure figcaption {
  @include type-setting(sm);
  text-align: center;
  margin: $block-margin 0;
}

// /* Remove problematic image styles from hidden links */
// #hidden-links img {
//   display: inherit;
//   margin: 0;
// }
