/* --------------------------------------------------
PULLQUOTE
---------------------------------------------------- */

#{$specify} .pullquote,
#{$specify} blockquote {
  @include block-margin;
  padding: $block-padding;
  background-color: $c-background;
  border-left: $bdr-lg solid $c-secondary;
}
#{$specify} .pullquote p,
#{$specify} .pullquote q,
#{$specify} blockquote p,
#{$specify} blockquote q {
  @include reset(margin);
  @include type-setting(1);
  display: block;
}
#{$specify} .pullquote footer,
#{$specify} blockquote footer {
  text-align: right;
  margin-top: s(0.5);
}

/* --------------------------------------------------
CALLOUT
---------------------------------------------------- */

#{$specify} .callout {
  @include block-margin;
  padding: 0 $block-padding;
  border-left: $bdr-lg solid $c-secondary;
}
#{$specify} .callout p {
  @include reset(margin);
  display: block;
}

/* ------------------------
THEMES
------------------------ */

#{$specify} .callout.red {
  border-color: $c-red;
}
#{$specify} .callout.yellow {
  border-color: $c-yellow;
}
#{$specify} .callout.green {
  border-color: $c-green;
}
#{$specify} .callout.primary {
  border-color: $c-primary;
}
