#{$specify} nav.table-of-contents {
  padding: $block-padding;
  width: 80%;
  min-width: 200px;
  border: 1px solid c($c-grey, 200);
  @include block-margin;
}
#{$specify} #whitebox nav.table-of-contents ol {
  list-style: none;
}
#{$specify} #whitebox nav.table-of-contents > ol {
  list-style: none;
  margin: 0;
}
#{$specify} #whitebox nav.table-of-contents ol li {
  margin: 0;
  padding: 0;
  color: $uabgreen;
  /*font-size: #{type-scale(sm) + 'rem'};*/
}
#{$specify} #whitebox nav.table-of-contents ol li a {
  /*border: none !important;*/
  /*text-decoration: underline;*/
  color: black;
}
