/* Add space after the banner and before the footer
Add minimal side margins through padding. Prevents content
from hitting edge of screen on mobile */
body.ribbonFullwidth #whitebox {
  padding: 0 $body-pad;
  box-sizing: border-box;
}
/* Decrease the width by the amount of padding on it's parent
This makes sure it aligns properly at max width */
body.linear.hd div.topLinearLogo {
  max-width: calc( #{$max-width} - #{s( 2 )} );
}
body.hd #content {
  margin: 0;
  width: 100%;
}
/* Add space to both sides of all 100% width containers */
body.hd #whitebar,
body.linear.hd .topLinearContainer,
body.hd #ribbon,
#banner .moduletable {
  padding-right: $body-pad;
  padding-left: $body-pad;
}
/* Remove arbitrary margins , since the padding on the whitebar
serves the same purpose */
body.linear.hd #siteName,
body.linear.hd #search form {
  margin-right: 0;
  margin-left: 0;
}

/* Add more consistant gap between sidebars and main content*/
body.hd.inside #maincolumn-l {
  margin: 0 0 0 $layout-gap !important;
}
body.hd.inside #maincolumn-r {
  margin: 0 $layout-gap 0 0 !important;
}
body.hd.inside #maincolumn-l-r {
  margin: 0 $layout-gap !important;
}

/* Fix column widths after larger gap is added */
body.hd.inside #maincolumn-l,
body.hd.inside #maincolumn-r {
  width: calc( 78% - #{$layout-gap} ) !important;
}
body.hd.sidebars #leftcolumn {
  max-width: 20%;
}

/* Remove paddings from module tables */
#leftcolumn .moduletable {
  @include reset(padding);
}

/* RESPONSIVE */

/* Adjust the position of sidebar trigger */
body.linear.hd #sidebar_trigger::before {
  height: auto;
  top: -1.5em;
}

/* Fix width of main column */
@media (max-width: 699px) {
  body.hd.sidebars #maincolumn-l,
  body.hd.sidebars #maincolumn-r,
  body.hd.sidebars #maincolumn-l-r {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* Remove unneeded space from sidebar on med screens */
@media only screen and (max-width: 1024px) {
  body.hd.sidebars #maincolumn-l,
  body.hd.sidebars #maincolumn-r,
  body.hd.sidebars #maincolumn-l-r {
    padding: 0 !important;
    float: left;
  }
  .sidebar {
    padding: 0 !important;
    width: 100% !important;
  }
  .sidebarpanel ul li li {
    text-indent: 0;
  }
  .sidebarpanel_content,
  .left-position .sidebarpanel_content {
    float: none;
  }

  /* Allow content to overflow containers */
  #maincolumn-l-r,
  #maincolumn-l,
  #maincolumn-r,
  #maincolumn-wide,
  #footer,
  #content {
    overflow: visible;
  }
}
@media screen and (max-width: 700px) {
  body.hd.sidebars #leftcolumn {
    max-width: 100%;
    min-width: 250px;
    width: 300px;
  }
  .sidebar {
    margin-right: 50px;
  }
  body.hd #sidebar_trigger.active {
    margin-left: 250px;
  }
}
