/*------------------------
START CALENDAR
------------------------*/
#{$specify} ul.localist-widget-eds {
  margin: 0;
}
#{$specify} .localist-month,
.localist-day {
  background: $uabgreen;
  width: 60px;
}
#{$specify} .localist-widget-eds div.localist-month {
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Kulturista-web', 'proxima-nova', sans-serif !important;
  margin-bottom: -1px;
}
#{$specify} .localist-day {
  color: #FFF;
  text-align: center;
  font-weight: 600;
  @include type-setting(1);
  border-bottom: 4px solid $apple;
  padding-bottom: 0.4em;
}
#{$specify} .localist-dateblock {
  margin-right: $s-05;
}
#{$specify} .localist-widget-eds li {
  display: flex;
  margin-bottom: $s-05;
}
#{$specify} .localist-title h4 {
  font-family: 'proxima-nova', sans-serif !important;
  @include type-setting(0);
  margin-top: -0.2em;
  margin-bottom: 0px;
}
#{$specify} .localist-title h4 a {
  border-bottom: 2px solid transparent;
}
#{$specify} .localist-otherdetails div,
.localist-otherdetails i {
  @include type-setting(n1);
}
#{$specify} .localist-venue {
  display: none;
}
/*------------------------
END CALENDAR
------------------------*/
