/*------------------------
START NEWS FEEDS
------------------------*/
/* START NEWSFLASH */
#{$specify} .item-page ul.newsflash-vert {
  overflow: visible;
  align-items: stretch;
  grid-gap: s(2);
  margin: 0 0 s(1) 0;
}
#{$specify} li.newsflash-item {
  float: none; /* remove style from style.css */
  padding-bottom: 0; /* Provides space for read more */
  position: relative; /* Allows positioning of read more */
}
/* Allows re-ordering of item's content */
.it-news .newsflash-item {
  display: grid;
  grid-template-areas:
    'image'
    'title'
    'footer';
  align-content: flex-start;
}
/* Item Title */
#{$specify} .it-news .newsflash-title {
  padding: 0px; /* Removes padding from style.css */
  grid-area: title; /* Positions the title */
  display: block !important;
  margin-top: s(0.5);
  margin-bottom: s(0.5);
}
/* Item Image Container (Figure) */
.it-news .newsflash-image {
  grid-area: image; /* Positions the Image */
  margin: 0; /* Removes margin from style.css */
  max-height: 16rem; /* Sets height of image, equal to 10 spaces */
  overflow: hidden; /* Prevents parts of cropped image from showing */
}
/* Item Image */
.it-news .newsflash-image img {
  width: 100%;
  max-height: 16rem; /* Crops image to size, equal to max height of it's container */
}
.it-news .article-separator {
  display: none; /* Removes space caused by an empty element */
}
.it-news li.newsflash-item {
  border: 0 solid transparent; /* Removes default border */
}
#{$specify} .it-news li.newsflash-item p {
  margin: 0;
}
.it-news a.readmore {
  position: absolute; /* Allows positioning inside it's parent */
  left: 0;
  /*right: 0px;*/
  bottom: 0; /* Makes sure the link is at the bottom, even if more space exists */
  margin: 0;
  text-align: left;
}
/* END NEWS FLASH */
/* START ARTICLE FEED */
.it-feed .mod-articles-category-title {
  @include type-setting(h5);
  margin: 0;
  font-family: $font-head;
}
#{$specify} .it-feed .mod-articles-category-introtext {
  /*@include type-setting(sm);*/
  margin: s(0.5) 0 0;
}
.it-feed .mod-articles-category-readmore {
  margin: 0;
}
#{$specify} ul.it-feed {
  margin: 0 0 s(1) 0;
  list-style-type: none;
}
/*------------------------
END NEWS FEEDS
------------------------*/
/*#{$specify} .it-news .newsflash-item {
  padding: s(1);
  padding-bottom: s(2);
  overflow: hidden;
  @include border($color: c($stone, 300))
  background-color: $stone-050;
}
#{$specify} .it-news .newsflash-image {
  margin-left: s(-1);
  margin-top: s(-1);
  width: calc( 100% + #{s(2)} );
}
#{$specify} .it-news a.readmore {
  border: 0px solid transparent;
  background-color: c($stone, 100);
  padding: s(0.5);
  text-align: center;
}
#{$specify} .it-news a.readmore:hover {
  background-color: c($stone, 100);
}
*/
