/*------------------------
START PAGINATION
------------------------*/
.pagination {
  @include reset(margin);
  @include block-margin;
}
.pagination ul {
  @include reset(shadow);
  border-radius: 0;
}
.pagination ul > li > a,
.pagination ul > li > span {
  display: inline-block;
  @include border(none);
  padding: $input-padding;
  margin: 0 s(0.5);
}
.pagination ul > li > span {
  border-bottom: $bdr-md solid $c-secondary;
}
.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  border-bottom-left-radius: $bdr-radius;
  border-top-left-radius: $bdr-radius;
}
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span, {
  border-bottom-right-radius: $bdr-radius;
  border-top-right-radius: $bdr-radius;
}
.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-next > a {
  @include reset(margin);
  @include border($color: $c-primary, $radius: omit);
  color: $c-primary;
}
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-prev > span,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-next > span {
  @include reset(margin);
  @include border($color: c($stone, 300));
  color: c($stone, 300);
  background: $c-background;
}
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-prev > span {
  margin-right: s(0.5);
}
.pagination ul > li.pagination-next > a,
.pagination ul > li.pagination-next > span {
  margin-left: s(0.5);
}
/*------------------------
END PAGINATION
------------------------*/
