/* ----------------------------------------------------
PAGINATION
Joomla generated pagination
---------------------------------------------------- */
//
// Expected HTML:
// <div class="pagination">
//   <p class="counter"></p>
//   <ul>
//     <li class="pagination-start">
//       <span class="pagenav"></span>
//     </li>
//     <li class="pagination-prev">
//       <span class="pagenav"></span>
//     </li>
//     <li>
//       <span class="pagenav">1</span>
//     </li>
//     <li>
//       <a class="pagenav"></a>
//     </li>
//     <li class="pagination-next">
//       <a class="pagenav"></a>
//     </li>
//     <li class="pagination-end">
//       <a class="pagenav"></a>
//     </li>
/* ------------------------
RESET
------------------------ */
.pagination {
  @include reset(margin);
  @include block-margin;
}
.pagination ul {
  @include reset(shadow);
  border-radius: 0;
}
/* ------------------------
BASE
------------------------ */
.pagination a.pagenav,
.pagination span.pagenav {
  @include reset(border);
  display: inline-block;
  padding: $input-padding;
  margin: 0 s(0.5);
}

/* Button groups */
.pagination ul > li.pagination-start > .pagenav
.pagination ul > li.pagination-next > .pagenav {
  border-bottom-left-radius: $bdr-radius;
  border-top-left-radius: $bdr-radius;
}

.pagination ul > li.pagination-end > .pagenav
.pagination ul > li.pagination-prev > .pagenav {
  border-bottom-right-radius: $bdr-radius;
  border-top-right-radius: $bdr-radius;
}

.pagination ul > li.pagination-prev > .pagenav {
  margin-right: s(0.5);
}
.pagination ul > li.pagination-next > .pagenav {
  margin-left: s(0.5);
}

/* Buttons */
.pagination ul > li.pagination-start > a,
.pagination ul > li.pagination-prev > a,
.pagination ul > li.pagination-end > a,
.pagination ul > li.pagination-next > a {
  @include reset(margin);
  border: $bdr-width solid $c-primary;
  color: $c-primary;
}

/* ------------------------
STATES
------------------------ */

/* Active */
.pagination span.pagenav {
  border-bottom: $bdr-md solid $c-secondary;
}

/* Disabled */
.pagination ul > li.pagination-start > span,
.pagination ul > li.pagination-prev > span,
.pagination ul > li.pagination-end > span,
.pagination ul > li.pagination-next > span {
  @include reset(margin);
  border: $bdr-width solid c($c-grey, 300);
  color: c($stone, 300);
  background: $c-background;
}

/*------------------------
END PAGINATION
------------------------*/
