@use '../01-core/' as *;
@use '../01-core/token';
@use '@mattmcadams/stratus';

/** SECTION TechConnect
-------------------------------------------------------------------------- */

/** Banner container
  * [1] Allow banner background to be positioned in relation to the banner
  * content
  * [2] Ensure banner background is visible since it will overflow
  * the banner content area
-------------------------------------------------------------------------- */

#{$specify-main} {
  [id="TC-custom-banner"] {
    position: relative; /*[1]*/
    overflow-x: visible; /*[2]*/
  }
}

/** Side Image
  * [1] Allow banner image to cover the height of the banner section
  * [2] Make the banner the full width of the screen
  * [2.1] Adjust the left margin to counter the extra screen width outside
  * of the main content width. Take the screen width, subtract the main
  * content width, then divide the remaining by 2. Negative is used because
  * we want it to be a negative margin.
  * [2.2] Fixes a bug where the text in the banner area couldn't be clicked
  * or selected.
  * [3] Controlls the size of the banner image
  * [4] Controlls the angular cut on the left side of the image
  * [5] This has been commented out, but should be set with an inline style
  * [6] Positions the banner image to the right edge of the screen
  * [7] Adds the colored border to the angle
  * [7.1] Adjusts the width of the border
-------------------------------------------------------------------------- */

#{$specify-main} {
  @include stratus.media(medium) {
    .TC-custom-banner-bg,
    .TC-custom-banner-bg::before,
    .TC-custom-banner-bg::after {
      position: absolute; /*[1]*/
      top: 0; /*[1]*/
      bottom: 0; /*[1]*/
    }
    .TC-custom-banner-bg {
      width: 100vw; /*[2]*/
      margin-left: calc((100vw - 1300px) / -2); /*[2.1]*/
      z-index: -1; /*[2.2]*/
    }
    .TC-custom-banner-bg::before,
    .TC-custom-banner-bg::after {
      content: "";
      width: 35vw; /*[3]*/
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%); /*[4]*/
    }
    .TC-custom-banner-bg::after {
      /* background-image: url(); [5]*/
      background-size: cover;
      right: 0; /*[6]*/
    }
    .TC-custom-banner-bg::before {
      background-color: token.color('accent'); /*[7]*/
      right: 15px; /*[7.1]*/
    }
  }

  .TC-partner-link {
    display: inline-block;
    max-width: 75px;
    border-bottom-width: 0;
    margin-right: token.space(1);
  }

  .TC-partner-link img {
    margin-bottom: 0;
    display: inline-block;
  }

  a.TC-partner-link::after {
    display: none;
  }
}

/* END !SECTION TechConnect */
