#{$specify}.grid {
  display: flex;
  flex-wrap: wrap;
}

@supports (display: grid) {
  #{$specify}.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: s(0.5);
  }
  #{$specify} .grid.gap-medium {
    grid-gap: s(1);
  }
  #{$specify} .grid.gap-large {
    grid-gap: s(2);
  }
}
