/* ==========================================================================
   SECTION TOC
   Table of contents block
========================================================================== */

/** SECTION Base Styles
 * Ensure consistency
-------------------------------------------------------------------------- */
#{$specify} .table-of-contents {
  padding: $block-padding;
  max-width: 700px;
  border: 1px solid c($c-grey, 200);
  @include block-margin;
}

#{$specify} .table-of-contents > ol {
  margin-left: 0;
}
#{$specify} .table-of-contents ol,
#{$specify} .table-of-contents ol ol,
#{$specify} .table-of-contents ol ol ol {
  list-style-type: none;
}

#{$specify} .table-of-contents ol li {
  margin: 0;
}

/* End !SECTION Base Styles */
/** SECTION Themes
 * Alternate list styles
-------------------------------------------------------------------------- */

#{$specify} .table-of-contents.list-style-legal ol {
  counter-reset: item;
}
#{$specify} .table-of-contents.list-style-legal ol > li {
  display: table;
  counter-increment: item;
}
#{$specify} .table-of-contents.list-style-legal ol > li::before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
#{$specify} .table-of-contents.list-style-legal li ol > li::before {
  content: counters(item, ".") " ";
}

/* End !SECTION Themes */
/* End !SECTION TOC */
