// --------------------------------------------------------------
// Functions
// --------------------------------------------------------------

/// Power function
/// @group utility
/// @param {number} $base - number to be multiplied
/// @param {number (unitless)} $exponents - number of times it should be multiplied
/// @return `$base` to the power of `$exponents`
@function pow($base, $exponents) {
  $raised: 1;
  @for $i from 1 through $exponents {
    $raised: $raised * $base;
  }
  @return $raised;
}

/// Get value from a deep map
/// @group utility
/// @param {map} $map - source map to pull key from
/// @param {string...} $keys - key to extract value of
/// @return key value
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

/// Strips the unit from a number.
/// @argument {number} $value
/// @return {number (unitless)}
/// @example scss
///   $dimension: strip-unit(10em);
///
///   // Output
///   $dimension: 10;
@function strip-unit($value) {
  @return ($value / ($value * 0 + 1));
}