// --------------------------------------------------------------
// Variables
// --------------------------------------------------------------

$bdr-radius: 4px !default;
$bdr-width: 1px !default;
$bdr-color: black !default;

$input-padding: 0.3em 1em !default;

$c-body: black !default;
