@use '../01-core/' as *;
@use '../01-core/token';
/* ==========================================================================
   SECTION ALERTS
   // Expected HTML:
   // <div class="moduletable alert">
   //   <p> Content </p>
   // </div>
========================================================================== */
#{$specify-main} {
/** SECTION Resets
 * Removes default styles from QUESTION
-------------------------------------------------------------------------- */

.alert {
  @include reset(border, margin, padding, background, shadow);
}
.alert,
.alert h4 {
  @include reset(color);
}

/* Remove bottom margin from paragraphs in an alert */
// OPTIMIZE Shouldn't this be :lastchild instead of p?
.alert p { @include reset(margin); }

/* End !SECTION Resets */
/** SECTION Base Styles
-------------------------------------------------------------------------- */

/* Apply the alert style to the alert container */
.moduletable.alert {
  @extend %card;
  background: token.color('state', 'warning', '100');
  border-color: token.color('state', 'warning');
  @include token.block-margin;
}

/* Adjust link styles for links that appear inside an alert */
.alert a {
  @extend %link-alert;
}

// /* Add margin between alerts and content. Should equal the margin between
// the banner and content */
// #breadcrumbs > :last-child {
//   margin-bottom: token.space( 3 );
// }

/* End !SECTION Base Styles */
/** SECTION IE Style
 * Hide .ie-alert on non IE browsers, use IE exclusive media query to test
-------------------------------------------------------------------------- */

.ie-alert {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ie-alert {
    display: block;
  }
}
/* End !SECTION IE Style */
/* End !SECTION ALERTS */
}
