/* ----------------------------------------------------
Simple RSS Feed Generator
---------------------------------------------------- */
#{$specify} .srfrContainer.srfrStream {
  float: none;
  display: block;
}
#{$specify} #whitebox ul.srfrList {
  list-style: none;
  margin-left: 0;
}

#{$specify} #whitebox ul li.srfrRow {
  margin: 0 0 s(1) 0;
  padding-bottom: s(1);
  border-bottom: 1px solid $c-hr;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: s(2);
}

#{$specify} .srfrStream .col1 {
  width: 100%;
}
#{$specify} .srfrStream .col1 a::after {
  display: none;
}

#{$specify} .srfrStream .col2 {
  width: auto;
  margin: 0;
}
#{$specify} a.srfrTitle {
  display: block;
  float: none;
  border: none;
  margin-bottom: s(0.5);
}
#{$specify} a.srfrTitle:hover {
  background: transparent;
  text-decoration: underline;
  border: none;
}
#{$specify} a.srfrTitle::after {
  display: none;
}
#{$specify} .srfrStream .srfrReadMore > a {
  font-size: 0;
  border: none;
}

#{$specify} .srfrReadMore a::after {
  border: 1px solid $c-primary;
  border-radius: $bdr-radius;
  @include type-setting(0);
  color: c( $c-grey, 700 );
  display: inline;
  font-family: 'kulturista-web', serif !important;
  font-size: 14px;
  padding: $input-padding;
}
#{$specify} .srfrReadMore a:hover::after {
  text-decoration: underline;
}
#{$specify} .srfrReadMore a[href*='uab.edu/news']::after {
  content: 'UAB News';
}
#{$specify} .srfrReadMore a[href*="reporter"]::after {
  content: 'UAB Reporter';
}
#{$specify} .srfrReadMore a[href*='uab.edu/it']::after {
  content: 'IT News';
}

#{$specify} #whitebox .srfrContainer.srfrStream.featured-rss-story ul li.srfrRow{
  margin: 0 0 s(2) 0;
  border-left: $bdr-md solid $c-primary;
  border-bottom: none;
  grid-template-areas: 'article image';
  grid-template-columns: 2fr 1fr;
  padding: 0;
  background-color: $c-background;
}
#{$specify} .srfrStream.featured-rss-story .col1 {
  grid-area: image;
}
#{$specify} .srfrStream.featured-rss-story .col2 {
  padding: s(4) 0 s(2) s(2);
  position: relative;
}
#{$specify} .srfrStream.featured-rss-story .col2 p {
  margin-bottom: 0;
}
#{$specify} #wrapper div.srfrContainer.srfrStream.featured-rss-story ul.srfrList li img.srfrImage {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}
#{$specify} .srfrStream.featured-rss-story .srfrReadMore {
  display: none;
}
#{$specify} .featured-rss-story a.srfrTitle {
  font-family: 'kulturista-web', serif !important;
  @include type-setting(h3);
}

#{$specify} .srfrStream.featured-rss-story .col2::before {
  content: 'Featured';
  display: inline-block;
  @include position(absolute, s(1), null, null, 0);
  padding: 0 1em;
  color: white;
  background-color: $c-primary;
  line-height: 2em;
  align-content: center;
}
