/*------------------------
START ARTICLE
------------------------*/
$article-width: 700px !important;

/* ------------------------
BASE
------------------------ */

// 700 is a comfortable reading width
#{$specify}.article-layout #content .item-page.article-layout {
  max-width: $article-width;
  margin: auto;
}

/* ------------------------
DETAILS
------------------------ */

/* position article info */
#{$specify}.article-layout .article-info {
  text-align: right;
  border-top: $bdr-width solid black;
  margin-bottom: 0;
  padding-top: s(1);
}
/* Reove calendar icon in article info */
#{$specify}.article-layout .article-info .icon-calendar {
  display: none;
}

/* ------------------------
MEDIA
------------------------ */

/* Allow images and videos to break out of the text column on both sides */
#{$specify}.article-layout #content .item-page.article-layout figure {
  width: calc( 700px + #{s(4)} );
  margin-left: -#{s(2)};
}

/* ------------------------
INTRO
------------------------ */
// TODO: Move to indipendant component

/* Add styling for intro section at top of articles */
#{$specify}.article-layout .item-page.article-layout > div > .intro {
  width: calc( 700px + #{s(4)} );
  margin-left: -#{s(2)};
  padding: s(1) s(2);
  border-top: $bdr-width solid black;
  border-bottom: $bdr-width solid black;
}
/*------------------------
END ARTICLE
------------------------*/
