/*--------------------------------------------------------------
## Links
@requires _color.scss
--------------------------------------------------------------*/
a {
	color: $c-primary;
  text-decoration: none;

	&:visited {
		color: initial;
	}
	&:hover,
	&:focus,
	&:active {
		color: $c-accent;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
