// ==========================================================================
// SECTION CONFIGURATION
// ==========================================================================

$font: (
  'body': 'proxima-nova', arial, helvetica, sans-serif !important,
  'head': 'kulturista-web', serif,
  'mono': monospace,
  'icon': 'IcoMoon'
);

$type: (
  'scale': (
    'huge': 5,
    'xlarge': 3,
    'large': 2,
    'medium': 1,
    'normal': 0,
    'small': -1,
    'xsmall': -2
  )
  'ratio': $major-third
);

$brand-color: (
  'uabgreen': #1E6B52,
  'darkgreen': #295135,
  'blaze': #FFD400,
  'apple': #80BC00,
  'gold': #AA9767,
  'stone': #808285
);

$color: (
  'brand': $brand-color,
  'primary': get($brand-color, 'uabgreen'),
  'accent': get($brand-color, 'apple'),
  'status': (
    'info': get($brand-color, 'uabgreen'),
    'notice': get($brand-color, 'blase'),
    'positive': get($brand-color, 'apple'),
    'negative': #F00
  ),
  'background': (
    'light': rgba(128, 130, 133, 0.15),
    'negative': #F00,
  ),
  'text': (
    'body': black,
    'header': black,
    'disabled': get($brand-color, 'stone')
  )
);

//  SECTION Settings
// --------------------------------------------------------------------------

$settings: (
  'adjust-template': true,
  'adjust-central-typography': true,
  'use-grid': true,
  'selectors': (
    'specificity': 'body.linear.hd',
    'main-content': '[id="whitebox"]'
  ),
  'max-width': 1280px
);

$icons: (
  'new-tab': '\e024',
  'pdf': '\e239'
);

$border: (
  'width': (
    'hairline': 1px,
    'medium': 2px,
    'large': 5px
  )
  'radius': (
    'default': 2px,
  )
  'color': (
    'divider': black,
    'accent': color(get($brand-color, 'stone'), 60%)
  )
);

$spacing: (
  'padding': (
    'body': s(1),
    'inline': 0 0.2em 0.1em,
    'input': 0.3em 1em,
    'block': s(1),
    'section': (
      'base': s(4),
      'small': s(2)
    )
  ),
  'margin': (
    'block': s(1),
    'section': s(4)
  ),
  'indent': 1em,
  'gap': (
    'base': s(1),
    'small': s(0.5),
    'medium': s(1),
    'large': s(2)
  ),
);

$breakpoints: (
  'xxl': 2560px,
  'xl': 1440px,
  'lg': 1024px,
  'md': 700px,
  'sm': 300px,
  'xs': 299px
);

// End !SECTION CONFIGURATION
