// ==========================================================================
// SECTION CONFIGURATION
// ==========================================================================

$stratus: (
  'type': (
    'scale': (
      'huge': 5,
      'xlarge': 3,
      'large': 2,
      'medium': 1,
      'normal': 0,
      'small': -1,
      'xsmall': -2
    ),
    'ratio': $major-third
  )
);

//  SECTION Fonts
// --------------------------------------------------------------------------
$font-body: 'proxima-nova', arial, helvetica, sans-serif !important;
$font-head: 'kulturista-web', serif;
$font-mono: monospace;
$font-icon: 'IcoMoon';

// End !SECTION Fonts
//  SECTION Colors
// --------------------------------------------------------------------------
$uabgreen: #1E6B52;
$darkgreen: #295135;
$blaze: #FFD400;
$apple: #80BC00;
$gold: #AA9767;
$stone: #808285;
$coral: #EA6852;

$c-primary: $uabgreen;
$c-accent: $apple;

$c-green: $apple;
$c-yellow: $blaze;
$c-red: #F00;
$c-grey: $stone;

$c-background: rgba(128, 130, 133, 0.15);
$c-body: black;
$c-header: black;

// End !SECTION Fonts
//  SECTION Settings
// --------------------------------------------------------------------------
$adjust-template: true; // boolean
$adjust-central-typography: true; //boolean
$use-grid: true; // boolean

$specify: 'body.linear.hd'; // string
$main: '[id="whitebox"]'; // string

// TEMP: I think this can be removed
// $adjust-layout: true; // boolean

$icon-new-tab: '\e024'; // string
$icon-pdf: '\e239'; // string

// End !SECTION Settings
//  SECTION Borders
$bdr-radius: 2px;
$bdr-width: 1px;
$bdr-width-md: 2px;
$bdr-width-lg: 5px;
$bdr-color: black;

$hr-color: c($c-grey, 200);
$hr-width: 1px;

// End !SECTION Borders
//  SECTION Spacing
// --------------------------------------------------------------------------
$indent: 1em;
$inline-padding: 0 0.2em 0.1em;
$input-padding: 0.3em 1em;

$block-margin: s(1);
$block-padding: s(1);

$section-margin: s(4);
$section-padding: s(4);
$section-padding-small: s(2);

$gap: s(1);
$gap-sm: s(0.5);
$gap-md: s(1);
$gap-lg: s(2);

// End !SECTION Spacing
//  SECTION Document
// --------------------------------------------------------------------------
$max-width: 1280px;
$body-pad: s(1);

// TODO: Map these values onto the Stratus config object to use with the breakpoint mixin
$breakpoints: (
  xxl: 2560px,
  xl: 1440px,
  lg: 1024px,
  md: 700px,
  sm: 300px,
  xs: 299px
);

// End !SECTION Document
//  SECTION Border
// --------------------------------------------------------------------------
$bdr-lg: 5px;
$bdr-md: 3px;
// End !SECTION Border
// End !SECTION CONFIGURATION
