/* ==========================================================================
  IT Website Stylesheet 0.9.3
  University of Alabama at Birmingham
  Department of Information Technology
  2019 Mozilla Public License 2.0
  https://github.com/UAB-IT/website-design
========================================================================== */
$rem-size: 16; // Integer(px)
$ratio: 1.25; // Number
$init-txt-size: 16; // Integer(px)
$init-line-height: 1.6; // Number
@import '../../inc/stratus/stratus.scss';
@import '_config.scss';
/** -------------------------------------------------------------------------
  [-TABLE OF CONTENTS-]

  01-CORE
  * ICONS | _icons.scss
  * Sass variables for uab.edu/toolkit/web/build-maintain-your-site/icons
  *
  * PATTERNS | _patterns.scss

  02-BASE
  * TYPOGRAPHY | _typography.scss
  * Resets ......................... reset aggressive inline styles
  * Header Spacing ................. h1-h6 & uk- class margins
  * Font Sizes ..................... modular scale font sizes and line height
  * Copy ........................... block level elements: pre, p
  * Links .......................... a, and states of
  * Semantic HTML .................. inline semantic elements
  *
  * SPACING | _spacing.scss
  * Sections ....................... sections & backgrounds
  * Full width ..................... sections that break out of the content
  * Margin Fix ..................... fix for last & first child margins
  *
  * LISTS | _lists.scss
  * Resets ......................... consistent margins & paddings
  * Base Styles .................... ul, ol, dl, li, dt, dd
  * Themes ......................... colored, aligned
  *
  * TABLES | _tables.scss
  * Basic styles ................... table, thead, tfoot, tr, th, td
  * Themes ......................... .striped, .borderless, .compact
  * Comparison ..................... .comparison'
  *
  * MEDIA | _media.scss
  * Images ......................... img, figure, figcaption
  * Embeds ......................... .responsive-embed
  *
  * FORMS | _forms.scss
  * Buttons ........................ button base and state styles
  * Fields ......................... styles for form fields
  * Groups ......................... flex styles for input / button groups

  03-CUSTOM
  * TOC | _toc.scss
  * Container ...................... nav.toc
  * Items .......................... ul / ol item styles
  * Themes ......................... list styles for TOC items
  *
  * ORG-CHART | _org-chart.scss
  * Styles for the org structure chart
  *
  * GRID | _grid.scss
  * Basic grid system

  04-JOOMLA
  * CHIPS | _chips.scss
  * Chips .......................... .label, .label-info, .badge
  * Flags .......................... .flag
  *
  * ALERT | _alert.scss
  * Module overrides ............... box styles
  * Links .......................... red style for links in an alert
  * IE-Only ........................ hide IE alert for non IE devices
  *
  * NEWS | _news.scss
  * Newsflash ...................... grid style news cards
  * Feed ........................... styles article feed module
  *
  * PAGINATION | _pagination.scss
  * Base ........................... overrides joomla styles
  * States ......................... styles for active, etc
  *
  * ARTICLE | _article.scss
  * Layout ......................... reduce column width
  * Meta ........................... meta box styles
  * Intro .......................... styles fancy intro section

  05-WIDGETKIT
  * CORE OVERRIDES | _widgetkit.scss
  * Spacing ........................ Replace wk paddings with s(x) units
  *
  * GRID | _wk-grid.scss
  * Gaps ........................... Use s() units for grid gaps
  *
  * PANELS | _panels.scss
  * Box ............................ box, box-primary
  * Panel Link ..................... overlays for uk-cover
  *
  * DETAILS | _details.scss ........ Size detail image & columns
  * FEATURES | _features.scss ...... Size feature image
  * SLIDESHOW | _slideshow.scss .... Fix margins
  * TABS | _tabs.scss .............. Override styles & fix positioning
  * NUMBERS | _numbers.scss ........ Size numbers & correct margins

  06-SYNDICATION
  * CALENDAR | _calendar.scss
  * Localist widget from campus calendar
  *
  * RSS | _rss-feed.scss
  * Simple RSS Feed Generator

  07-CENTRAL
  * NAVIGATION | _navigation.scss
  * Top navigation ................. Add department styles
  *
  * SIDEBAR | _sidebar.scss
  * Overrides ...................... Correct default styles
  * Border ......................... Column border between sidebar & content
  * Base ........................... Styles for link items
  * Dropdown ....................... Toggle style for sidebar js
  * Separators ..................... Style for item separators
  * Spacing ........................ Adjust margins for modules in sidebar
  *
  * QUICKLINKS | _quicklinks.scss .. Drop shadow fix
  *
  * LAYOUT | _layout.scss
  * Grid ........................... Use grid layout on browsers that can
  * Spacing ........................ Use s() units for paddings & margins
  * Sidebar ........................ Responsive styles for sidebar
  * Banner ......................... banner spacing adjustments
  *
  * BANNER | _banner.scss
  * Reset .......................... Remove several default styles
  * Background ..................... Add banner background
  * Header ......................... Style page header
  * Breadcrumbs .................... Style breadcrumbs in the header
  *
  * FOOTER | _footer.scss
  * Flex ........................... Position footer info
  * Links .......................... Change footer link styles
  * Social ......................... Style for social icons in the footer
------------------------------------------------------------------------- **/

// CORE
// Sass variables, functions, and mixins
// ---------------------------------------------------------------------- **/
@import '01-core/_icons.scss';
@import '01-core/_patterns.scss';

/** BASE
Basic styling for html elements
------------------------------------------------------------------------- **/
@import '02-base/_typography.scss';
@import '02-base/_spacing.scss';
@import '02-base/_lists.scss';

/** JOOMLA
Styles for joomla generated content
------------------------------------------------------------------------- **/

/** CUSTOM
Styles for custom components
------------------------------------------------------------------------- **/

/** WIDGETKIT
Styles for widgetkit generated content and components
------------------------------------------------------------------------- **/

/** SYNDICATION
Styles for widgets used to syndicate data, such as RSS feeds
------------------------------------------------------------------------- **/

/** CENTRAL
Styles that heavily override central CSS and styles related to positions
such as the sidebar, banner, and footer.
------------------------------------------------------------------------- **/

/** HELPERS
Styles that provide atomic classes that help fix layout oddities
on a case by case basis.
------------------------------------------------------------------------- **/
@import '01-core/_helpers.scss';
