/*------------------------
START TEMPLATE SPACIAL ADJUSTMENTS
------------------------*/

/* Fixes a bug where left sidebar was not sized consistantly */
body.hd.sidebars #leftcolumn {
  width: 100%;
}
/* Fixes a bug where the main content was not sized correctly on pages
without a sidebar */
body.hd.inside #whitebox {
  max-width: $max-width;
}

$layout-gap: s(2) !default;
/* This is going to remove odd margins and paddings and implement a more uniform
solution to keep the body content from hitting the edge of the screen when the
viewport is smaller than the content. */

#{$specify} #whitebox {
  padding: 0 $body-pad;
  box-sizing: border-box;
}

/* Decrease the width by the amount of padding on it's parent
This makes sure it aligns properly at max width */
#{$specify} div.topLinearLogo {
  max-width: calc( #{$max-width} - #{s( 2 )} );
}

#{$specify} #content {
  margin: 0;
  width: 100%;
}

/* Add space to both sides of all 100% width containers */
#{$specify} #whitebar,
#{$specify} .topLinearContainer,
#{$specify} #ribbon,
#banner .moduletable {
  padding-right: $body-pad;
  padding-left: $body-pad;
}

/* Remove arbitrary margins , since the padding on the whitebar
serves the same purpose */
#{$specify} #siteName,
#{$specify} #search form {
  margin-right: 0;
  margin-left: 0;
}

/* Add more consistant gap between sidebars and main content*/
body.hd.inside #maincolumn-l {
  margin: 0 0 0 $layout-gap !important;
}
body.hd.inside #maincolumn-r {
  margin: 0 $layout-gap 0 0 !important;
}
body.hd.inside #maincolumn-l-r {
  margin: 0 $layout-gap !important;
}

/* Fix column widths after larger gap is added */
body.hd.inside #maincolumn-l,
body.hd.inside #maincolumn-r {
  width: calc( 78% - #{$layout-gap} ) !important;
}
body.hd.sidebars #leftcolumn {
  max-width: 20%;
}

/* Remove paddings from module tables */
#leftcolumn .moduletable {
  @include reset(padding);
}

/*------------------------
END TEMPLATE SPACIAL ADJUSTMENTS
------------------------*/
/*------------------------
START OVERFLOW FIXES
------------------------*/
/* It looks like the layout is build with floats and containers have been given
overflow: hidden to ensure the content is contained. We're going to be using some
tricks to allow background sections to break out of their parents to look like they
span the full width of the screen, but this overflow fix prevents us from doing this.

I'll implement some clearfixes instead of overflow to ensure content is still contained
but allowing us to break out of them when needed. */
/* Allow content to expand to full viewport width */

body.ribbonFullwidth #whitebox {
  overflow: visible;
}

/* Clearfix for main area.
This fixes layout problems from changing overflow property */
#whitebox::after {
  content: '';
  visibility: hidden;
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

/* Prevents content from overflowing the body */
body.ribbonFullwidth #wrapper {
  overflow-x: hidden;
}
/*------------------------
END OVERFLOW FIXES
------------------------*/

/* RESPONSIVE */

/* Adjust the position of sidebar trigger */
body.linear.hd #sidebar_trigger::before {
  height: auto;
  top: -1.5em;
}

/* Fix width of main column */
@media (max-width: 699px) {
  body.hd.sidebars #maincolumn-l,
  body.hd.sidebars #maincolumn-r,
  body.hd.sidebars #maincolumn-l-r {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* Remove unneeded space from sidebar on med screens */
@media only screen and (max-width: 1024px) {
  body.hd.sidebars #maincolumn-l,
  body.hd.sidebars #maincolumn-r,
  body.hd.sidebars #maincolumn-l-r {
    padding: 0 !important;
    float: left;
  }
  .sidebar {
    padding: 0 !important;
    width: 100% !important;
  }
  .sidebarpanel ul li li {
    text-indent: 0;
  }
  .sidebarpanel_content,
  .left-position .sidebarpanel_content {
    float: none;
  }

  /* Allow content to overflow containers */
  #maincolumn-l-r,
  #maincolumn-l,
  #maincolumn-r,
  #maincolumn-wide,
  #footer,
  #content {
    overflow: visible;
  }
}

@media screen and (max-width: 700px) {
  body.hd.sidebars #leftcolumn {
    max-width: 100%;
    min-width: 250px;
    width: 300px;
  }
  .sidebar {
    margin-right: 50px;
  }
  body.hd #sidebar_trigger.active {
    margin-left: 250px;
  }
}
