/* ==========================================================================
   SECTION HELPERS
========================================================================== */

.u-txt-c { text-align: center !important; }
.u-txt-l { text-align: left !important; }
.u-txt-r { text-align: right !important; }

.u-full {
  display: block;
  width: 100%;
}

.u-round { border-radius: $bdr-radius; }
.u-square { border-radius: 0 !important; }
.u-circle { border-radius: 50%; }
.u-border { border: $bdr-width solid black; }

.overflow-container { overflow: auto; }

.u-no-margin-bottom { margin-bottom: 0 !important; }
.u-no-margin-top { margin-top: 0 !important; }

/* End !SECTION HELPERS */
