@use '@mattmcadams/stratus';
@use 'token';

/* SECTION PATTERNS
========================================================================== */

/* Header Styles
-------------------------------------------------------------------------- */

%header {
  @include token.font('head', 'normal');
  @include token.block-margin;
  color: token.color('text', 'header');
}

/* Links
-------------------------------------------------------------------------- */

/* Link base - medium border bottom */
%link {
  border-bottom-width: token.border('width', 'medium');
  border-bottom-style: solid;
}

/* Link primary
 * border is primary 200 with uab green and light background on hover
**/
%link-primary {
  @extend %link;
  border-color: token.color('primary', '200');
  &:hover {
    border-color: token.color('primary');
    background-color: token.color('primary', '100');
  }
}

/* Link alert
 * This is a red theme of the link style
**/
%link-alert {
  @extend %link;
  border-color: token.color('state', 'warning', '200');
  &:hover {
    border-color: token.color('state', 'warning');
    background-color: token.color('state', 'warning', '100');
  }
}

/* Cards
-------------------------------------------------------------------------- */

%card {
  border: token.border('width', 'hairline') solid token.color('neutral', '800');
  border-radius: token.border('radius', 'large');
  padding: token.space('padding', 'block');
}

/*  Input template
-------------------------------------------------------------------------- */

%input-template {
  box-sizing: border-box;
  padding: token.space('padding', 'input');
  background: white;
  border: token.border('width', 'hairline') solid token.color('neutral', '800');
  border-radius: token.border('radius');
}

/* Buttons
-------------------------------------------------------------------------- */

/* Base button styles, extends base input styles */
%button {
  @extend %input-template;
  color: token.color('neutral', '800');
  text-transform: uppercase;
  font-size: 90%;
  line-height: token.space(1);
  &::after { display: none; }
}

/* Prmary button, extends base button styles */
%button-primary {
  @extend %button;
  color: white;
  background: token.color('primary');
  border-color: token.color('primary');
}

/* Inputs
-------------------------------------------------------------------------- */

/* Base text box / form field style */
%input {
  @extend %input-template;
  color: token.color('text', 'body');
  &:focus, &:focus {
    border-color: token.color('accent');
    box-shadow: 0 0 0 1px token.color('accent');
    outline: thin dotted #333;
    outline-offset: 0;
  }
}

/* Base styles for a text area */
%input-area {
  @extend %input;
  height: token.space(4);
  width: 100%;
  resize: vertical;
  overflow-y: scroll;
}

/* Base style for checkboxes and radio buttons */
%toggle {
  height: 1em;
  width: 1em;
  border: token.border('width', 'hairline') solid token.color('neutral', '800');
}

/* Active checkboxes and radio buttons */
%toggle-active {
  border-color: token.color('accent');
  background: token.color('accent');
  &:focus {
    border-color: token.color('accent');
  }
}

/* Basic hover style
-------------------------------------------------------------------------- */

%hover {
  border-color: token.color('primary');
  background-color: token.color('primary', '100');
  box-shadow: inset 0 0 0 1px token.color('primary');
  color: token.color('text', 'body');
}

/* END !SECTION PATTERNS
========================================================================== */
