// ==========================================================================
// SECTION PATTERNS
// ==========================================================================

//  SECTION Styles
// --------------------------------------------------------------------------

// TEMP Old header style mixin
// @mixin header-style($size: null, $margin: true) {
//   @if $margin == true {
//     margin: 0 0 $header-bottom;
//   }
//   @if $size != null {
//     @include type-setting($size);
//   }
//   @include weight($header-weight, head);
//   font-family: $font-head;
//   color: $c-header;
// }

// TEMP: Old link style mixin
// @mixin link-style($theme: null, $hover: false) {
//   @if $hover == true {
//     @if $theme == alert {
//       background-color: c($c-red, 200);
//       border-color: $c-red;
//     }
//     @else if $theme == mute {
//       background-color: initial;
//       border-color: c($stone, 100);
//     }
//     @else {
//       background-color: c($c-primary, 100);
//       border-color: $c-primary;
//     }
//   }
//   @else {
//     @if $theme == alert {
//       border-bottom: 2px solid $c-red;
//     }
//     @else if $theme == mute {
//       color: white;
//       border-bottom: 2px solid c($stone, 400);
//     }
//     @else {
//       border-bottom: 2px solid c($c-primary, 200);
//     }
//   }
// }

// TEMP: Old hover mixin
// @mixin hover {
//   border-color: $c-primary;
//   box-shadow: 0 0 0 1px $c-primary;
//   background-color: c( $c-primary, 100 );
//   color: black;
// }

// TEMP: Old card style mixin
// @mixin card-styles {
//   border: $bdr-width solid black;
//   border-radius: $bdr-radius;
//   padding: $block-padding;
// }

@mixin block-margin {
  margin: 0 0 s(1) 0;
}

// End !SECTION Styles
//  SECTION Reset
// --------------------------------------------------------------------------
@mixin reset($properties...) {
  @for $i from 0 to length($properties) {
    @if nth($properties, $i + 1) == margin {
      margin: 0;
    }
    @if nth($properties, $i + 1) == padding {
      padding: 0;
    }
    @if nth($properties, $i + 1) == border {
      border: 0;
    }
    @if nth($properties, $i + 1) == float {
      float: none;
    }
    @if nth($properties, $i + 1) == font-size {
      font-size: inherit;
    }
    @if nth($properties, $i + 1) == font-weight {
      font-weight: normal;
    }
    @if nth($properties, $i + 1) == color {
      color: inherit;
    }
    @if nth($properties, $i + 1) == background {
      background: none;
      background-color: transparent;
      background-image: none;
    }
    @if nth($properties, $i + 1) == shadow {
      text-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    @if nth($properties, $i + 1) == transition {
      -webkit-transition-property: none;
      -moz-transition-property: none;
      -o-transition-property: none;
      transition-property: none;
    }
  }
}
// End !SECTION Reset
// End !SECTION PATTERNS
