// ==========================================================================
// SECTION DESIGN TOKENS
// Design tokens are atomic items that record the semantic role of any value
// Tokens also record high level design decisions and branding
// ==========================================================================

@use '@mattmcadams/stratus';
@use 'sass:map';
@use 'sass:meta';

@function get($token, $keys...) {
  @return stratus.get($token, $keys...);
}

$_default-key: 'base';

// SECTION Typography
// ==========================================================================

$font: (
  'body': (
    'base': #{"proxima-nova", arial, helvetica, sans-serif !important},
    'weight': (
      'thin': 100,
      'normal': 400,
      'bold': 600,
      'black': 700
    )
  ),
  'head': (
    'base': #{"kulturista-web", serif},
    'weight': (
      'thin': 300,
      'normal': 400,
      'bold': 600,
      'black': bold
    )
  ),
  'mono': (
    'base': monospace,
    'weight': (
      'normal': normal,
      'bold': bold
    )
  ),
  'icon': (
    'base': 'IcoMoon',
    'weight': (
      'normal': normal,
      'bold': bold
    )
  )
);

@function font($name, $weight: null) {
  @if $weight {
    @return stratus.get($font, $name, 'weight', $weight);
  }
  @return stratus.get($font, $name, $_default-key);
}

@mixin font($name, $weight: null) {
  $_family: font($name);
  $_weight: font($name, $weight);
  font-family: $_family;
  @if $_weight { font-weight: $_weight; }
}

// END !SECTION Typography
// SECTION Color
// ==========================================================================

@function _color-step($color, $step) {
  @return stratus.color-scale($color, stratus.color-index($step));
}

$_brand-color: (
  'uabgreen': #1e6b52,
  'darkgreen': #295135,
  'blaze': #ffd400,
  'apple': #80bc00,
  'gold': #aa9767,
  'stone': #808285
);
@function _brand($color) {
  @return map.get($_brand-color, $color);
}

$color: (
  'primary': (
    'base': #1e6b52,
    '100': #d2e1dc, '200': #a5c4ba, '300': #78a697, '400': #4b8975,
    '500': #1e6b52,
    '600': #185642, '700': #124031, '800': #0c2b21, '900': #061510
  ),
  'accent': (
    'base': #80bc00,
    '100': #e6f2cc, '200': #cce499, '300': #b3d766, '400': #99c933,
    '500': #80bc00,
    '600': #669600, '700': #4d7100, '800': #334b00, '900': #1a2600
  ),
  'secondary': (
    'base': #295135,
    '100': #d4dcd7, '200': #a9b9ae, '300': #7f9786, '400': #54745d,
    '500': #295135,
    '600': #21412a, '700': #193120, '800': #102015, '900': #08100b
  ),
  'neutral': (
    'base': #808285,
    '100': #e6e6e7, '200': #cccdce, '300': #b3b4b6, '400': #999b9d,
    '500': #808285,
    '600': #66686a, '700': #4d4e50, '800': #333435, '900': #1a1a1b
  ),
  'state': (
    'info': (
      'base': #1e6b52,
      '100': #d2e1dc, '200': #a5c4ba, '300': #78a697, '400': #4b8975,
      '500': #1e6b52,
      '600': #185642, '700': #124031, '800': #0c2b21, '900': #061510
    ),
    'notice': (
      'base': #80bc00,
      '100': #e6f2cc, '200': #cce499, '300': #b3d766, '400': #99c933,
      '500': #80bc00,
      '600': #669600, '700': #4d7100, '800': #334b00, '900': #1a2600
    ),
    'caution': (
      'base': #ffd400,
      '100': #fff6cc, '200': #fe9, '300': #ffe566, '400': #fd3,
      '500': #ffd400,
      '600': #ca0, '700': #997f00, '800': #650, '900': #332a00
    ),
    'caution-alt': (
      'base': #ff9800,
      '100': #ffeacc, '200': #ffd699, '300': #ffc166, '400': #ffad33,
      '500': #ff9800,
      '600': #cc7a00, '700': #995b00, '800': #663d00, '900': #331e00
    ),
    'warning': (
      'base': #f00,
      '100': #fcc, '200': #f99, '300': #f66, '400': #f33,
      '500': #f00,
      '600': #c00, '700': #900, '800': #600, '900': #300,
    )
  ),
  'background': stratus.color-alpha(#808285, 0.15),
  'text': (
    'body': black,
    'header': black,
  )
);

@function color($keys...) {
  $_output: stratus.get($color, $keys...);
  @if meta.type-of($_output) == map {
    @return map.get($_output, $_default-key);
  }
  @return $_output;
}

// END !SECTION Color
// SECTION Icons
// ==========================================================================

$icons: (
  'new-tab': '\e024',
  'pdf': '\e239'
);
@function icon($name) {
  @return map.get($icons, $name);
}

$checkbox-checked: 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A';

$radio-checked: 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E';

// END !SECTION Icons
// SECTION Border
// ==========================================================================

$border: (
  'width': (
    'hairline': 1px,
    'medium': 2px,
    'large': 5px
  ),
  'radius': (
    'base': 3px,
    'large': 6px,
    'round': 50%,
    'square': 0
  ),
  'color': (
    'divider': black,
    'accent': stratus.get($color, 'neutral', '200')
  )
);

@function border($keys...) {
  $_return: stratus.get($border, $keys...);
  @if meta.type-of($_return) == map { @return map.get($_return, $_default-key); }
  @return $_return;
}

// END !SECTION Border
// SECTION Spacing
// ==========================================================================

$spacing: (
  'padding': (
    'body': stratus.sp(1),
    'inline': 0 0.2em 0.1em,
    'inline-block': stratus.sp(0.5),
    'input': 0.3em 1em,
    'block': stratus.sp(1),
    'section': stratus.sp(4)
  ),
  'margin': (
    'block': stratus.sp(1),
    'section': stratus.sp(4)
  ),
  'text': (
    'indent': 1.2em
  ),
  'gap': (
    'base': stratus.sp(1),
    'small': stratus.sp(0.5),
    'medium': stratus.sp(1),
    'large': stratus.sp(2)
  ),
);

@function space($key: 1, $path...) {
  @if meta.type-of($key) == number {
    @return stratus.sp($key);
  }
  @return stratus.get(map.get($spacing, $key), $path...);
}

@mixin block-margin {
  margin-bottom: space('margin', 'block');
}

// END !SECTION Border
// SECTION Spacing
// ==========================================================================

$z-index: (
  'deep-background': -200,
  'background': -100,
  'foreground': 1,
  'modal': 100,
  'navigation': 200
);

@function z-index($key) {
  @return map.get($z-index, $key);
}
